﻿@charset "utf-8";

#pMenu {
	position: relative;
}
#pMenu p#flow {
	padding: 15px 0 30px 0;
}
#pMenu li { float: left; width: 144px; }
#pMenu li.promise4 { width: 124px; }
#pMenu li.promise5 { float: right; width: 124px; }

#pMenu li p {
	width: 124px;
	line-height: 1.3;
}
#pMenu li .pimg { position: absolute; }
#pMenu li.promise1 .pimg { top: 16px; left: 202px; }
#pMenu li.promise2 .pimg { top: 136px; left: 202px; }
#pMenu li.promise3 .pimg { top: 36px; left: 311px; }
#pMenu li.promise4 .pimg { top: 16px; left: 460px; }
#pMenu li.promise5 .pimg { top: 136px; left: 460px; }

dl.challenge { padding: 18px 0 25px 0; }
.challenge dt { padding-bottom: 5px; }
.challenge dd {
	padding: 5px 0 0 17px;
	background: url(../../common/img/contentsh3.gif) no-repeat 0 4px;
}

/* 05 */
.stBox-b:after, .popCol-L:after {content: ".";display:block;clear:both;height:0;visibility:hidden;}
* html .stBox-b, * html .popCol-L {height:1%;}
.stBox-b, .popCol-L {zoom:1;}
.stBox-b { border:1px solid #C7C8C3; padding: 10px; }
.stBox-b p { padding-top: 0; line-height: 1.4; }
.leftf { float: left; width: 336px; }
.rightf { float: right; width: 332px; }
ul.stLink1 li { line-height: 1.5; }
ul.stLink1 li {
	padding: 0 0 0 15px;
	background: url(../../environment/promise/img/icon-arrow.gif) no-repeat 0 0.35em;
}


.contents .action_topics {
	margin-top: 20px;
	padding: 19px 19px 19px 19px;
	border: 5px solid #cccccc;
}
.contents .action_topics .con .mark {
	width:65px;
	float:left;
}

.contents .action_topics .con .text {
	float:right;
	width: 570px;
	line-height: 1.5;
}

.contents .action_topics .con p.text {
	float:right;
	margin-right:22px;
	_margin-right:8px;
	width: 550px;
	line-height: 1.5;
}

.contents .action_topics .image {
	clear:both;
	width: 150px;
}


.thbnr {
	float:left;
}

.bnrcen {
	margin-left:227px;
}

.thfru{
	margin-top:31px;
}

.webbell_box{ padding:10px 20px; border:1px solid #ccc; margin-top:20px;}
.webbell_box .left{ width:320px; float:left;}
.webbell_box .right{ width:338px; float:left;}
.webbell_box .right ul{ width:400px;}
.webbell_box .right ul li{ margin-right:10px;}
.webbell_box .left2{ width:263px; float:left;}
.webbell_box .right2{ width:395px; float:left; }
.webbell_box .right2 p{line-height:1.5;}
.topick{ width:570px;}
.topick .left{ width:370px; float:left;}
.topick .right{ width:200px; float:right;}

.bnr_box{ width:100%}
.bnr_box li{ float:left; margin-right:20px;}
.bnr_box .last{margin-right:0;}

/* 210217 */

.contr_bnr_grp figure {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 15px;
}

.contr_bnr_grp figcaption {
	margin-left: 10px;
}

.contr_speissue {
	background-color: #f1f6fe;
	margin-top: 20px;
	padding: 0 10px 10px;
}
.contents .contr_speissue_bnr a {
	text-decoration: none;
}
.contr_speissue_txt {
	margin-bottom: 10px;
}
.contr_speissue_bnr {
	display: flex;
	justify-content: space-between;
}
.contr_speissu_fig {
	background-color: #fff;
	padding: 4px;
	margin-bottom: 2px;
}
.contr_speissu_fig img {
	width: 100%;
}
.contr_speissue_link {
	text-align: center;
	line-height: 1.5;
}
.contr_speissue_link span {
	position: relative;
	padding-left: 25px;
}
.contr_speissue_link span::before {
	position: absolute;
	content: '';
	width: 16px;
	height: 16px;
	left: 0;
	top: 0.3em;
	background-color: #111184;
	border-radius: 50%;
}
.contr_speissue_link span::after {
	position: absolute;
	content: '';
  width: 3px;
  height: 3px;
	left: 0.4em;
	top: 0.8em;
  border: 1px solid transparent;
  border-top: 1px solid #FFF;
  border-right: 1px solid #FFF;
  transform: rotate(45deg);
}
