﻿@charset "utf-8";

#capcenter2{
	clear: left; 
	margin-left:75px;
}

dl.caption dt {
	clear: left;
	float: left;
}

dl.caption dd {
	padding-left:10px;
	padding-bottom:5px;
}

table.caption2 th, table.caption2 td {
	font-size: 10px; line-height: 1.5; 
}


#communication-prize{
	padding-top:10px;
	
	}

.chat{ width: 700px; margin-top: 15px;}
.chat img{ width: 100%;}
.chat .left{ float: left; border: 5px solid #E5E5E5; width:295px; height:480px; margin-right: 30px; padding: 5px 15px 5px 15px;}
.chat .right{ float: left; border: 5px solid #E5E5E5; width:295px;  padding: 5px 15px 5px 15px;height:480px;}
.chat .name{ font-size: 15px; font-weight:bold;}
.chat .photo01{ padding: 10px 20px ;}
.chat .tanto{ font-size: 10px; margin-bottom: 10px;}
.chat .photo03{ padding: 10px 30px 0px 30px;}

.special01 { float: left; margin-right:20px; width: 340px;}
.special02 { float: left; width: 340px;}
.special01 p, .special02 p { padding-top:8px; }

.topmenu h2 img { margin-top: 8px; }
.topmenu h2 { padding-top: 5px; color: #666; line-height: 1.5; }


.specialBox{
	padding-top:7px;
	width:700px;
	clear:both;
}

.specialBox1{
	padding-top:30px;
	width:700px;
	clear:both;
}

/* お客様対応の基本方針および行動指針 */

.customer_policy_wrap {
	margin-bottom: 20px;
}
.customer_policy {
  padding: 0px 30px;
  margin-top: 40px;
}
.contents h2.customer_policy_ttl {
  text-align: center;
  font-size: 2.5rem;
  color: #216a75;
  border-bottom: solid 3px #b6b6ad;
  line-height: 2;
  padding-top: 0;
  font-weight: bold;
}
.contents h3.customer_policy_subttl {
  position: relative;
  font-size: 1.8rem;
  color: #216a75;
  padding-left: 25px;
}
.customer_policy_subttl::before {
  position: absolute;
  content: '';
  background-color: #216a75;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  bottom: 0%;
  transform: translateY(-50%);
  left: 0;
}
.contents p.customer_policy_txt,
.customer_policy_txt {
  font-size: 1.4rem;
  padding-top: 0;
}
.customer_policy_item {
  font-size: 1.4rem;
  text-indent: -1.2em;
  padding-left: 1.2em;
}
.customer_policy_date {
	text-align: right;
  margin-bottom: 1em;
}