@charset "utf-8";

.declaration {
  /* background-color: #eff0ed; */
  padding: 0px 30px;
  margin-top: 40px;
  /* border: 1px solid #b6b6ad; */
}
.contents h2.decla_ttl {
  text-align: center;
  font-size: 2.5rem;
  color: #216a75;
  border-bottom: solid 3px #b6b6ad;
  line-height: 2;
  padding-top: 0;
  font-weight: bold;
}
.contents h3.decla_sub_ttl {
  position: relative;
  font-size: 1.8rem;
  color: #216a75;
  padding-left: 25px;
}
.decla_sub_ttl::before {
  position: absolute;
  content: '';
  background-color: #216a75;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  bottom: 0%;
  transform: translateY(-50%);
  left: 0;
}
.contents p.decla_txt {
  font-size: 1.4rem;
  padding-top: 0;
}
.decla_link {
  margin-left: 20px;
}
.contents ul.decla_link_list {
  margin-left: 1em;
}
.contents ul.decla_link_list,
.contents li.decla_link_item {
  padding-top: 0;
}
.decla_num_box {
  margin-bottom: 20px;
}
.decla_num_ttl {
  font-weight: bold;
  font-size: 1.4rem;
}