﻿@charset "utf-8";

/* 「Consumer Brand商品（CB商品）」の開発 */

.partner_cb_markttl {
	position: relative;
	font-size: 1.4rem;
}
.partner_cb_markttl::before {
	position: absolute;
	content: '';
	width: 100%;
	background-color: #66FF66;
	height: .5em;
	bottom: 0;
	left: 0;
	z-index: -10;
}
.partner_cb_rbox {
	border-radius: 10px;
}
.partner_cb_linkbox {
	display: flex;
	margin-top: 20px;
	padding: 20px;
	border-radius: 10px;
	background-color: #F8F8F8;
}
.partner_cb_linkbox_img {
	width: 300px;
	text-align: center;
}

table.action01 th {
	background: #EDEDEA;
	text-align: center;
}
table.action01 th {
	padding: 4px 15px 3px 15px;
	border: 1px solid #CCC;
}
table.action01 td {
	padding: 12px 18px 12px 10px;
	border: 1px solid #CCC;
}
table.action01 td {
	vertical-align: middle;
}


table.partner01 th {
	background: #EDEDEA;
	text-align: center;
}
table.partner01 th {
	padding: 4px 15px 3px 15px;
	border: 1px solid #CCC;
}
table.partner01 td {
	padding: 12px 18px 12px 10px;
	border: 1px solid #CCC;
}
table.partner01 td {
	vertical-align: middle;
}


.bbox{ padding: 20px; border: 1px solid #ccc; box-sizing: border-box; margin-top: 20px;}
.bbox .tit{font-weight: bold; font-size: 13px; display: block; margin-bottom: 10px;}

/* アスクル サステナブル調達方針 */

.procurement_wrap {
	background-color: #eff0ed;
	padding: 20px 30px;
}

.contents h3.procurement_ttl {
	text-align: center;
	font-size: 1.8rem;
	color: #216a75;
	border-bottom: solid 3px #b6b6ad;
	line-height: 2;
	padding-top: 0;
}

.procurement_desc {
	font-size: 1.4rem;
}

.procurement_num_list {
	font-weight: bold;
	color: #216a75;
}

.procurement_num_list > li {
	font-size: 1.4rem;
	margin-bottom: 1em;
}

.procurement_num_list li ul li {
	font-size: 1.4rem;
	font-weight: normal;
}

.procurement_foot {
	margin-top: 20px;
	border-top: solid 3px #b6b6ad;
	padding-top: 5px;
}

.procurement_date {
	text-align: right;
}

