﻿@charset "utf-8";

#capcenter{
	clear: left;
	margin-left:130px;
	/margin-left:145px;
}

.mb20 {
	margin-bottom:20px;	
}

.column {
	clear:both;
	padding: 10px 10px 10px 6px;
	border: 5px solid #E5E5E5;
	background:url(../img/social_topics.gif) 10px 10px no-repeat;
}

.column .text {
	margin:0 0 0 80px;
	padding:0;
}

.left_txt{}
.left_txt{margin-right:0; width: 100px;  float: left; padding-top: 0 !important;}
.right_txt{ float: left; width: 600px; padding-top: 0 !important;}

.measure dt {
	padding: 5px 0 0 17px;
	background: url(../../common/img/contentsh3.gif) no-repeat 0 4px;
	font-size: 14px;
	line-height: 25px;
	font-weight: bold;
}
#work03 .leader{width:150px;float:right; margin-left: 20px; }

.marks .box{ width:700px;}
.marks .box .txt{ width:580px; float:left; margin-right:20px;}
.marks .box .logo{ width:100px; float:left; margin-top:-30px;}
.marks .box .logo2{ width:100px; float:left; margin-top:-20px;}


.mokuhyo .line{border: 1px dotted #ccc; padding:15px 20px !important; margin-top: 10px;}
.mokuhyo .left{ float: left; width: 80%; margin-right: 5%; padding-top: 0;}
.mokuhyo .left span{ text-align: right; display: block;}
.mokuhyo .right{width:10%;float:left; padding-top: 0;}

#work16 .box{ width:700px;}
#work16 .box .txt{ width:530px; float:left; margin-right:20px;}
#work16 .box .img{ width:150px; }





.text_bold{ font-weight:bold;}
.text_tit{font-size: 14px; line-height: 25px; font-weight: bold; margin-bottom:-10px;margin-top: 30px;}
.text_mini{ font-weight:normal;}


.smenuArea li.pl30{ padding-left: 30px;}
.smenuArea li.pl45{ padding-left: 45px;}
.smenuArea li.pl72{ padding-left: 72px;}

.bmidashi{ width: 700px}
.bmidashi span{ color: #8888c1}

.mmidashi{ font-size: 20px; font-weight: bold; border-bottom: 3px solid #b6b6ad;}
.mmidashi span{ color: #8888c1}

.smidashi{ font-size: 16px; font-weight: bold; border-bottom: 2px dotted #b6b6ad;}
.smidashi span{ color: #8888c1}

.box01 {}
.box01 .txtarea{float: left; width: 80%; text-align: right; margin-right: 5%; margin-top: 30px;}
.box01 .photo{float: left;width: 15%; }

.towa{ border: 1px #ccc dotted; padding: 20px 30px; margin-top: 20px;}
.towa span{ font-weight: bold; font-size: 14px;}

.daiba{ padding: 10px 25px 20px 25px; border: 1px solid #ccc; margin-top: 20px;}
.daiba .midashi{ font-size: 20px; font-weight: bold; text-align: center; line-height: 23px; margin-bottom: 20px;}
.daiba .midashi span{ font-size: 14px; font-weight: normal;}
.daiba dl{ margin-top: 5px; width: 100%;}
.daiba dt{ width:14%; float: left; font-weight: bold;font-size: 14px;}
.daiba dd{ width:86%; float: left;font-size: 14px;}
.daiba .ltit{font-weight: bold;font-size: 14px; clear: both;margin-top: 5px; padding-top: 0;}
.daiba ul{ padding-top: 0; position: relative;}
.daiba li{font-size: 14px;font-weight: bold;margin-top: 5px; padding-top: 0;}
.daiba li span{font-weight: normal; display: block; margin-left: 41px;}
.daiba .photo{ position: absolute; top: 0; right: 0;}

.health{}
.health .box{ width: 100%;}
.health .box .left{ width: 430px; margin-right: 50px; float: left;}
.health .box .right{ width: 210px; float: right;}
.health .box .sub_tit{ font-size: 14px; font-weight: bold;}
.health .box .txtbox{width: 460px; margin-right: 10px; float: left;}
.health .box .pbox{ width: 230px; float: right; padding-top: 20px; text-align: center;}
.health .box .txtbox2{width: 460px; margin-right: 10px; float: left;}
.health .box .pbox2{ width: 220px; float: right; padding-top: 20px; text-align: right;}
.health .box .pt{ padding-top:30px !important;}

.health .box .txtbox3{width: 100%;}

.health .box .indent{padding-left:1.5em;text-indent:-1.5em; margin-left: 0;}
