@charset "utf-8";

sup {
  font-size: 80%;
  vertical-align: super;
}

.heading_desc {
  text-align: center;
}

.section {
  margin-bottom: 10px;
}

.sec_ttl {
  color: #c2b398;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-bottom: .5em;
}

.sec_ttl > span {
  padding: 0 1em 5px;
  border-bottom: 3px solid #c2b398;
}

.flow_fig {
  margin-top: 20px;
}

.goods_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
}

.goods_div:not(:first-of-type) {
  margin-top: 50px;
}

.contents p.goods_desc {
  text-align: center;
  padding-top: 0;
}

.goods_desc_note {
  font-size: 1rem;
  text-align: right;
}

.esutee_logo {
  text-align: center;
  margin-top: 30px;
}

.goods_pic {
  text-align: center;
}

.contents h3.goods_ttl {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  background-color: #CABDA6;
  border-radius: 5px;
  padding: 5px 0;
}

.contents p.goods_desc_note {
  padding-top: 0;
}

.goods_ttl {
  margin-top: 10px;
}

.contents .colbtn {
  margin-top: 15px;
}
.contents .colbtn_title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 0;
}
.contents .colbtn_title img {
  display: block;
  margin: auto;
}
.contents .colbtn > ul {
  /* width: 545px; */
  margin: auto;
}
.contents .colbtn > ul > li {
  padding: 0;
  width: 110px;
  float: left;
  margin-right: 5px;
}
.contents .colbtn > ul > li:last-child{
  margin-right: 0;
}
.contents .cf:before,
.contents .cf:after {
 content: " ";
 display: table;
}

.contents .cf:after {
 clear: both;
}

.contents a.pf-btn {
  text-align: center;
  font-size: 1rem;
  line-height: 1.3;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: block;
  background-color: #4daa61;
  border-radius: 5px;
  padding: 5px 5px;
  box-sizing: border-box;
}
.contents .pf-btn-blue-wrap {
  width: 460px;
  margin: auto;
}
.contents .pf-btn.pf-btn-blue {
  background-color: #0081cc;
  padding: 15px;
}
.contents .pf-btn.pf-btn-blue > span {
  display: inline-block;
  padding-left: 25px;
}
.contents .pf-btn-red-wrap {
  width: 290px;
  margin: auto;
}
.contents .pf-btn.pf-btn-red {
  background-color: #e8465a;
  padding: 15px;
}
.contents .pf-btn.pf-btn-red > span {
}
.contents .pf-btn:hover {
  opacity: .7;
}
.contents .pf-btn > span {
  display: block;
  position: relative;
  background: url(../img/phasefree_icon_link.png) no-repeat left center;
  background-size: 12px;
  padding-left: 12px;
}
.contents .pf-btn-red span,
.contents .pf-btn-blue span {
  background: none;
}
.contents .pf-btn-red span::before,
.contents .pf-btn-blue span::before {
  content: '';
  display: block;
  position: absolute;
  top:50%;
  left: 0;
  margin-top: -5px;
width: 0;
height: 0;
border-style: solid;
border-width: 5px 0 5px 9px;
border-color: transparent transparent transparent #ffffff;
}

.aid_sec_ttl_wrap {
  text-align: center;
}

.aid_sec_ttl {
  display: inline-block;
  text-align: left;
  line-height: 1.5;
}

.aid_sec_ttl span:first-of-type {
  border: none;
  font-size: 1.2rem;
  padding: 0 0 5px;
}

.aid_sec_ttl span:last-of-type {
  padding: 0 0 5px;
  border-bottom: 3px solid #c2b398;
}

.aid_about {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDEDED;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 20px 0;
}

.contents p.aid_about_txt {
  margin-left: 20px;
  padding-top: 0;
}

.aid_about::before {
  position: absolute;
  content: "";
  width: 120px;
  height: 87px;
  background: url(../img/air_balloon.png) no-repeat;
  top: -90px;
  left: 0%;
}

.aid_ttl {
  font-weight: bold;
  font-size: 1.4rem;
}

.aid_report_tbl span {
  display: inline-block;
}

.aid_progress, .aid_use, .aid_use_fig {
  display: flex;
  justify-content: space-between;
}

.aid_progress_fig figcaption,
.aid_use_fig figcaption {
  font-size: 10px;
}

.aid_use_l {
  min-width: 340px;
}

.aid_use_l-balloon {
  text-align: right;
  margin-top: 10px;
}

.aid_use_fig-balloon {
  position: relative;
  display: inline-block;
  text-align: left;
  border: 1px solid #BEB5AC;
  border-radius: 5px;
  padding: 3px 10px;
  width: 12em;
}

.aid_use_fig-balloon::before {
  position: absolute;
  content: '';
  top: 32px;
  right: -36px;
  margin-top: -18px;
  border: 10px solid transparent;
  border-left: 26px solid #FFF;
  z-index: 2;
}

.aid_use_fig-balloon::after {
  content: "";
  position: absolute;
  top: 31px;
  right: -37px;
  margin-top: -18px;
  border: 11px solid transparent;
  border-left: 26px solid #BEB5AC;
  z-index: 1;
}

.aid_use_fig-r {
  margin-left: 10px;
}

.aid_prob {
  border: 4px solid #187EAC;
  padding: 20px;
  border-radius: 15px;
}

.aid_prob_01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.aid_prob_01_txt_area {
  margin-right: 15px;
}

.contents p.aid_prob_01_txt {
  font-weight: bold;
  font-size: 1.3rem;
  padding-top: 0;
}

.contents p.aid_prob_01_note {
  font-size: 1rem;
  text-align: right;
  padding-top: 0;
}

.aid_prob_02 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.aid_prob_02_cap {
  font-size: 1rem;
  text-align: right;
}

.contents p.aid_prob_02_txt {
  color: #1f4e79;
  font-weight: bold;
  margin-left: 15px;
  padding-top: 0;
}

.aid_prob_03 {
  display: flex;
  justify-content: space-between;
}

.contents p.aid_prob_03_txt {
  width: 48%;
  color: #1f4e79;
  font-weight: bold;
  padding-top: 0;
}

.aid_prob_04 {
  text-align: right;
}

.air_summary {
  font-size: 1.6rem;
  color: #c2b398;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
}