﻿@charset "utf-8";

#catImage ul { padding-top: 0; }
#catImage li { padding-top: 5px; float: left; }
#catImage li.cat1, #catImage li.cat3 { padding-right: 10px; }

.mt15 {
	margin-top:15px;
}

.mt40 {
	margin-top:40px;
}

.mt54 {
	margin-top:54px;
}



.pb15{
	padding-bottom:15px;
}

span.bold {
	font-weight:bold;
}

span.red {
	color:#FF0000;
}

.line_h16{ line-height:1.6;}


.shien_box {
	width:668px;
	_width:700px;
	border:1px solid #cccccc;
	margin-top:5px;
	padding:15px;
}

.shien_box_img {
	width:105px;
	float:left;
}

.shien_box_img img {
	line-height:110px;
}

.shien_box_txt {
	margin-left:120px;
	float:none;
}




#syouhinka1_box {
	margin-top:5px;
}

#syouhinka01_box .left {
	float:left;
	width:361px;
	height:250px;
	margin-right:27px;
	position:relative;
	z-index:1;
}

#syouhinka01_box .left img.buy_button {
	position:absolute;
	z-index:5;
	left: 1px;
	top: 99px;
}

#syouhinka01_box .right {
	float:right;
	width:311px;
}

#syouhinka01_box .right p {
	padding:0;
}

#designer_message_box {
	margin-top:15px;
}

#designer_message_box img.designer_message_title {
	float:left;
	width:200px;
}

table#designer_message {
	margin-top:15px;
}

table#designer_message td {
	width:100px;
	padding:0 12px 0;
	border-right:1px solid #cccccc;
	font-size: 10px;
	width:100px;
	line-height: 1.5;
}

table#designer_message tr.img td {
	padding-top:8px;
	vertical-align:top;
}

table#designer_message tr.img td.title {
	width:200px;
	padding:0;
	border:0;
	vertical-align:top;
}

table#designer_message tr.name {
	font-weight:bold;
	vertical-align:middle;
}

table#designer_message tr.name td {
	padding-top:5px;
	padding-bottom:5px;
}

table#designer_message tr.txt {
	padding-top:5px;
	vertical-align:top;
}

#taisyousyouhin01_box {
	z-index:1;
	width:700px;
	margin-top:14px;
}

#taisyousyouhin01_box img.buy_button {
	padding: 10px;
}


#taisyousyouhin02_box {
	margin-top:17px;
}

#taisyousyouhin02_box .left {
	float:left;
	width: 341px;
	height: 260px;
	border-right:1px solid #cccccc;
}

#taisyousyouhin02_box .right {
	float:left;
	width: 358px;
	height: 260px;
}

#taisyousyouhin02_box .right img.buy_button {
	margin-left:18px;
}
.btnLeftBox {
	float: left;
	width: 430px;
}
.chushakuRighBox {
	float: left;
	width: 270px;
}

.chushakuRightTxt{
letter-spacing: -0.1em;
	font-size: 10px;
	line-height: 1.5;
	text-indent:-1em;
	padding-left:40px;
	padding-bottom:10px;
	
	}
	
.rightBoxImg{
	padding-left:30px;
}

.rightBoxBtn{
	padding-top:10px;
	padding-left: 30px;
}

.clearBox{
	clear:both;
}

.shien_houkoku {
	width:660px;
	_width:680px;
	border:1px solid #cccccc;
	margin-top:5px;
	padding:19px;
}

.shien_houkoku .text{
	width:440px;
	_margin-right:20px;
}

.shien_houkoku .img{
	width:200px;
}


/* 以下20120220更新分 */
/* --------------------------------
support
-------------------------------- */
.contents .colListSupport {
	margin-top:0;
	padding-top:0;
}
.contents .colListSupport li {
	width:335px;
	float:left;
	line-height: 1.4;
	padding-right:30px
}
.contents .colListSupport li.last {
	padding-right:0;
}
.contents .colListSupport li img {
	margin-bottom:10px;
}

.contents .colListSupport li a.img_link {
	text-decoration: none;
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 2.3;
	border-bottom: 1px solid #ddd;
	display: inline-block;
	margin-bottom: 10px;
	color: #333;
}
.contents .colListSupport li a.img_link img {
	margin-bottom:0px;
}


/* --------------------------------
support01
-------------------------------- */
#support01_01{
	margin:0;
	margin-bottom:-40px;
	padding:10px 0 0 0; 
	height:860px;
	width:700px;
	position:relative;
}

#support01_01 img#img_support01_20{
	position:absolute;
	top:8px;
	left:1px;
}

#support01_01 img#img_support01_21{
	position:absolute;
	top:15px;
	left:94px;
	z-index:5;
}



/* 以下201508更新分 */

#support01_01 img#img_support01_83{
	position:absolute;
	top:113px;
	right:110px;
}

#support01_01 img#img_support01_84{
	position:absolute;
	top:120px;
	left:8px;
}

#support01_01 img#img_support01_87{
	position:absolute;
	top:195px;
	right:20px;
	z-index:10;
}

#support01_01 img#img_support01_86{
	position:absolute;
	top:510px;
	left:308px;
}

#support01_01 img#img_support01_85{
	position:absolute;
	top:244px;
	left:8px;
}

#support01_01 img#img_support01_89{
	position:absolute;
	top:565px;
	left:40px;
	z-index:10;
}

#support01_01 img#img_support01_90{
	position:absolute;
	top:550px;
	left:554px;
	z-index:10;
}

#support01_01 img#img_support01_88{
	position:absolute;
	top:430px;
	left:66px;
	z-index:7;
}

#support01_01 img#img_support01_91{
	position:absolute;
	top:665px;
	left:8px;
	z-index:5;
}
#support01_01 img#img_support01_94{
	position:absolute;
	top:120px;
	right:30px;
	z-index:5;
}

#support01_01 img#img_support01_93{
	position:absolute;
	top:220px;
	left:260px;
	z-index:5;
}

#support01_01 img#img_support01_98{
	position:absolute;
	bottom:150px;
	right:53px;
	z-index:10;
}

#support01_01 img#img_support01_104{
	position:absolute;
	top:317px;
	right:48px;
	z-index:10;
}

#support01_01 img#buy_button01_01{
	position:absolute;
	top:750px;
	left:285px;
}

#support01_01 img#buy_button01_02{
	position:absolute;
	top:778px;
	left:307px;
}

#support01_01 .note {
	position: absolute;
	top: 795px;
	left: 0;
}

.sanko .left{ width:270px; margin-right:20px; float:left;}
.sanko .right{ width:360px; float:left;}




/* 以下201502更新分 */

#support01_01 img#img_support01_74{
	position:absolute;
	top:12px;
	left:404px;
}

#support01_01 img#img_support01_75{
	position:absolute;
	top:118px;
	left:8px;
}

#support01_01 img#img_support01_76{
	position:absolute;
	top:118px;
	left:334px;
}

#support01_01 img#img_support01_77{
	position:absolute;
	top:212px;
	left:8px;
}

#support01_01 img#img_support01_78{
	position:absolute;
	top:400px;
	left:341px;
	z-index:10;
}

#support01_01 img#img_support01_79{
	position:absolute;
	top:400px;
	left:534px;
	z-index:10;
}

#support01_01 img#img_support01_80{
	position:absolute;
	top:493px;
	left:200px;
	z-index:7;
}

#support01_01 img#img_support01_81{
	position:absolute;
	top:571px;
	left:8px;
	z-index:5;
}








.jisseki {
	background:#f5f5f5;
	padding:15px 20px;
}

.jisseki table tr.center td{
	text-align:center;
}

.jisseki table td.title {
	border-bottom:2px solid #CCCCCC;
}


.jisseki table td.txt {
	padding:12px 5px 12px 5px;
	text-align: center;
}
.jisseki table td.txt2 {
	padding:0 5px 12px 5px;
}

.jisseki table td.bottom {
	background:#ffffff;
	border-top:2px solid #CCCCCC;
}

.jisseki table td.bottom_txt {
	background:#ffffff;
	border-top:8px solid #CCCCCC;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	padding: 10px;
}

.jisseki table td.bottom_txt span {
	font-size: 1.6rem;
	font-weight: normal;
}
.jisseki2 table tr.center td{
	text-align:center;
	border: 1px solid #CCCCCC;
}

.jisseki2 table td.title {
	border-bottom:2px solid #CCCCCC;
}


.jisseki2 table td.txt {
	padding: 10px 0;
}

.jisseki2 table td.bottom {
	background:#ffffff;
	border-top:2px solid #CCCCCC;
}

.jisseki2 table .t01 {
}


/* --------------------------------
support120820
-------------------------------- */

.jisseki table td.uline {
	border-bottom:1px solid #CCCCCC;
}


p.txtu {
line-height:120%;
clear:right;
margin-left:360px;
}

p.in2e {
	text-indent:1em;
}

p.txtsl {
	margin:0;
	padding:0;
	line-height:1.7em;
}



/* --------------------------------
support02
-------------------------------- */

#support02_01{
	margin:0;
	padding:10px 0 50px 0;
	height:915px;
	width:700px;
	position:relative;
	z-index:0;
}

#support02_01 img#img_support02_35{
	/* position:absolute; */
	/* left:0px; */
	/* top:8px; */
	margin-bottom: 15px;
}

#support02_01 img#img_support02_36{
	position: absolute;
	left: 90px;
	top: 8px;
}


#support02_01 img#img_support02_90-01{
	position:absolute;
	left:549px;
	top:297px;
	z-index:10;
}

#support02_01 img#img_support02_90-02{
	position:absolute;
	left:583px;
	top:272px;
	z-index:20;
}

#support02_01 img#img_support02_90-03{
	position:absolute;
	left:616px;
	top:297px;
	z-index:30;
}

/*20140130*/

#support02_01 img#img_support02_86{
	position:absolute;
	left:523px;
	top:6px;
}


#support02_products ul li{
	float:left;
	padding:0;
}
#support02_products ul .bg{ background-color:#ffff99; margin-top:7px; height:188px; margin-left:28px;}
#support02_products ul li .cap{ float:left; margin-right:5px; padding:20px 0 0 15px}
#support02_products ul li .item{ float:left; width:175px; text-align:center;}

#support02_products{
	/* position:absolute;
	left:0px;
	top:160px; */
	clear: both;
	margin-top: 25px;
}

#support02_01 img#img_support02_114{
	/* position:absolute;
	left:0px;
	top:110px; */
	float: left;
}

/* btn */

#support02_01 img#buy_button01{
	/* position:absolute;
	left:270px;
	top:115px; */
	margin-left: 35px;
}


/*20140814*/


#support02_products2 ul li{
	float:left;
	padding:0;
	padding-bottom:40px;
}



/**/


#support02_02 {
	margin-top:6px;
	padding:0;
	border-top:1px solid #c4da9c;
}

* html #support02_02 {
	margin-top:25px;
	padding:0;
	border-top:1px solid #c4da9c;
}

#support02_02 img{
	vertical-align:top;
	float:left;
	margin-right:18px;
}

#support02_02 p{
	float:left;
	width:360px;
	margin-top:0;
	line-height:1.8em;
}

#support02_03 {
	float:right;
	width:700px;
	margin-top:12px;
	padding:10px 10px 10px 0;
	background:#f2f2f0;
}

#support02_03 table tr.txt td{
	padding-top:3px;
	padding-left:10px;
	font-size:10px;
}

#support02_03 table td.name{
	width:88px;
	font-size:11px;
	font-weight:bold;
	padding-left:10px;
}

#support02_03 table td.rb{
	padding-right:10px;
	border-right:1px solid #dfdfde;
}


/*20140129*/

.support02pass{
	width:305px;
	margin-top:10px;
}

.support02pass ul li{
	float:right;
	padding:12px 0 0 7px;
}



/*20150129*/
#support01-news{
	background:#f0f0ee;
	margin-top:10px;
	padding:10px;
}
#support01-news ul{
	padding-top:0px;
}
#support01-news ul li{
	padding-top:0px;
}
#support01-news ul li img{
	margin-right: 5px;
	vertical-align: middle;
}



.support01-kids{
	margin-top:20px;
	border:#cccccc solid 1px;
	padding:30px 30px;
}

.support01-kids-ttl{
	float:left;
	width:400px;
}


.support01-kids-image{
	float:right;
}

.support01-kids-txt{
	margin-top:10px;
	 }
	 
/*20160203*/
	 
.list5{ width:730px;}
.list5 li{ width:136px; float:left; margin-right:5px;}

.listbox{ width:700px;}
.listbox .left{ width:380px; float:left; margin-right:20px;}
.listbox .right{ width:300px; float:left;}

.sanko { width:650px; margin:0 auto; position: relative;}
.sanko .new{ position: absolute; top: -25px; left: -30px;}
.sanko table{margin-bottom: 10px;}
.sanko table td{ padding:5px; border: 1px solid grey;}
.sanko table .sub_tit{ width:62px;}

.sanko .jikai{ padding:10px 100px; text-align:center; background:#FFC;}
.sanko .school{}
.sanko .school .logo{ width:70px; margin-right:10px; float:left;}
.sanko .school .name_box{ width:260px; float:left;}
.sanko .school .name_box .name{ font-size:15px; font-weight:bold;}
.sanko .school .name_box .mini{ font-size:11.5px;}
.sanko .school .detail{ width:310px; float:left; line-height:1.5; font-size:11.5px}

.sanko .coment{ width:90%; padding:2% 5%; background:#eee; position:relative; color:#000; font-weight:normal;border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;}
.sanko .coment .sankaku{ position:absolute; top:-45px; left:248px;}

.sanko .coment .left{ width:174px; float: left; }
.sanko .coment .txt{ float: left;  width:391px; }
.sanko .coment .txt2{ float: right;  width:260px; margin-top: -10px;}
.sanko .coment .txt3{ float: right;  width:430px; margin-top: -10px;}

.sanko .coment02{ width:70%; float: right; padding:2% 5%; background:#eee; position:relative; color:#000; font-weight:normal;border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;}
.sanko .coment02 .sankaku02{ position:absolute; top:20px; left:-36px;}

.sanko .coment03{ width:50%; float:left; padding:2% 5%; background:#eee; position:relative; color:#000; font-weight:normal;border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;}
.sanko .coment03 .sankaku{ position:absolute; top:-47px; left:247px;}

.sanko .coment04{ width:28%; float:right; padding:2% 5%; background:#eee; position:relative; color:#000; font-weight:normal;border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;}

.sanko .coment05{ width:136px; float:right; padding:30px 20px; background:#eee; position:relative; color:#000; font-weight:normal;border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;}

.sanko .people{ float: left; width: 15%;}
.sanko .people img{ width: 100%;}



.ml01{ margin-left:125px !important;}
.ml02{ margin-left:25px !important;}
.ml03{ margin-left:105px !important;}

.mr01{ margin-right:33px !important;}

.item_box{ width:698px; border:1px solid #85B200;border-radius: 10px 10px;}
.item_list{ text-align:center; position:relative; padding:20px 0;}
.item_list .logo{  position:absolute; top:20px; left:35px;}
.item_list .logo2{  position:absolute; top:20px; left:32px;}
.item_list li{ width:30%; margin:0 5px; vertical-align:top; float:left;}
.item_list .w35{ width:35% !important;}
.item_list li a:hover img{filter: alpha(opacity=70);
-moz-opacity:0.7;
opacity:0.7;}
.item_list li a, .item_list li a:hover{ text-decoration:none; color:#000;}
.item_list li .name_box{ margin-top:10px;}
.item_list li .detail_box{  
	background:#fff;
	border:1px solid #A5CE80;
	border-radius: 0px 0px 10px 10px; padding:0 10px; text-align:left;}
	
.item_box2{ width:700px;}
.item_list2{ text-align:center; position:relative; padding:20px 0;}
.item_list2 .logo{  position:absolute; top:-83px; right:0px;}
.item_list2 li{ width:30%; margin:0 5px; vertical-align:top; float:left}
.item_list2 li a:hover img{filter: alpha(opacity=70);
-moz-opacity:0.7;
opacity:0.7;}
.item_list2 li a, .item_list li a:hover{ text-decoration:none; color:#000;}
.item_list2 li .photo{}
.item_list2 li .name_box{padding:0 10px; font-weight:bold;}

.item_box3{ width:700px;}
.item_list3{ text-align:center; position:relative; padding:20px 0;}
.item_list3 .logo{  position:absolute; top:-160px; right:0px;}
.item_list3 li{ width:auto; float:left; vertical-align:top;}
.item_list3 li a:hover img{filter: alpha(opacity=70);
-moz-opacity:0.7;
opacity:0.7;}
.item_list3 li a, .item_list li a:hover{ text-decoration:none; color:#000;}
.item_list3 li .name_box{padding:0; font-weight:bold;}
.item_list3 .brand01{ position:absolute; top:-20px; left:0; text-align:left; z-index:10px;}
.item_list3 .brand02{ position:absolute; top:-20px; left:323px; text-align:left; z-index:10px;}
.item_list3 li .back{ z-index:-1; position:relative;}

.link_box{ padding:5px 20px 10px 20px; border:1px solid #000;}
.tit_box{ font-size:13px; font-weight:bold; text-align:left;}
.link_box .txt{ text-align:left;}
.link_box .bnr_box{ text-align:center; width:580px; margin:0 auto;}
.link_box .bnr_box li{ float:left;width:270px; margin:0 10px; text-align:center;}
.link_box .bnr_box li img{}
.link_box .bnr_box li a:hover img{filter: alpha(opacity=70);
-moz-opacity:0.7;
opacity:0.7;}

.hero_bottom_txt{ padding:10px 0; text-align:center;border: 1px solid #cccccc;}


.accordion {
	width: 100%;
}
.accordion > ul > li > a {
	display: block;
	position: relative;
}
.accordion > ul > li > a:hover { color:#000 !important;}
.accordion .tit1{ width:700px; height:23px; background:url(../img/h2_support03.gif) no-repeat; cursor:pointer; padding-top: 0; margin-bottom: 10px;}
.accordion .tit2{ width:700px; height:23px; background:url(../img/h2_support03.gif) no-repeat; cursor:pointer;
margin-bottom: 10px;
}
.accordion .tit3{ width:700px; height:23px; background:url(../img/h2_support03.gif) no-repeat; cursor:pointer;}
.accordion .li{ padding-top:0 !important;}

.accordion > ul > li > a:after, div.accordion > ul > li > a.active:after{
	font-size: 12px;
	position: absolute;
	right: 12px;
	top: 1px;
	color: #fff;
}
.accordion > ul > li > a:after{
	content: "＋";
	cursor:pointer;
	font-weight:bold;

}
.accordion > ul > li > a.active:after{
	content: "−";
	cursor:pointer;
	font-weight:bold;
	font-size:15px;
}
.accordion > ul > li > ul {
	display: none;
}

.accordion ul{ padding-top:0;}
.accordion li{ padding-top:0 !important;}

.pb0{ padding-bottom:0 !important;}
.ptb0{ padding:0 20px !important;}

.contents .action_topics {
	margin-top: 20px;
	padding: 19px 19px 19px 19px;
	border: 5px solid #cccccc;
}
.contents .action_topics .con .mark {
	width:65px;
	float:left;
}

.contents .action_topics .con .text {
	float:right;
	width: 570px;
	line-height: 1.5;
}

.contents .action_topics .con p.text {
	float:right;
	margin-right:22px;
	_margin-right:8px;
	width: 550px;
	line-height: 1.5;
}

.contents .action_topics .image {
	clear:both;
	width: 150px;
}

.contents .action_topics .con p.text02 {
	float:left;
	margin-right:10px;
	_margin-right:8px;
	width: 300px;
	line-height: 1.5;
}

.contents .action_topics .image02 {
	float:left;
	width: 235px;
}

.contents .action_topics .text02 {
	float:left;
	width: 235px;
}

.contents .action_topics .text02 ul{
	float:left;
	width: 100%;
	padding-bottom: 10px;
}

.contents .action_topics .text02 li{
	float:left;
	width:33%;
}





.workshop{margin-top: 20px;padding: 20px 20px 20px 20px;border: 5px solid #E5E5E5;}
.workshop .topic img{float: left;}
.workshop .topic p{float: left; font-size: 16px; font-weight: bold; margin: 10px 0 0 20px;}
.workshop .subtit{ font-size: 14px; font-weight: bold;}
.workshop .left_clm{ width: 100%;}
.workshop .mr2{ margin-right: 2%;}
.workshop .photo_box{ width: 48%; float: left; margin-top: 10px;}
.workshop .photo_box img{ width: 100%;}
.workshop .photo_box p.kapCaption{ padding-top: 0px; }


.mokuji{ }
.mokuji li{ width: 100%; float: left;}

.koe{ margin-top: 30px;width: 100%; padding: 20px; border: 5px solid #E5E5E5; box-sizing: border-box;}
.koe .subtit{}
.koe ul{ margin-top: 20px;}
.koe li{ width:166px; float: left; margin: 0 5px 10px 5px; background: #fffece; padding:10px 20px; height:70px;box-shadow:2px 2px 4px gray;
display: flex; /* 子要素をflexboxで揃える */
    flex-direction: column; /* 子要素をflexboxにより縦方向に揃える */
		justify-content: center; /* 子要素をflexboxにより中央に配置する */
		/* box-sizing: content-box; */
}
.koe li.nob{ background: none;padding:15px 0 0 10px;box-shadow:none;text-align: justify; }

.page_tops{ float: right; width: 150px;}
.page_tops a:hover{opacity: 0.8;}


/* 2020.11.19 */

.contents h3.mmidashi {
	font-size: 20px;
	padding-left: 10px;
	padding-top: 0 !important;
	border-left: 3px solid #76aa19;
}
.mmidashi span {
	font-size: 16px;
}

.ssum {
	border-top: 6px solid #CCCCCC;
	text-align: center;
	font-size: 22px;
}
.ssum span {
	font-size: 15px;
}

/* 産業支援 */

.ind_new_supp {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}

.ind_new_supp_grp {
	width: 32%;
	border: 1px solid #7ecef4;
	border-radius: 10px;
	padding: 5px 15px 10px;
	box-sizing: border-box;
}

.ind_new_supp_ttl {
	text-align: center;
	font-size: 1.6rem;
	font-weight: bold;
	padding-bottom: .8em;
}

.ind_new_supp_ttl span {
	position: relative;
	padding: 0 0.5em;
}

.ind_new_supp_ttl span::before {
	position: absolute;
	content: '';
	background-color: #aadff9;
	width: 100%;
	height: 0.5em;
	left: 0;
	bottom: 0;
	z-index: -10;
}

.ind_h4 {
	margin-top: 20px;
	font-size: 1.6rem;
	font-weight: bold;
}

.ind_impact_ttl {
	border-bottom: 1px solid #ccc;
}

.contents ul.ind_impact_list {
	padding: 0 0 0 30px;
	width: 85%;
	margin-left: 28px;
}

.ind_supp_obj_txt {
	margin-left: 35px;
}

.ind_structure {
	display: flex;
	justify-content: space-around;
	width: 80%;
	margin: 30px auto 20px;
}

.ind_structure_grp {
	border: 1px solid #ccc;
	padding: 10px 46px;
	box-shadow: 2px 2px 4px #CCCCCC;
}

.ind_structure_grp a {
	display: block;
}

.ind_structure_grp a:link {
	text-decoration: none;
}

.ind_supp_for {
	padding: 10px;
	border: 1px solid #CCCCCC;
}

.ind_supp_for01 {
	padding-left: 20px;
}

.ind_supp_for_bnr {
	margin: 20px auto 50px;
	text-align: center;
	width: 60%;
	font-size: 1.8rem;
	font-weight: bold;
	line-height: 1.4;
}

.ind_supp_for_bnr span {
	display: block;
	background-color: #f18e19;
	padding: 10px 0;
	border-radius: 4px;
}

.ind_supp_for_bnr span:before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: 2rem;
	content: "\f105";
	font-weight: 900;
	padding-right: 10px;
}

.ind_supp_for_bnr a:link,
.ind_supp_for_bnr a:visited {
	color: #fff;
	text-decoration: none;
}

.ind_h4_term span {
	font-size: 1.2rem;
	font-weight: normal;
}

.ind_supp_for_tbl {
	width: 100%;
}

.decision_info_no {
	color: #0168b7;
	border: 2px solid #0168b7;
	padding: 5px;
	margin: 10px 0 20px;
	font-weight: bold;
	font-size: 1.4rem;
}

.decision_info_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.decision_info_wrap::after {
	content: '';
	display: block;
	width: 30%;
}

.decision_info_grp {
	border-radius: 10px;
	border: 1px solid #ccc;
	box-shadow: 3px 3px 3px #ccc;
	padding: 5px 8px 15px;
	text-align: center;
}

.decision_info_grp:hover {
	transform: translate(3px, 3px);
	box-shadow: 0 0;
}

.contents a.decision_info_grp_link {
	text-decoration: none;
	color: #333;
}

.decision_info_serial,
.decision_info_name {
	font-size: 1.5rem;
}

.decision_info_catch {
	color: #fff;
	background-color: #0168b7;
}

.decision_info_catch {
	padding: 5px;
}

.decision_info_name {
	padding: 5px 0;
}


.securite_div {
	display: flex;
	align-items: center;
	margin-top: 10px;
}

.securite_desc {
	font-size: 1.4rem;
	font-weight: bold;
	margin-left: 20px;
}

.securite_txt {
	padding-left: 2em;
}

.ind_securite_about {
	display: flex;
	align-items: center;
	padding: 10px 20px 15px;
	margin-top: 20px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
}

.ind_securite_term {
	color: #0168b7;
	font-weight: bold;
	font-size: 1.4rem;
}

.ind_upto a:link,
.ind_upto a:visited {
	text-decoration: none;
}

.ind_upto_grp {
	display: flex;
	margin-top: 15px;
}

.ind_upto_txt {
	width: 300px;
}

.ind_upto_ttl {
	font-weight: bold;
	font-size: 1.4rem;
}

/* 東日本大震災復興の支援活動は10年に。これまでも、これからも。支援をずっと。 */

.supp_parent_ttl {
	font-size: 3.2rem;
	font-weight: bold;
	line-height: 1.5;
}

.supp_parent_ttl span {
	font-size: 1.6rem;
	font-weight: bold;
}

.supp_parent_sub {
	font-size: 1.4rem;
	color: #a56da7;
	margin-bottom: 1em;
	line-height: 1.5;
}

.supp_parent_bnr_ttl1 {
	font-size: 2rem;
	font-weight: bold;
	margin: 20px 0 5px;
	line-height: 1.5;
}

.supp_parent_bnr_ttl2 {
	font-size: 1.7rem;
	font-weight: bold;
	margin: 0 0 5px;
	line-height: 1.5;
}

.supp_parent_bnr_ttl3 {
	font-size: 1.7rem;
	font-weight: bold;
	margin: 20px 0 5px;
	line-height: 1.5;
}

/* 教育支援 */

.edu_present_part_plan {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contents .edu_present_part_plan p {
	padding-top: 0;
}

.contents p.edu_present_part_plan_txt {
	margin: 0 0 0 10px;
	border: 1px solid #CCCCCC;
	padding: 5px 1em;
}

.edu_present_plan {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0;
}

.edu_present_plan_txt {
	margin: 0 0 0 10px;
	border: 1px solid #CCCCCC;
	padding: 5px 10px 10px;
}

/* 支援先のご紹介（東日本復興支援～事業応援プロジェクト～） */

.support_intro_head {
	position: relative;
}

.support_project_bnr {
	position: absolute;
	top: 0;
	right: 0;
}

/* .support_project_bnr img {
	box-shadow: 2px 2px 10px rgb(0 0 0 / 50%);
} */

.support_intro_tab_wrap {
	margin-top: 20px;
}

.contents ul.support_intro_tab_list {
	display: flex;
	flex-wrap: wrap;
	padding-top: 0;
}

.contents li.support_intro_tab_item:nth-child(10n+1) {
	border-left: 1px solid #0168b7;
	width: 70px;
	box-sizing: border-box;
}
.contents li.support_intro_tab_item {
	padding-top: 0;
	width: 70px;
}

.contents li.support_intro_tab_item a {
	display: block;
	text-decoration: none;
	color: #0168b7;
	padding: 5px 1em;
	border: 1px solid #0168b7;
	border-left: none;
	text-align: center;
	font-size: 1.5rem;
	box-sizing: border-box;
}

.contents li.support_intro_tab_item.current span {
	background-color: #0168b7;
	color: #fff;
	display: block;
	padding: 5px 1em;
	border: 1px solid #0168b7;
	border-left: none;
	text-align: center;
	font-size: 1.5rem;
	box-sizing: border-box;
}

.contents li.support_intro_tab_item:nth-child(1n+11) a {
	border-top: none;
}

.support_intro_ttl {
	background-color: #0168b7;
	color: #fff;
	padding: 5px 15px;
}

.support_intro_ttl_name {
	font-size: 1.6rem;
	font-weight: bold;
}

.support_intro_ttl_desc {
	font-size: 1.6rem;
}

.support_intro_profile {
	margin-top: 30px;
}

.support_intro_profile_ttl {
	font-size: 1.6rem;
	font-weight: bold;
	color: #0168b7;
}

.fa, .far, .fas {
	font-family: "Font Awesome 5 Free";
}

.fa, .fab, .fal, .far, .fas {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
}

.fa-user-circle:before {
	content: "\f2bd";
}

.support_intro_profile_wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.support_intro_profile_1st {
	margin-right: 20px;
}

.support_intro_about {
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-top: 20px;
}

.support_intro_about_tbl th {
	padding-right: 2em;
}

.support_intro_about_tbl td {
	word-break: break-all;
}

.support_intro_about_tbl th,
.support_intro_about_tbl td	{
	padding-top: 5px;
	padding-bottom: 5px;
}

.support_intro_profile_history_ttl {
	color: #0168b7;
	font-size: 1.4rem;
	font-weight: bold;
}

.support_intro_profile_history dt {
	float: left;
	width: 4em;
	clear: both;
}

.support_intro_profile_history dd {
	margin-left: 4em;
}

.support_intro_profile_subttl {
	color: #0168b7;
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 10px;
}

.contents p.support_intro_profile_subtxt {
	padding-top: 0;
}

.support_intro_plan {
	margin-top: 20px;
}

.support_intro_plan_ttl {
	color: #0168b7;
	font-size: 1.4rem;
	font-weight: bold;
}

.support_intro_plan_wrap {
	overflow: hidden;
	/* display: flex; */
	/* justify-content: space-between; */
	border-radius: 10px;
	border: 1px solid #0168b7;
	padding: 10px;
}

.support_intro_plan_1st,
.support_intro_plan_2nd {
	float: left;
	/* width: 330px; */
}

.support_intro_plan_term {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.support_intro_plan_term span,
.support_intro_plan_data span {
	display: inline-block;
}

.support_intro_plan_data {
	padding-left: 1em;
}

.support_intro_sdgs_ttl {
	color: #0168b7;
	font-size: 1.4rem;
	font-weight: bold;
	margin-bottom: 5px;
}

.support_intro_plan_2nd {
	margin-left: 15px;
}

.support_intro_biz {
	margin-top: 30px;
}

.support_intro_biz_ttl {
	font-size: 1.6rem;
	font-weight: bold;
	color: #0168b7;
}

.fa-file-alt:before {
	content: "\f15c";
}

.support_intro_biz_wrap {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.support_intro_biz_1st,
.support_intro_biz_2nd {
	width: 340px;
}

.support_intro_biz_bnr figcaption {
	margin-top: 5px;
}

.support_intro_biz_h5 {
	font-size: 1.4rem;
	font-weight: bold;
	border-bottom: 1px dotted #ccc;
}

.support_intro_biz_pics {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.support_intro_biz_summary {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.support_intro_biz_summary_pic {
	margin-right: 20px;
}

.support_intro_biz_summary_pic figcaption {
	margin-top: 5px;
}

.contents .support_intro_biz_summary_txt p:first-child {
	padding-top: 0;
}

.support_intro_biz_summary_sig {
	text-align: right;
}

.support_intro_point_ttl {
	color: #0168b7;
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 20px;
}

.support_intro_point {
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	border: 1px solid #0168b7;
	padding: 15px 10px 15px 25px;
}

.contents .support_intro_point ul,
.contents .support_intro_point li {
	padding-top: 0;
}

.contents .support_intro_point li {
	text-indent: -.7em;
	padding-left: 1em !important;
}

.fa-user-mark::before {
	content: '\2713';
}

.support_intro_point_story {
	margin: 20px 0 5px;
	color: #0168b7;
	font-size: 1.4rem;
	font-weight: bold;
}

.contents p.support_intro_point_story_note {
	text-align: right;
	padding-top: 5px;
}

.support_intro_report_ttl {
	color: #0168b7;
	font-size: 1.4rem;
	font-weight: bold;
	margin-top: 20px;
}

.contents p.support_intro_report_txt {
	padding-top: 0;
}