@charset "utf-8";

section {
  margin-top: 50px;
}

h2.mmidashi {
  font-size: 20px;
  padding-left: 12px;
  padding-top: 0;
  margin-top: 10px;
  border-left: 3px solid #00B0F0;
}

h2.mmidashi_nav {
  border-color: #44546A;
}

.tsushima_div {
  display: flex;
  justify-content: space-between;
}

.tsushima_00_bag {
  width: 44%;
  text-align: center;
}

.tsushima_00_bag img {
  width: 74px;
}

.tsushima_nav_list {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.tsushima_nav_item {
  margin-top: 20px;
  background-color: #E7E6E6;
  border-radius: 5px;
  padding: 5px 10px !important;
  width: 18em;
  font-size: 1.6rem;
  margin-top: 10px;
}

.tsushima_nav_item a {
  display: block;
  padding-left: 12px;
  border-left: 3px solid #00B0F0;
}

.tsushima_nav_item-bag a {
  border-color: #FF9999;
}

.contents .tsushima_nav_item a:link {
  text-decoration: none;
}

.tsushima_inner {
  position: relative;
  border: 3px dotted #00B0F0;
  margin-top: 25px;
  padding: 25px 30px 30px;
}

.contents h3.tsushima_inner_h3 {
  position: absolute;
  line-height: 50px;
  padding: 0 0 0 46px;
  background: url(../img/tsushima_ttl_icon.jpg) no-repeat left center;
  top: -27px;
  left: 21px;
}

.tsushima_inner_h3 span {
  background-color: #fff;
  padding-right: 10px;
}

.tsushima_01_map_area {
  width: 210px;
}

p.tsushima_01_link {
  font-size: .8rem;
  word-break: break-all;
}

.tsushima_01_txt_area {
  width: 400px;
}
.tsushima_01_figure {
  text-align: center;
}

.tsushima_highlight {
  position: relative;
  font-weight: bold;
  font-size: 1.6rem;
  color: #a5a5a5;
  padding-left: 30px;
}

.tsushima_highlight::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #0078D7;
  border: 2px solid #333;
  top: 3px;
  left: 0;
}

.tsushima_highlight::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-left: 8px solid #FFF;
  top: 10px;
  left: 9px;
}

.tsushima_01_highlight {
  margin-bottom: 15px;
}

.tsushima_02_main {
  display: flex;
}

.tsushima_02_japan {
  width: 210px;
}

.tsushima_02_map_div {
  display: flex;
  justify-content: space-around;
}

.contents ul.tsushima_02_map_list {
  padding-top: 0;
  padding-left: 32px;
}

.contents li.tsushima_02_map_item {
  padding-top: 0;
}

.tsushima_02_highlight {
  margin-top: 20px;
}

.contents .tsushima_02_map_p {
  padding-top: 5px;
}

.tsushima_02_effort_01 {
  display: flex;
}

.tsushima_02_effot_01_pic {
  width: 216px;
}

.contents ul.tsushima_02_effort_list {
  padding: 0 0 0 16px;
}

.tsushima_02_effort_02 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.tsushima_02_effort_02_pic {
  margin-left: 40px;
}

.tsushima_02_effort_03 {
  margin-top: 20px;
}

.tsushima_02_effort_note {
  text-align: right;
  font-size: 1rem;
  margin-top: 20px;
}

.contents dl dd.tsushima_03_dd {
  padding-left: 40px;
  margin-bottom: 1em;
}

.tsushima_04_box {
  border: solid 2px #CCC;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 1em;
}

.tsushima_04_box_ttl {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1em;
}

.tsushima_04_list_grp {
  margin-bottom: 1em;
}

.tsushima_04_grp_ttl {
  font-weight: bold;
}

.tsushima_04_tbl {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.contents ul.tsushima_04_list {
  padding-top: 0;
}

h2.tsushima_05_h2,
.tsushima_05_inner {
  border-color: #FF9999;
}

.tsushima_05_txt {
  text-align: center;
  font-size: 1.6rem;
}

.tsushima_05_main {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tsushima_05_main_img {
  margin-right: 20px;
}

.tsushima_05_desc_box {
  border-radius: 14px;
  padding: 5px 20px;
  margin-bottom: 1em;
}

.tsushima_05_desc_01 {
  background-color: #DEEBF7;
}

.tsushima_05_desc_02 {
  background-color: #FBE5D6;
}

.tsushima_05_desc_03 {
  background-color: #E2F0D9;
}

.tsushima_05_desc_02_txt {
  width: 250px;
}

.tsushima_05_desc_03_txt {
  width: 200px;
}

.contents .colbtn {
  margin-top: 15px;
}
.contents .colbtn_title {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  padding-top: 0;
}
.contents .colbtn_title img {
  display: block;
  margin: auto;
}
.contents .colbtn > ul {
  width: 545px;
  margin: auto;
}
.contents .colbtn > ul > li {
  padding: 0;
  width: 175px;
  float: left;
  margin-right: 10px;
}
.contents .colbtn > ul > li:last-child{
  margin-right: 0;
}
.contents .cf:before,
.contents .cf:after {
 content: " ";
 display: table;
}

.contents .cf:after {
 clear: both;
}

.contents a.pf-btn {
  text-align: center;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  display: block;
  background-color: #4daa61;
  border-radius: 10px;
  padding: 8px 10px;
  box-sizing: border-box;
}
.contents .pf-btn-blue-wrap {
  width: 460px;
  margin: auto;
}
.contents .pf-btn.pf-btn-blue {
  background-color: #0081cc;
  padding: 15px;
}
.contents .pf-btn.pf-btn-blue > span {
  display: inline-block;
  padding-left: 25px;
}
.contents .pf-btn-red-wrap {
  width: 290px;
  margin: auto;
}
.contents .pf-btn.pf-btn-red {
  background-color: #e8465a;
  padding: 15px;
}
.contents .pf-btn.pf-btn-red > span {
}
.contents .pf-btn:hover {
  opacity: .7;
}
.contents .pf-btn > span {
  display: block;
  position: relative;
  background: url(../img/phasefree_icon_link.png) no-repeat left center;
  padding-left: 12px;
}
.contents .pf-btn-red span,
.contents .pf-btn-blue span {
  background: none;
}
.contents .pf-btn-red span::before,
.contents .pf-btn-blue span::before {
  content: '';
  display: block;
  position: absolute;
  top:50%;
  left: 0;
  margin-top: -5px;
width: 0;
height: 0;
border-style: solid;
border-width: 5px 0 5px 9px;
border-color: transparent transparent transparent #ffffff;
}

.tsushima_05_finish {
  text-align: center;
  background: url(../img/tsushima_05_pic4.jpg) no-repeat right top;
  margin-top: 20px;
  min-height: 82px;
}

.tsushima_06_tbl-cap {
  font-size: 10px;
}