﻿@charset "utf-8";

/* --------------------------------
reset
-------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{*font-size:100%;}
/* *,*::before,*::after{box-sizing: border-box;} */

img { border: none; vertical-align: bottom; }
strong { font-weight: bold; }
/* --------------------------------
font
-------------------------------- */
html{font-size:62.5%;}
body{font-family: 'Noto Sans JP', sans-serif;line-height:1.8;font-size:1.6em;color: #333333;}
h3, h4 {color: inherit;}
div,
p,li,dt,dd,
input,textarea,select,option,
th,td,address{font-size:1.2rem;line-height:1.8;}
sup{font-size: smaller; vertical-align: top;}
sub{font-size: smaller;}

.read { line-height: 1.5; }
.note, .note li, .note dt, .note dd, .note p { font-size: 10px; line-height: 1.5; }
.note img { margin-bottom: 5px; }

.note2, .note2 li, .note2 dt, .note2 dd, .note2 p { font-size: 10px; line-height: 0.8; }
.note2 img { margin-bottom: 5px; }

em { font-size: 14px; line-height: 1.5; font-style: normal; }
/* --------------------------------
layout
-------------------------------- */
body {
  position: relative;
}
.wrap {
	width: 960px;
	margin: 0 auto;
}
* html body { text-align: center; }
* html .wrap { text-align: left; }

/* --------------------------------
#header
-------------------------------- */
#headerwrap *,
#headerwrap *::before,
#headerwrap *::after{
  box-sizing: border-box;
}

#headerwrap {
  position: relative;
  background: url(../img/header/headerbg.gif) repeat-x 0 bottom;
}
#header { font-size: 1px; line-height: 1px; }
.hgroup { float: left; }
.hgroup h1 { float: left; padding: 30px 20px 30px 0; }
.hgroup h2 { float: left; padding: 32px 0 0; font-size: 2.3rem; line-height: 1.2; }
#header .right{float: right; position:relative;}
#hLink {
	padding-top: 10px;
}
#hLink li {
	float: left;
  padding-left: 12px;
  margin-left: 12px;
  font-size: 1.3rem;
  line-height: 1.23;
}
#hLink li:not(:first-of-type) {
  border-left: 1px solid #e3e3e3;
}
#hLink li a[rel="external"] {
  padding-right: 22px;
  background: url(../img/header/icon_new_window.png) no-repeat right 1px top 5px;
}
#header-search {
    position: absolute;
    right: 0;
    top: 45px;
}

#header-search .field {
    background:url(../img/header/bg-search-01.gif) no-repeat scroll 0 0 ;
    height: 24px;
    width: 190px;
	
}
#header-search .field input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    display: block;
    font-size: 100%;
    height: 22px;
    left: 5px;
    line-height: 1.8;
    position: absolute;
    top: 1px;
    width: 155px;
}
input[type="text"], input[type="password"], textarea, select { 
outline: none;
}


#header-search .submit {
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 1px;
    top: 1px;
}

#gNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  clear: both;
}
#gNav > li:hover > #gNavChild {
  display: block;
}
#gNav > li > a {
  display: block;
  font-size: 1.6rem;
  height: 40px;
  /* padding-bottom: 10px; */
  border-bottom: 2px solid transparent;
}
#gNav > li:hover > a {
  position: relative;
  border-bottom: 2px solid #111184;
  z-index: 99;
}
#gNav > li:hover > a:hover {
  opacity: 1;
}
#gNav > li > a:hover::after,
#gNav > li:hover > a::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 6px;
  top: 40px;
  left: 0;
  border-bottom: 2px solid #ffffff;
}
#gNavChild {
  position: absolute;
  display: none;
  z-index: 50;
  width: 100%;
  top: 144px;
  left: 0;
  border-top: 2px solid #ffffff;
  padding: 20px 0 30px;
  background-color: #111184;
}
.gNavChildTtl {
  color: #ffffff;
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.gNavChildList {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.gNavChildList li {
  width: 30%;
}
.gNavChildList li a {
  font-size: 1.6rem;
  line-height: 2;
}
.gNavChildList li a:link,
.gNavChildList li a:visited {
  color: #ffffff;
}
.leftGt {
  position: relative;
  padding-left: 1.2em;
}
.leftGt::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 7px;
  height: 7px;
  top: .6em;
  left: 0;
  border: 1px solid transparent;
  border-top-width: 1px;
  border-top-style: solid;
  border-right-width: 1px;
  border-right-style: solid;
  transform: rotate(45deg);
  border-top-color: #333;
  border-right-color: #333;
}
.gNavChildList li a::before {
  border-top-color: #ffffff;
  border-right-color: #ffffff;
}
.gNavChildList li a:hover {
  cursor: pointer;
}

/* --------------------------------
#footer
-------------------------------- */
#footerwrap *,
#footerwrap *::before,
#footerwrap *::after{
  box-sizing: border-box;
}

#footerwrap {
  clear: both;
  border-top: 3px solid #ebebe8;
  padding-top: 36px;
  margin-top: 80px;
}
.footer {
  padding-bottom: 46px;
}
.footerTtl {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}
.footerTtl img {
  margin-right: 16px;
}
.footerReport {
  font-size: 1.4rem;
  line-height: 1.5;
  margin-bottom: 2em;
}
.footerLinkWrap {
  display: flex;
  justify-content: space-between;
}
.footerLink {
  width: 25%;
}
.footerLinkItem {
  margin-bottom: 0.5em;
}
.footerBanner {
  padding-left: 1.2em;
  text-indent: -1.2em;
}
.copyright {
  height: 50px;
  background-color: #ebebe8;
  text-align: center;
	padding-top: 16px;
  font-size: 1.2rem;
}

#marchive { float: left; padding-top: 8px; }
#marchive li {
	float: left;
	height: 21px;
	padding: 0 10px;
	border-left: 1px solid #EBEBE8;
	line-height: 0px;
}
#marchive li.newyear { border: none; padding: 0 10px 0 0; }
#marchive li.contact { padding-right: 0; }

.marchiveall {
	margin-top: 20px;
	padding: 10px 0px 38px 20px;
	border: 5px solid #E5E5E5;
}
/* --------------------------------
#messagearchive
-------------------------------- */


#fLink { float: right; padding-top: 6px; }
#fLink li {
	float: left;
	height: 21px;
	padding: 0 10px;
	border-left: 1px solid #EBEBE8;
	line-height: 21px;
}
#fLink li.riyou { border: none; }
#fLink li.contact { padding-right: 0; }

/* --------------------------------
.pageTop
-------------------------------- */
.pageTop {
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: #636363;
  right: 20px;
  bottom: 20px;
  display: block;
  opacity: .7;
  z-index: 99;
}
.pageTop::after {
  position: absolute;
  display: inline-block;
  content: '';
  width: 15px;
  height: 15px;
  transform: rotate(-45deg);
  top: 23px;
  left: 18px;
  border: 3px solid transparent;
  border-top: 3px solid #f1f6fe;
  border-right: 3px solid #f1f6fe;
  box-sizing: border-box;
}




/* --------------------------------
a
-------------------------------- */
a:link,a:visited{color:#333333;}
a:hover{color:#111184;}

.contents a:link,
.contents a:visited{
  color: #111184;
  text-decoration: underline;
}
.contents a:hover{
  text-decoration: none;
}

.contents a.img_link img {
  box-sizing: border-box;
  border: 2px solid #cbcac6;
}
.contents a.img_link:hover img {
  box-sizing: border-box;
  border: 2px solid #110688;
}

/* --------------------------------
clearfix
-------------------------------- */
#footer:after,
#fGuide:after{content: ".";display:block;clear:both;height:0;visibility:hidden;}
* html #footer,
* html #fGuide{height:1%;}
#footer,
#fGuide{zoom:1;}

/* --------------------------------
Arrange SIM default
-------------------------------- */
.ThemeItem-description ul {
  margin-left: 0;
}
.health {
  background-color: transparent;
}