@charset "utf-8";

/* For modern browsers */
.clearfix:before,
.clearfix:after {
 content:"";
 display:block;
 overflow:hidden;
}
 
.clearfix:after {
 clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
.clearfix {
 zoom:1;
}

.font_b{font-family: "a-otf-midashi-go-mb31-pr6n",sans-serif;}
.font_m{font-family: "a-otf-futo-go-b101-pr6n",sans-serif;}
.font_s{font-family: "a-otf-gothic-bbb-pr6n",sans-serif;}
.font_en{font-family: "futura-pt",sans-serif;}

.clearfix:after{
  content: "."; 
  display: block; 
  height: 0; 
  font-size:0;	
  clear: both; 
  visibility:hidden;
}
.indent{margin-left:2.4em;text-indent:-2.4em; padding-top: 0 !important;}

.ind1em {
	text-indent: -1em;
	padding-left: 1em !important;
}

/* --------------------------------
title
-------------------------------- */
.topTitle h1 { float: left; padding: 70px 0 56px 30px; width: 260px; font-size: 30px; font-weight: bold; line-height: 1.25; }
.topTitle p { float: right; padding-top: 20px; }
.topTitle .topTxtTtl {
	float: left;
	width: 300px;
}
.topTitle .topTxtTtl h1 {
	float: none;
	padding: 20px 0 0px 0;
}
.topTitle p.topSubTtl {
	float: none;
	padding-top: 5px;
	line-height: 1.5;
}

.menuArea { border-top: 1px solid #919186; }
.menuArea dt {
	margin-bottom: -52px;
	padding: 15px 0 0 0;
	border-top: 1px solid #DFDFDC;
}
.menuArea dt.line2 { margin-bottom: -75px; }
.menuArea dt:first-child { border: 0; }
.menuArea dd {
	min-height: 52px;
	padding: 0 0 15px 275px;
	line-height: 1.5;
}
.menuArea dd.line2 { min-height: 75px; }
* html .menuArea dd { height: 67px; }
* html .menuArea dd.line2 { height: 90px; }

.menuArea dd .plink {padding-top: 5px; }
.menuArea dd .plink li { float: left; padding-left: 5px; }
.menuArea dd .plink li:first-child { padding-left: 0px; }

.smidashi{ font-size: 16px; font-weight: bold; border-bottom: 2px dotted #b6b6ad;}


/* --------------------------------
.subTitle
-------------------------------- */
.subTitle { padding-top: 45px; }
.subTitle h1 { padding-bottom: 5px; border-bottom: 3px solid #B6B6AD; }

/* --------------------------------
.contents
-------------------------------- */
.contents *,
.contents *::before,
.contents *::after{
  box-sizing: content-box;
}

.flex {
	display: flex;
}

.jc_sb {
	justify-content: space-between;
}

.bLink a img { border: 1px solid #D7D7D2; }
.bLink a:hover img { border: 1px solid #111184; }
.bLink3 a img { border: 3px solid #D7D7D2; }
.bLink3 a:hover img { border: 3px solid #111184; }
* html .bLink3 a:hover,
* html .bLink a:hover { background: #FFF; }

.contents h1 { padding: 40px 0 12px 0; }
.contents h2 { padding: 30px 0 0 0; }
.contents h3 { padding: 20px 0 0 0; font-weight: bold; }
.contents h2.type01 { margin-top: 30px; padding: 8px 0 9px 0; border-top: 3px solid #B6B6AD; }

.contents h3.type01 { color: #1E6873; font-size: 14px; }
.contents p.h3type01 { padding: 20px 0 0 0;color: #1E6873; font-size: 14px; font-weight: bold; }
.contents h3 strong { font-size: 16px; padding-right: 5px; }
.contents h3.markttl {
	padding: 20px 0 0 17px;
	background: url(../img/contentsh3.gif) no-repeat 0 19px;
	font-size: 14px; line-height: 25px;
	font-weight: bold;
}

.contents p { padding-top: 10px; }
.contents .top0 { padding-top: 0; }
.contents p.sp { padding-top: 20px; }
.contents p.sp2 { padding: 20px 0 12px 0; }
/*20130116*/
.contents p.pright { text-align: right; }

.contents ul { padding-top: 8px; }
.contents li { padding-top: 10px; }
.contents ol.numlist { padding: 8px 0 10px 22px; }
.contents ol.numlist li {
	list-style: decimal;
	padding: 5px 0 0 0;
	line-height: 1.5;
}
.contents ol.numlist ul { padding-top: 0; }
.contents ol.numlist ul li { list-style: none; }
.contents ol.numlist ul.list li { list-style: disc; }

/* --------------------------------
.20130718
-------------------------------- */
.contents ol.numlist2 { padding: 0px 0 10px 22px; }
.contents ol.numlist2 li {
	list-style: decimal;
	padding: 5px 0 0 0;
	line-height: 1.5;
}
.contents ol.numlist2 ul { padding-top: 0; }
.contents ol.numlist2 ul li { list-style: none; }
.contents ol.numlist2 ul.list li { list-style: disc; }


.contents ul.caution { margin-top: 12px; padding-top: 3px; border-top: 1px solid #B6B6AD; }
.contents ul.caution li { padding: 5px 0 0 1em; text-indent: -1em; }

.contents ul.list { padding: 10px 0 0 16px; }
.contents ul.list li { list-style-type: disc; padding: 5px 0 0 0; line-height: 1.5; }

.contents ul.list2 { padding: 0 0 0 16px; }
.contents ul.list2 li { list-style-type: disc; padding: 5px 0 0 0; line-height: 1.5; }

.contents ul.list3 { padding: 0 0 0 16px; }
.contents ul.list3 li { list-style-type: disc; padding: 0; line-height: 1.5; }

.contents .colList li { float: left; line-height: 1.2; }
.contents .col1 li { width: 120px; }
.contents .spcol1 li { width: 236px; }
.contents .colc3 li.right { float: right; width: 226px; }
.contents .m10 li { padding-right: 10px; }
.contents .m20 li { padding-right: 20px; }
.contents .m30 li { padding-right: 30px; }
.contents .m10 li:last-child,
.contents .m19 li:last-child,
.contents .m20 li:last-child,
.contents .m30 li:last-child { padding-right: 0; }
.contents .colList li img { margin-bottom: 5px; }
.contents .m20 { width:720px;}

.contents .int { padding-top: 20px; }
.contents .int2 { padding-top: 50px; }
.contents .int3 { padding-bottom: 30px; }
.contents .section, .contents .col { clear: both; }
.contents .col .text, .contents .col .list { float: left; }
.contents .col .image { float: right; }
.contents .col .image p.list { float: left; }
.contents .col div.lft { float: left; }
.contents .col div.rgt { float: right; }

.contents .col22 .text,
.contents .col22 .image { width: 340px; }
.contents .col42 .text { width: 460px; }

.contents .col42 .text02 { width: 460px;font-size: 10px;line-height: 1.5;}
.contents .col42 .image02 { 220px; }
.contents .col .text02 { float: left; width: 300px !important; margin-right: 30px;}
.contents .col .image02 { float: left; width: 150px; }

.contents .col42 .text2 { width: 700px; }
.contents .col42 .image { 220px; }
.contents .col51 .text,
.contents .col51 .list { width: 580px; }
.contents .col51 .image { 100px; }

/*0629*/
.contents .col52 .list { width: 700px; }

/*0712*/
.contents .col53 .list { width: 400px; }
.contents .col53 .image { 280px; }

/*0712*/
.contents .col25 { padding-top: 20px; }

/*0803*/
.contents .col43 .text { width: 330px; }
.contents .col43 .image { 220px; }
.contents .col43 .text2 { width: 700px; }

/*20130116*/
.contents .col54 .list { width: 400px; }
.contents .col54 .image { padding-right: 120px; }

/*20130718*/
.contents .col55 .text { width: 500px; }
.contents .col55 .image { 200px; }


/*20130725*/
.contents .col58 .text,
.contents .col58 .list { width: 560px; }
.contents .col58 .image { 140px; }

/*20130725*/
.contents .col59 .text,
.contents .col59 .list { width: 460px; }
.contents .col59 .image { 220px; }

/*20140122*/
.contents .col60 .text,
.contents .col60 .list { width: 380px;}
.contents .col60 .image { 300px;}
		
/*IE7▼*/
*+html .contents .col60 .text,
.contents .col60 .list {width: 380px;}
*+html .contents .col60 .image { 300px;}

/*IE6▼*/
.contents .col60 .text,
.contents .col60 .list {_width:380px;}
.contents .col60 .image{_:300px;}


/*20140129*/
.contents .col70  { padding-bottom:10px;}
.contents .col70 .text,
.contents .col70 .list { width: 344px;}
.contents .col70 .image { 356px;}


/*20140129*/
.contents .col80 .text,
.contents .col80 .list { width: 385px;}
.contents .col80 .image { 294px;}

/*20140203*/
.contents .col90 .text { width: 463px; }
.contents .col90 .image { 220px; }

/*20170206*/
.contents .col91 .text { width: 520px; margin-right: 20px; }
.contents .col91 .image { width: 160px; float: left; }

/*20140814*/
.contents .col100 {
	position:relative;
}
.contents .col100 .text,
.contents .col100 .list { width: 360px;}
.contents .col100 .image { width: 320px;}
.contents .col100 .text-under {
	position:absolute;
	width: 320px;
	bottom:0;
		}



.contents .coldata .text { width: 300px; }
.contents .coldata .image { 380px; }


.contents .spcol1 { padding-top: 10px; }
.contents .spcol1 li { float: left; width: 236px; }
.contents .spcol2 li,
.contents .spcol3 li { float: left; width: 160px; }

.contents .spcol1 li.text,
.contents .spcol2 li.text,
.contents .spcol3 li.text { padding-top: 30px; color: #666; }
.contents .spcol1 li.text { float: right; width: 226px; }
.contents .spcol2 li.text { width: 228px;}
.contents .spcol3 li.text { width: 540px;}

.contents .spcol3 li strong,
.contents .spcol2 li strong,
.contents .spcol1 li strong { line-height: 2; }

.contents div.imglist { padding-top:10px; }
.contents div.imglist ul { float: left; padding-top: 0; }
.contents .imglist { padding-bottom: 10px; }
.contents .imglist li { float: left; padding-right: 10px; }
.contents .imglist li.img2 { padding-right: 0px; }
.contents .block2 { width: 400px; }

.contents .col dl { padding-top: 15px; }
.contents .col dt.markttl {
	padding: 0 0 0 17px;
	background: url(../img/contentsh3.gif) no-repeat 0 -1px;
	font-size: 14px; line-height: 25px;
	font-weight: bold;
}
.contents .col dl.list {
	padding-top: 0;
	border-top: 3px solid #B6B6AD;
	border-bottom: 1px solid #CCC;
}
.contents .int .col dl.list { border-top: 1px solid #B6B6AD; }
.contents .col dl.list dt,
.contents .col dl.list dd { line-height: 1.5; }
.contents .col dl.list dt {
	padding: 5px 450px 0 0;
	border-top: 1px solid #CCC;
	text-align: right;
}
.contents .col dl.list dt:first-child { border: none; }
.contents .col dl.list dd {
	margin: -18px 0 0 132px;
	padding: 0 0 5px 0;
}
.contents dl.list dd ol { padding-top: 0; }

.contents .col222 div.lft { width: 270px; }
.contents .col222 dl { width: 250px; }
.contents .col222 dl.list dt {
	padding: 5px 115px 0 0;
	text-align: right;
}
.contents .col222 dl.list dd {
	margin: -18px 0 0 140px;
	padding: 0 0 5px 0;
}

/*col52*/
.contents .col52 dl.list dt {
	padding: 5px 510px 0 0;
}
.contents .col52 dl.list dd {
	margin: -18px 0 0 190px;
}
/**/


/*col53*/
.contents .col53 dl.list dt {
	padding: 5px 270px 0 0;
}
.contents .col53 dl.list dd {
	margin: -18px 0 0 130px;
}
/**/

/*col54*/
.contents .col54 dl.list dt {
	padding: 5px 270px 0 0;
}
.contents .col54 dl.list dd {
	margin: -18px 0 0 130px;
}
/**/


.contents dl.markdl dt {
	padding: 20px 0 0 17px;
	background: url(../img/contentsh3.gif) no-repeat 0 19px;
	font-size: 14px; line-height: 25px; font-weight: bold;
}
.contents dl.markdl dd { padding: 0; }
.contents dl.markdl ul.list { padding-top: 0; }


.contents dl.markdl2 { padding-top: 0px; }
.contents dl.markdl2 dt {
	padding: 1px 0 0 17px;
	background: url(../img/contentsh3.gif) no-repeat 0 0px;
	font-size: 14px; line-height: 25px; font-weight: bold;
}
.contents dl.markdl2 dd { padding: 0; }
.contents dl.markdl2 ul.list { padding-top: 0; }

.contents dl.markdl3 { margin:15px 0 0 20px;}
.contents dl.markdl3 dt {
	padding:0 0 0 17px;
	background: url(../img/contentsh4.gif) no-repeat 0 6px;
	font-size: 12px; line-height: 25px; 
}
.contents dl.markdl3 dd{padding:0 0 0 17px;}


.main .contents .tnone { padding-top: 0; }

.contents th, .contents td { line-height: 1.5; }
table.wide { width: 100%; }
table th { white-space: nowrap; }
.w460 { width: 460px; }
.w420 { width: 420px; }
.w240 { width: 240px; }
.mt20 { margin-top: 20px; }
.contents .txtlft,
.contents table th.lft,
.contents table td.lft,
table .lft {
	text-align: left;
}
.contents .txtrgt,
.contents table th.rgt,
.contents table td.rgt,
table .rgt {
	text-align: right;
}
.contents .txtcnt,
.contents table th.cnt,
.contents table td.cnt,
table .cnt {
	text-align: center;
}
table .nowrap { white-space: nowrap; }
table .vaTop { vertical-align: top !important; }

table.type01 th {
	background: #EDEDEA;
	text-align: center;
}
table.type01 th,
table.type01 td {
	padding: 4px 15px 3px 15px;
	border: 1px solid #CCC;
}
table.type01 td { vertical-align: top; }

table.type02 th,
table.type02 td {
	border: 1px solid #CCC;
	text-align: center;
}
table.type02 th {
	padding: 4px 15px 3px 15px;
	background: #828275;
	color: #FFF;
}
table.type02 td { padding: 8px 15px 7px 15px; }
table.type02 .ttl {
	padding-right: 50px;
	background: #EDEDEA;
	text-align: left;
	vertical-align: top;
}

table.type03 {
	border-top: 2px solid #CDCDCA;
	border-bottom: 2px solid #CDCDCA;
}
table.type03 th,
table.type03 td {
	padding: 4px 10px 3px 10px;
}
table.type03 th {
	border-bottom: 2px solid #CDCDCA;
	background: #D5E8EA;
}
table.type03 td {
	border-top: 1px solid #CDCDCA;
	text-align: right;
}
table.type03 td.ttl {
	background: #F3F3F3;
	text-align: left;
}
table.type03 td.total {
	border-top: 2px solid #CDCDCA;
	background: #F3F3F3;
	text-align: left;
}
table.type03 td.data {
	text-align: right;
}


/*20130814*/
table.type04 {
	border-top: 2px solid #CDCDCA;
	border-bottom: 2px solid #CDCDCA;
}
table.type04 th,
table.type04 td {
	padding: 4px 10px 3px 10px;
}
table.type04 th {
	border-bottom: 2px solid #CDCDCA;
	background: #D5E8EA;
}
table.type04 td {
	border-top: 1px solid #CDCDCA;
	text-align: right;
}
table.type04 td.ttl {
	width:120px;
	background: #F3F3F3;
	text-align: left;
}
table.type04 td.total {
	border-top: 2px solid #CDCDCA;
	background: #F3F3F3;
	text-align: left;
}
table.type04 td.data {
	text-align: right;
}


table.type05 th {
	background: #EDEDEA;
	text-align: center;
}
table.type05 th,
table.type05 td {
	padding: 4px 15px 3px 15px;
	border: 1px solid #CCC;
}
table.type05 td { vertical-align: top; }
table.type05 .tit{ background:#41868f; color:#fff;}


table.type06 th {
	background: #EDEDEA;
	text-align: center;
}
table.type06 th
 {
	padding: 4px 4px 3px 4px;
	border: 1px solid #CCC;
}
table.type06 td {
	padding: 4px 15px 3px 15px;
	border: 1px solid #CCC;
}
table.type06 td { vertical-align:middle; }
table.type06 .tit{ background:#41868f; color:#fff;}

table.type06 .sub_tit{background: #EDEDEA; text-align:center;}
table.type06 .short{ width:16% !important;}
table.type06 .big{ width:42% !important;}


table.type07 th {
	background: #EDEDEA;
	text-align: center;
}
table.type07 th,
table.type07 td {
	padding: 4px 15px 3px 15px;
	border: 1px solid #CCC;
}
table.type07 td { height:90px;}
table.type07 .tit1{ background:#41868f; color:#fff; height:auto; padding:10px 15px;}
table.type07 .tit2{ background:#41868f; color:#fff; width:450px; height:auto; padding:10px 15px;}
table.type07 span{ text-align:right; display:block; margin-top:-18px;}


table.type08 th {
	background: #EDEDEA;
	text-align: center;
}
table.type08 th
 {
	padding: 4px 4px 4px 4px;
	border: 1px solid #CCC;
}
table.type08 td {
	padding: 4px 10px 4px 10px;
	border: 1px solid #CCC;
}
table.type08 td { vertical-align:middle; }
table.type08 .tit{ background:#41868f; color:#fff;}
table.type08 .tit a{ text-decoration: underline; color: #fff;}
table.type08 .tit a:hover{ color: #ccc;}

table.type08 .sub_tit{background: #EDEDEA; text-align:center;}
table.type08 .short{ width:10% !important;}
table.type08 .a01{ width:5% !important;}
table.type08 .a02{ width:30% !important;}
table.type08 .a03{ width: 25% !important;}
table.type08 .a04{ width: 35% !important;}





table .bg1 { background: #EDEDEA; }
table .bg2 { background: #DDEDEE; }
table th.cntmdl,
table td.cntmdl { text-align: center; vertical-align: middle; }

.contents .column p,
.contents .column dd { line-height: 1.5; }
.contents .column h3 { padding-bottom: 5px; font-size: 1px; line-height: 1px; }
.contents .columnbody { padding: 10px 10px 10px 18px; background: #F2F2F2; }
.contents .columnbody dt { font-weight: bold; padding-bottom: 3px; }
.contents .columnbody dd.text { float: left; width: 512px; }
.contents .columnbody dd.image { float: right; width: 150px; margin-top: -25px; }

.contents .gbox .columnbody { padding: 0 10px 10px 18px; background: #F2F2F2; }
.contents .gbox .columnbody p.text { float: left; width: 512px; }
.contents .gbox .columnbody p.image { float: right; width: 150px; }

.contents .column .own { padding: 10px 18px; }
.contents .column .own dd { padding-bottom: 10px; }
.contents .column .own p { padding-top: 5px; font-size: 10px; }
.contents .column .own .pefc,
.contents .column .own .fsc {
	width: 324px;
	height: 143px;
	border: 2px solid #D7D7D2;
}
.contents .column .own .fsc { float: left; }
.contents .column .own .pefc { float: right; }
.contents .column .own .fsc .image { padding: 10px 0 0 220px; }
.contents .column .own .pefc .image { padding: 10px 0 0 260px; }
.contents .column .own .text { margin-top: -128px; }
.contents .column .own .fsc .text { padding: 0 115px 0 10px; }
.contents .column .own .pefc .text { padding: 0 70px 0 10px; }

.contents .message { padding-top: 20px; }
.contents .message p,
.contents .message dd { line-height: 1.5; }
.contents .message h3 { padding-bottom: 5px; font-size: 1px; line-height: 1px; }
.contents .messagebody { padding: 20px; background: #EFF1F8; }
.contents .messagebody dt {
	font-weight: bold;
	border-bottom: 2px solid #FFF;
}
.contents .messagebody dd.text { float: left; padding-top: 5px; }
.contents .messagebody dd.image { float: right; margin-top: -22px; }
.contents .msgcol1 dt { width: 340px; }
.contents .msgcol1 dd.text { width: 340px; }
.contents .msgcol1 dd.image { width: 300px; }
.contents .msgcol2 dt { width: 440px; }
.contents .msgcol2 dd.text { width: 440px; }
.contents .msgcol2 dd.image { width: 200px; }

.contents .voice {
	margin-top: 20px;
	padding: 10px 10px 10px 6px;
	border: 5px solid #E5E5E5;
}
.contents .voice .image { float: left; width: 170px; }

.contents .voice .text {
	float: right;
	width: 490px;
	line-height: 1.5;
}
.contents .voice .text dt,
.contents .voice .text dd { padding-top: 5px; line-height: 1.5; }
.contents .voice .text dt { font-weight: bold; }
.contents .voice .text dd.texttext { float: left; width: 380px; }
.contents .voice .text dd.itemimage { float: right; width: 100px; }




/*20130508*/
.contents .voice2{
	margin-top: 20px;
	/margin-top: 40px;
	padding: 10px 10px 10px 6px;
	border: 5px solid #E5E5E5;
}
.contents .voice2 .image { float: left; width: 65px; }

.contents .voice2 .text {
	float: left;
	margin-left:10px;
	line-height: 1.5;
}
.contents .voice2 .text dt,
.contents .voice2 .text dd { padding-top: 5px; line-height: 1.5; }
.contents .voice2 .text dt { font-weight: bold; }
.contents .voice2 .text dd.texttext { width: 580px; }

.contents .voice3 {
	margin-top: 20px;
	padding: 10px 10px 10px 6px;
	border: 5px solid #E5E5E5;
}
.contents .voice3 .image { float: right; width: 170px; margin-top:20px;}

.contents .voice3 .text {
	float: right;
	width: 490px;
	line-height: 1.5;
}

.contents .voice3 .text dt,
.contents .voice3 .text dd { padding-top: 5px; padding-right: 5px; line-height: 1.5; }
.contents .voice3 .text dt { font-weight: bold; font-size: 14px;}
.contents .voice3 .text dt span{ font-weight: bold; font-size: 12px;}
.contents .voice3 .text dd.texttext { float: left; width: 380px; }
.contents .voice3 .text dd.itemimage { float: right; width: 100px; }

/*20130116*/
.contents .ptopics {
	margin-top: 20px;
	padding: 15px 15px 15px 15px;
	border: 5px solid #E5E5E5;
}
.contents .ptopics .image { float: right; width: 200px; }
.contents .ptopics .image .prizeimg {margin-bottom:10px;}

.contents .ptopics .text {
	float: left;
	width: 445px;
	line-height: 1.5;
}
.contents .ptopics .text dt,
.contents .ptopics .text dd { padding-top: 5px; line-height: 1.5; }
.contents .ptopics .text dt { font-weight: bold; }



/*20150724*/
.mtm30{ margin-top:-30px !important;}
.mtm50{ margin-top:-50px !important;}
.mt0{ margin-top:0 !important;}
.mt10{ margin-top:10px !important;}
.mt20{ margin-top:20px !important;}
.mt30{ margin-top:30px !important;}
.mt40{ margin-top:40px !important;}
.mt50{ margin-top:50px !important;}
.mr0{ margin-right:0;}
.mr9{ margin-right:9px !important;}
.mr10{ margin-right:10px !important;}
.mr30{ margin-right:30px !important;}
.ml20{ margin-left:20px;}
.ml30{ margin-left:30px !important;}
.ml40{ margin-left:40px !important;}
.ml50{ margin-left:50px !important;}
.ml60{ margin-left:60px !important;}
.mb0{ margin-bottom:0px !important;}
.pt20{ padding-top:20px !important;}
.pb20{ padding-bottom:20px !important;}
.pt0{ padding-top:0px !important;}
.pt50{ padding-top:50px !important;}

.t10{ font-size:10px !important;}


#action03 .table01 {float:left; margin-right:6%;}
#action03 .table02 {float:left;}

#compliance04 .listbox{ /* width:658px;  */ margin:20px auto 0 auto; border:1px solid #000; padding:20px;}
#compliance04 .tit{ font-size:16px; font-weight:bold; text-align:center; padding:0;}
#compliance04 ul{ float:left; margin-right:80px;}
#compliance04 ul li{ margin-bottom:5px; padding-top:0;}
#compliance04 h3 {font-size:15px; font-weight:bold; padding-bottom:5px; border-bottom:1px solid #000;}
#compliance04 h4 {
	margin-top: 10px;
	font-weight: bold;
}
#compliance04 dl {}
#compliance04 dt { font-weight:bold; margin-top:10px;}
#compliance04 .sub {margin-left:10px; margin-top:5px;}
#compliance04 dd { margin-left:20px;}

.fsize15{ font-size:15px;}
.cent{ text-align:center;}
.txt_right{ text-align:right;}
.txt_box{ text-align:center; padding:20px !important; font-size:14px; border:1px solid #000; margin-top:20px;}
.txt_box span{ font-size: 1.8rem; font-weight: bold;}
.mark_point span{background: linear-gradient(transparent 0%, #FF0 0%); }


/**/
.policy {
	margin-top: 20px;
	padding: 10px 30px 30px 30px;
	background: #F2F2EF;
}
.policy h3 {
	border-bottom: 3px solid #B6B6AD;
	font-size: 14px;
	text-align: center;
}
.policy ol { padding-top: 10px; }
.policy p, .policy li { line-height: 1.5; }
.policy li {
	padding: 10px 0 3px 0;
	border-bottom: 1px solid #CCC;
	font-weight: bold;
}
.policy li img {
	margin: 0 12px 0 4px;
	vertical-align: bottom;
	vertical-align: text-bottom;
}
.policy p.note { padding: 2px 0 15px 0; text-align: right; }
.policy p.sign {
	padding-top: 18px;
	text-align: right;
}
.policy p.sign strong { 
	font-size: 14px; line-height: 1.8;
	font-weight: bold;
}
.policy p.sign strong { 
	font-size: 14px; line-height: 1.8;
	font-weight: bold;
}

.policy table { margin-top: 10px; }
.policy th {
	width: 288px;
	font-size: 14px;
	font-weight: bold;
}
.policy .flow th, .policy .flow td {
	border-top: 1px solid #DADAD6;
}
.policy td ul {
	padding: 8px 0 10px 16px;
	border: none;
}
.policy td li {
	list-style-type: disc;
	padding: 5px 0 0 0;
	border: none;
}

.smenuArea {
	border: 12px solid #F1F1EF;
	border-right: none; border-left: none;
	background: #F1F1EF url(../img/smenubg.gif) repeat-y 50% 0;
}
.smenuArea ul { float: left; padding: 0; width: 350px; }
.smenuArea li { display: block; padding: 0 0 0 15px; /* font-size: 1px; line-height: 1px; */ }
* html .smenuArea li { height: 1%; }
.smenuArea li a { display: block; padding: 4px 0; }
.smenuArea li.smenuAreaItem a {
	font-size: 13px;
	font-weight: bold;
	padding: 0 5px 4px 16px;
	background: url(../img/smenu_point.png) no-repeat left 4px; line-height: 1.4; }
.smenuArea .smenuAreaSubItem a {
	font-size: 13px;
	font-weight: bold;
	padding: 0 0 4px 8px;
	background: none;
	line-height: 1.4;
}

.titleArea { padding-bottom: 20px; }
.titleArea h1 { border-bottom: 1px solid #919186;  }
.smenuArea2 { padding: 11px 0 }
.smenuArea2 ul { float: left; padding: 0 50px 0 0; }
.smenuArea2 li { padding: 0 0 0 15px; font-size: 1px; line-height: 1px; }
.smenuArea2 li a { display: block; padding: 4px 0; }

.spvoice { margin-top: 15px; padding-bottom: 10px; border: 1px solid #CCC; }
.spvoice p { padding: 10px 15px 0 15px; }
.spvoice dl {
	min-height: 100px;
	background: #E8ECE3;
}
* html .spvoice dl { height: 100px; }
.spvoice dt { padding: 15px 0 0 15px; }
.spvoice dd { margin: -65px 0 0 100px; font-size: 10px; line-height: 1.5; }
.spvoice dd strong { font-size: 12px; line-height: 1.8; }
.contents .rpage { padding-top: 10px; }
.contents .rpage ul {
	padding-bottom: 20px;
	padding-left: 40px;
	border: 1px solid #4A800D;
}


.contents .rpage-lohacodrug ul {
	padding: 0px 20px 20px 20px;
	border: 1px solid #4A800D;
}


.main dl.examin {
	clear: both;
	margin-top: 70px;
	padding-top: 15px;
	border-top: 1px solid #CCC;
}
.main .examin dt { width: 120px; }
.main .examin dd { margin: -42px 0 0 135px; font-size: 10px; }
.main .examin dd ul { padding-top: 8px; }
.main .examin dd li { padding-top: 0; font-size: 10px; }


/* --------------------------------
.snav
-------------------------------- */
.snav h2 { padding: 15px 0 5px 0; }
.snav ul {
	padding: 0 10px;
	border: 2px solid #D7D7D2;
}
.snav li ul {
	padding: 0 0 0 18px;
	border: none;
	border-top: 1px solid #D7D7D2;
}
.snav li { border-top: 1px solid #D7D7D2; }
.snav ul li:first-child { border: none; }
.snav li a { display: block; }
.snav li li {
	border: none;
	border-top: 1px dotted #D7D7D2;
	font-size: 10px; 
}
.snav li li a { padding: 4px 0; }
* html .snav li a { height: 1%; }
.snav p {padding-top: 10px;}

/* --------------------------------
#breadCrumbs
-------------------------------- */
#breadCrumbs {
	padding: 7px 0 0 0;
	border-bottom: 1px solid #C8C8C2;
}
#breadCrumbs p {
	height: 22px;
	color: #999;
	font-size: 10px; line-height: 1.5;
}

/* --------------------------------
a
-------------------------------- */
.contents .columnbody a:link,
.contents .columnbody a:visited{color:#7166B2;}
.contents .columnbody a:hover{color:#11117B;}
.contents .messagebody a:link,
.contents .messagebody a:visited{color:#7166B2;}
.contents .messagebody a:hover{color:#11117B;}
.snav li a,
#breadCrumbs a{text-decoration: none;}
.snav li a:link,.snav li a:visited,
#breadCrumbs a:link,
#breadCrumbs a:visited{color:#333;}
.snav li a:hover,
#breadCrumbs a:hover{color:#111184;}
.snav li.active a{color:#111184;}
.snav li{position: relative;}
.snav li.active a::after,
.snav li a:hover::after {
	position: absolute;
	content: '';
	border: 4px solid transparent;
	border-left: 4px solid #111184;
	right: -4px;
	top: 50%;
	transform: translateY(-50%);
}
.another_tab {
	padding-right: 1.2em;
	background: url(https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/common/img/newwindow-01.gif) no-repeat right center;
}
/* --------------------------------
clearfix
-------------------------------- */
.topTitle:after,
.imglist:after,
.col dl:after,
.smenuArea:after, .smenuArea2:after,
.voice:after,
.voice2:after,
.ptopics:after,
.columnbody:after,
.messagebody:after,
.col:after,
.section:after,
.menuArea dd .plink:after {content: ".";display:block;clear:both;height:0;visibility:hidden;}
* html .topTitle,
* html .imglist,
* html .col dl,
* html .smenuArea, * html .smenuArea2,
* html .voice,
* html .voice2,
* html .ptopics,
* html .columnbody,
* html .messagebody,
* html .col,
* html .section,
* html .menuArea dd .plink {height:1%;}
.topTitle,
.imglist,
.col dl,
.smenuArea, .smenuArea2,
.voice,
.voice2,
.ptopics,
.columnbody,
.messagebody,
.col,
.section,
.menuArea dd .plink {zoom:1;}

/*clear*/
.clear {
	clear: both;
}
.clearfix {
	zoom:1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* --------------------------------
Sustainability Banner
-------------------------------- */
.menuAreaBnrWrap {
	padding: 15px 0 0 0;
	border-top: 1px solid #DFDFDC;
}
.menuAreaBnr {
	display: flex;
	justify-content: space-between;
	margin: 0 0 30px;
	padding: 10px 20px;
	border: 2px solid #D7D7D2;
}
.menuAreaBnr a:link,
.menuAreaBnr a:visited {
	text-decoration: none;
}
h2.menuAreaBnrTtl {
	font-size: 2.3rem;
	font-weight: bold;
	color: #111184;
	padding-top: 0;
}
.menuAreaBnrSubTtl {
	font-size: 1.5rem;
	padding-left: 1em;
}
.menuAreaBnrLinks {
	width: 300px;
}
.menuAreaBnrLinks ul,
.menuAreaBnrLinks li {
	padding-top: 0;
}
.menuAreaBnrLinks li a:hover {
	color: #111184;
}

/* Special Issue Banner */

.bnr_link_speissue figure {
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	margin-bottom: 15px;
}

.bnr_link_speissue figcaption {
	margin-left: 10px;
}