﻿@charset "utf-8";

.main { float: left; width: 700px; }
.spnav { float: right; width: 180px; }

/* --------------------------------
.contents
-------------------------------- */
.specialPanel h1 { padding: 24px 0 5px 0; }
.specialPanel p { padding-top: 10px; color: #275A02; }
.contents h2.spttl { padding-top: 40px; }
.contents .report h2 { padding-top: 30px; }
.contents .report ul { height: 61px; padding: 0; }
.contents .report li {
	float: left;
	padding: 10px 10px 0 0;
}
/* .contents * {
	box-sizing: content-box;
} */

/* --------------------------------
earthquake
-------------------------------- */
.contents .mt0{
	margin-top:0px;
}
.contents .mt10{
	margin-top:10px;
}
.contents .mt30{
	margin-top:30px;
}
.contents .mb0{
	margin-bottom:10px;
}
.contents .mb10{
	margin-bottom:10px;
}
.contents h2.spttl2 {
	padding-top: 50px;
}
.contents #earthquake_message{
	margin-top:24px;
}
.contents #earthquake_message p.note{
	padding-left:1em;
	text-indent:-1em;
	padding-top:20px;
}
.contents #earthquake_service {
	background:#f0f0ee;
	margin-top:30px;
	padding:20px;
}
.contents #earthquake_service p.redBold {
	font-size:14px;
	color:#FF0000;
	font-weight:bold;
}
.contents .m10 li.last,
.contents .m20 li.last { padding-right: 0;
}
.contents .fbox {
	background:#f5f5f5;
	margin-top:20px;
	padding:20px;
}
.contents .fbox table td.item{
	width:150px;
}
.contents .fbox table td.exp{
	padding:15px 0 15px 10px;
}
.contents .fbox table td.itemLast{
	width:150px;
	padding-top:15px;
}
.contents .fbox table td.expLast{
	padding:15px 0 0 10px;
}
.contents .fbox table td.bb{
	border-bottom:#cccccc 1px solid;
}
.contents .earthquake_voice {
	margin-top: 25px;
	padding: 19px 19px 19px 15px;
	border: 1px solid #cccccc;
}
.contents .earthquake_voice .mark {
	width:65px;
	margin-right:15px;
	float:left;
}
.contents .earthquake_voice .con {
	width:584px;
	float:right;
}
.contents .earthquake_voice .con .text {
	float: left;
	width: 490px;
	line-height: 1.5;
}
.contents .earthquake_voice .con .image {
	float: right;
	width: 70px;
	font-size:10px;
	line-height:1.2em;
}
.contents .earthquake_voice .con .image img{
	padding-bottom:5px;
}
.contents .blackBold{
	font-size:14px;
	color:#333333;
	font-weight:bold;
}
.contents .fbox2 {
	background:#f5f5f5;
	margin-top:20px;
	padding:20px;
}
.contents .fbox2 table td.item{
	width:115px;
	padding-top:20px;
	vertical-align:top;
}
.contents .fbox2 table td.exp{
	padding:15px 0 15px 10px;
}
.contents .fbox2 table td.itemLast{
	width:115px;
	padding-top:20px;
}
.contents .fbox2 table td.expLast{
	padding:15px 0 0 10px;
}
.contents .fbox2 table td.bb{
	border-bottom:#cccccc 1px solid;
}
.contents .fbox2 table td ul{
	margin-top:10px;
	padding:0 0 0 1em;
}
.contents .fbox2 table td ul li{
	padding:0;
	list-style:disc;
}
.contents .earthquake_topics {
	margin-top: 20px;
	padding: 19px 19px 19px 19px;
	border: 1px solid #cccccc;
}
.contents .earthquake_topics .mark {
	width:65px;
	float:right;
}
.contents .earthquake_topics .con .image {
	float: left;
	width: 150px;
	margin-right:20px;
}
.contents .earthquake_topics .con .text {
	float: left;
	width: 411px;
	margin-right:14px;
	line-height: 1.5;
}
.contents #earthquake_support table{
	margin-top:10px;
	width:698px;
	border:#cccccc 1px solid;
	border-right:0;
	border-bottom:0;
}
.contents #earthquake_support tr.item td{
	background:#f2f2f2;
	text-align:center;
}
.contents #earthquake_support td{
	padding:5px 7px;
	border:#cccccc 1px solid;
	border-top:0;
	border-left:0;
}
.contents #earthquake_support td.ptb0{
	padding:0 10px;
}
.contents #earthquake_support td.pb0{
	padding-bottom:0;
}
.contents #earthquake_support td.pt0{
	padding-top:0;
}
.contents #earthquake_support td.br{
	border-right:#cccccc 1px solid;
	border-bottom:0;
}
.contents #earthquake_support td.nb{
	border:0;
}
.contents #earthquake_support td.bb{
	border-right:0;
	border-bottom:#cccccc 1px solid;
}
.contents #earthquake_support td.amo{
	text-align:right;
	padding-right:0;
}
.contents #earthquake_support td.unit{
	text-align:left;	
	padding-left:2px;
}

/* --------------------------------
project
-------------------------------- */
#WWF {
	border: 1px solid #CCC;
	margin-top: 20px;
	padding: 5px 15px 15px 15px;
}
#WWF .image { float: left; }
#WWF .text { float: right; width: 508px; padding-top: 40px; color: #666; }

/* --------------------------------
.spnav
-------------------------------- */
.spnav h2 { padding: 24px 0 5px 0; }
.spnav li {
	margin-bottom: 10px;
	padding: 9px 11px;
	font-size: 10px; line-height: 1.5;
	background: #E8ECE3;
	color: #666;
}

.spnav li.over {
	background: #C3CFB1;
}
.spnav li img {
	margin-bottom: 2px;
}

/* --------------------------------
.talk
-------------------------------- */
.contents h2.spttl3 {
	padding-top: 35px;
}

/* --------------------------------
.talk
-------------------------------- */
.contents h2.spttl4 {
	padding-top: 20px;
}

/* --------------------------------
.support02
-------------------------------- */
.contents h2.spttl5 {
	padding-top: 10px;
}


/* --------------------------------
archive
-------------------------------- */
#archive{
	float:right;
	margin-top:-2px;
	/margin-top:5px;
}

html>/**/body #archive{
	float:right\9;
	margin-top:-10px\9;
}