﻿@charset "utf-8";

/* .bodyMain { padding: 0 20px; } */
.Topics-contents, 
.main { 
  float: right; width: 700px; 
}
.snav { 
  /* float: left;  */
  width: 200px; 
}

.Topics-contents h1 {
  margin: 15px 0;
  font-size: 2.5rem;
}

.snav h2 {
  font-size: 2rem;
  line-height: 1.2;
}
.snav li {
  font-weight: bold;
  padding: 1rem 0;
}