@charset "utf-8";

.resource_file_recyle--wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.resource_file_recycle--mark {
  margin-right: 38px;
}
.resource_file_head--sub {
  /* font-size: 1.6rem; */
  font-weight: bold;
}
#resource02 {
  counter-reset: step;
}
.resource_file_form-box {
  display: flex;
  align-items: center;
  /* margin-top: 20px; */
}
.resource_file_form-box--3rd {
  align-items: flex-start;
}
.resource_file_form-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.resource_file_form-img--3rd {
  margin-top: 20px;
  align-items: flex-start;
}
.resource_file_form-book {
  position: relative;
  margin-right: 20px;
}
.resource_file_form-book span {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.8rem;
}
.resource_file_ind {
  padding-left: 20px;
  text-indent: -1em;
}

.resource_file_form-txt {
  margin-left: 20px;
}

.resource_file_form-note--list {
  margin-left: 20px;
}

.resource-step-btn--wrap {
  margin-left: 1em;
}
.resource_file_recycle--txt-main {
  /* font-size: 1.4rem; */
}
.contents a.resource-step-btn--orange {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.2;
  display: inline-block;
  padding: 1rem 3rem;
  transition: all .3s;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
  border-radius: .5rem;
  color: #fff;
  background-color: #eb6100;
  border-bottom: 2px solid #b84c00;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}
.contents a.resource-step-btn--orange span {
  font-size: 1.2rem;
  font-weight: normal;
}
.resouce_file_step--address {
  position: relative;
  display: inline-block;
  border: 1px solid #BEB5AC;
  padding: .5em;
  margin: 1em 0 0em 1em;
}
.resouce_file_step--address::before {
  content: "";
  position: absolute;
  top: 33px;
  left: -45px;
  margin-top: -18px;
  border: 18px solid transparent;
  border-right: 28px solid #FFF;
  z-index: 2;
}
.resouce_file_step--address::after {
  content: "";
  position: absolute;
  top: 33px;
  left: -47px;
  margin-top: -18px;
  border: 18px solid transparent;
  border-right: 29px solid #BEB5AC;
  z-index: 1;
}

.resouce_file_step--note {
  margin-left: 1em;
}
.resouce_file_step--note span {
  font-weight: bold;
}
.resource-file-other--box {
  display: inline-block;
  line-height: 1.25;
  padding: 0.5em 1em;
  border: 1px solid #BEB5AC;
  margin: 1em 0 0 2em;
}
.resource-file-other--box span {
  font-size: 1.2rem;
}

.resource-file-other--open {
	cursor:pointer;
  text-decoration: underline;
}
#resource-file-other--pop-up {
	display: none;
}
.resource-file-other--overlay {
	display: none;
}
#resource-file-other--pop-up:checked + .resource-file-other--overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.resource-file-other--window {
	width: 900px;
	max-width: 90vw;
  padding: 0 2em 2em;
	background-color: #ffffff;
	border-radius: 6px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.resource-file-other--text-ttl {
	font-size: 1.4rem;
  font-weight: bold;
}
.resource-file-other--close-wrap {
  text-align: center;
  margin: 1.5em 0 1em;
}
.resource-file-other--close {
  padding: 0.5em 2em;
	cursor:pointer;
	font-size: 1.4rem;
  border: 1px solid #BEB5AC;
}

.contents p.resource_file_recycle--txt-detail {
  padding-top: 0;
}