﻿@charset "utf-8";


table {
	margin-top:10px;
}

th, td {
	text-align:center;
}

table.goals th,
table.goals td,
table.goals02 th,
table.goals02 td,
table.goals03 th,
table.goals03 td,
table.goals04 th,
table.goals04 td{
	padding: 5px 10px;
	border: 1px solid #ccc;
	
}

table.goals th {
	background:#f1f1ef;
	text-align:left;
}

table.goals td {
	background:#fff;
	text-align:left;
}

table.goals02 th {
	background:#f1f1ef;
	text-align:left;
}

table.goals02 td {
	background:#fff;
	text-align:left;
}

table.goals03 .bg {
	background: #828275;
	color: #FFF;
	text-align:center;
}

table.goals03 .bg2 {
	background: #ededea;
	text-align:left;
}

table.goals03 .bg3 {
	background: #FFF;
	text-align:left;
}





table.goals03 .bg5{
	width:70px;
	background: #72a1a4;
}



table.goals03 .bg4 {
	width:70px;
	background: #ddedee;
}

table.goals04 th {
	background:#f1f1ef;
	text-align:center;
}

table.goals04 td {
	background:#fff;
}
table.goals04 td.left{ text-align: left !important;}
table.goals04 .indent{text-indent: 1em;}
table.goals04 td.right{ text-align: right !important;}


.mt20 {
	margin-top:20px;	
}

.mb20 {
	margin-bottom:20px;
}



p.gindent {
	font-size: 10px;
	margin-top:-3px;
}

p.gright {
	font-size: 10px;
	text-align:right;
	margin-top:-10px;
}

p.gline {
	line-height:0.8;
}

#ems02 td,
#ems05 td {
	text-align:left;
}

/*

20201224 萩原追記

*/

#bio02Nav {
	position: relative;
}

#bio02Nav ul li {
	position: absolute;
}

#bio02Nav .s01 {
	top: 131px;
	left: 8px;
}

#bio02Nav .s02 {
	top: 20px;
	left: 288px;
}

#bio02Nav .s03 {
	top: 94px;
	left: 529px;
}

#bio02Nav .s04 {
	top: 247px;
	left: 538px;
}

#bio02Nav .s05 {
	top: 367px;
	left: 264px;
}

#bio02Nav .s06 {
	top: 248px;
	left: 21px;
}

#biodiversity02 .section {
	position: relative;
	margin-left: 30px;
	padding: 2em;
	border: 2px solid #c8c8c3;
	border-radius: 20px;
}

#biodiversity02 .section::before {
	position: absolute;
	content: "";
	display: block;
	width: 43px;
	height: 42px;
	top: 5px;
	left: -30px;
}

#biodiversity02 .section > *:first-child {
	margin-top: 0;
	padding-top: 0;
}

#biodiversity02 .section + .section {
	margin-top: 20px;
}

#biodiversity02 .section figure {
	margin-top: 10px;
	text-align: center;
}

#bio02Copypaper::before {
	background-image: url(https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/mark_copypaper.png);
}

#bio02Miniroll::before {
	background-image: url(https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/mark_miniroll.png);
}

#bio02Pulp02::before {
	background-image: url(https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/mark_pulp02.png);
}

#bio02Pulp01::before {
	background-image: url(https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/mark_pulp01.png);
}

#bio02Wood::before {
	background-image: url(https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/mark_wood.png);
}

#bio02Planting::before {
	background-image: url(https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/mark_planting.png);
}
