﻿@charset "utf-8";

.policy_wrap {
	background-color: #eff0ed;
	padding: 20px 30px;
}

.contents h3.policy_ttl {
	text-align: center;
	font-size: 1.8rem;
	color: #216a75;
	border-bottom: solid 3px #b6b6ad;
	line-height: 2;
	padding-top: 0;
}

.contents .col222 h3 {
	margin: 20px 20px 0 0;
	padding: 0 0 0 8px;
}

.policy_desc {
	font-size: 1.4rem;
}

.policy_list {
	margin-top: 20px;
}

.policy_term {
	position: relative;
	font-size: 1.8rem;
	font-weight: bold;
	color: #216a75;
	padding-left: 25px;
}

.policy_term::before {
	position: absolute;
	content: '';
	background-color: #216a75;
	width: 1.6rem;
	height: 1.6rem;
	border-radius: 50%;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
}

.policy_data {
	font-size: 1.4rem;
	font-weight: bold;
	color: #216a75;
	padding: 0 0 5px 25px;
	margin-bottom: 10px;
	border-bottom: 1px solid #b6b6ad;

}

.policy_foot {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	border-top: solid 3px #b6b6ad;
	padding-top: 5px;
}

.policy_credit {
	text-align: right;
	font-weight: bold;
}

.policy_credit span {
	font-size: 1.8rem;
}

#cntA h3, #cntC h3 { background: #DDDEED; }
#cntB h3, #cntD h3 { background: #DDE7D5; }


#model-graph{
	width:490px;
}

.model-right{
	text-align:right;
	line-height:0.8;
}

 .model_topics .con .text {
	line-height: 1.5;

}

 .model_topics .image {
	clear:both;
	width: 150px;
}

 .model_topics .con .box{
	position:relative;
	height:834px;
	margin-left:80px;
}

 .model_topics .con .box a:hover img{
filter: alpha(opacity=70);
-moz-opacity:0.7;
opacity:0.7;
}

.model_topics ul{margin: 0 auto;text-align: center;}
.model_topics li{display: inline-block;}

 .model_topics .con .box .right_box_outer{ position:absolute; top:60px; left:70px;}
 .model_topics .con .box .right_box_outer2{ position:absolute; top:284px; left:-27px;}

 .model_topics .con .box .left_box_outer{ position:absolute; top:487px; left:148px;}
 .model_topics .con .box .left_box_outer2{ position:absolute; top:677px; left:-19px;}

