﻿@charset "utf-8";

#stepList {
	border-top: 3px solid #B6B6AD;
	border-bottom: 1px solid #CCC;
}
#stepList dt {
	padding: 12px 0;
	border-top: 1px solid #CCC;
	font-size: 14px; line-height: 25px;
	font-weight: bold;
}
#stepList dt:first-child { border: none; }
#stepList dd {
	margin: -44px 0 0 75px;
	padding: 0 0 12px 0;
	line-height:1.5;
}
#stepList dd p { padding: 8px 0 0 50px; }
#stepList dd p.msg {
	margin: 8px 0 0 50px;
	background: #F2F2EF;
	padding: 10px;
}
#stepList dl {
	border: none;
	font-weight: normal;
}
#stepList dl dt {
	width: 32px;
	padding: 8px 0;
	border: none;
	font-size: 12px; line-height:1.5;
	font-weight: normal;
	text-align: right;
}
#stepList dl dd {
	margin: -26px 0 2px 50px;
	padding: 0 0 0 0;
}
