@charset "utf-8";

.contents.tcfd-column .columnbody {
  padding: 10px 20px;
  background: none;
  border: 1px solid #c8c8c3;
}
.contents.tcfd-nav table {
  width: 100%;
}
table.type06 .tit {
  width: 25%;
}
h3.tcfd_h3 {
  font-size: 16px;
}
.tcfd_note {
  margin-top: 30px;
  font-size: 16px;
}