<h1>お客様とともに</h1>
<div class="smenuArea">
  <ul>
    <li class="smenuAreaItem"><a href="#policy">お客様対応の基本方針および行動指針</a></li>
    <li class="smenuAreaItem"><a href="#communication01">「アオイくん」と「マナミさん」/お客様との様々なコミュニケーション</a></li>
    <li class="smenuAreaItem"><a href="#communication02">「ロハコネイバーズ」の取り組み</a></li>
    <li class="smenuAreaItem"><a href="#communication03">「プロフェッショナルアドバイザー」の取り組み</a></li>
  </ul>
  <ul>
    <li class="smenuAreaItem"><a href="#communication04">お客様の声からはじまる改善活動</a></li>
    <li class="smenuAreaItem"><a href="#communication05">「ASKUL CS Week」の取り組み</a></li>
    <li class="smenuAreaItem"><a href="#communication06">「マインドBOOK」</a></li>
    <li class="smenuAreaItem"><a href="#communication07">（ご参考）お客様サービスデスク（お問い合わせセンター）の受賞履歴</a></li>
  </ul>
</div>