<h1>お取引先様との取り組み</h1>
<div class="smenuArea">
<ul>
	<li class="smenuAreaItem"><a href="#partner04">サプライヤ（商品仕入先）様との取り組み</a></li>
	<li class="smenuAreaItem"><a href="#partner06">「LOHACO ECマーケティングラボ」の取り組み</a></li>
	<li class="smenuAreaItem"><a href="#partner07">「Consumer Brand商品（CB商品）」の開発</a></li>
	<li class="smenuAreaItem"><a href="#partner01">アスクル サステナブル調達方針</a></li>
</ul>
<ul>
  <li class="smenuAreaItem"><a href="#partner05">サプライヤ（商品仕入先）様向け「CSR調査」の実施</a></li>
	<li class="smenuAreaItem"><a href="#partner02">アスクル担当販売店（エージェント）様との取り組み</a></li>
	<li class="smenuAreaItem"><a href="#partner03">「ホワイト物流」推進運動への賛同・自主行動宣言</a></li>
</ul>
</div>