<h1>マテリアリティ（重要課題）</h1>
<div class="smenuArea">
<ul>
	<li class="smenuAreaItem"><a href="#csr_sustainability03">アスクルのマテリアリティ（重要課題）</a></li>
  <li class="smenuAreaItem"><a href="#csr_sustainability04">マテリアリティ（重要課題）特定のプロセス</a></li>
</ul>
<ul>
	<li class="smenuAreaItem"><a href="#csr_sustainability05">マテリアリティ（重要課題）に基づく目標・KPI 一覧</a></li>
</ul>

</div>