<h1>消費者志向経営の推進（消費者志向自主宣言）</h1>
<p>アスクルは1992年のサービス開始から、2022年で30周年を迎えます。これからも社会のライフラインとして、私たちの責任を果たしていきたいと考えています。今後より一層進化していくにあたり、このたび、消費者庁が推進する「消費者志向経営」に賛同し、その実現に向けた当社の方針を表明する「消費者志向自主宣言」を策定いたしました。</p>
