<h1>アスクルが目指す環境経営</h1>
<div class="smenuArea">
<ul>
  <li class="smenuAreaItem"><a href="#policy03">アスクル環境方針</a></li>
  <li class="smenuAreaItem"><a href="#policy02">環境活動のフレームワーク</a></li>
  <li class="smenuAreaItem"><a href="#goals00">環境長期目標とRE100、EV100</a></li>
</ul>
<ul>
  <li class="smenuAreaItem"><a href="#goals05">SBT（Science Based Targets：企業版2℃目標）</a></li>
  <li class="smenuAreaItem"><a href="#goals01">環境中長期目標の策定</a></li>
  <li class="smenuAreaItem"><a href="#goals02">環境中長期目標の進捗状況</a></li>
    
</ul>
</div>