<h1>資源循環</h1>
<div class="smenuArea">
<ul>
	<li class="smenuAreaItem"><a href="#resource01">資源循環に関する基本的な考え方</a></li>
  <li class="smenuAreaItem"><a href="#resource02">「使用済みプラスチックのリサイクルバリューチェーン」実証実験について</a></li>
</ul>
<ul>
  <li class="smenuAreaItem"><a href="#resource04">使用済みクリアホルダー回収　ご参加の手順</a></li>
  <li class="smenuAreaItem"><a href="#resource03">アスクルカタログが紙袋になってCome bag（カムバッグ）</a></li>
</ul>
</div>