<div class="section" id="esg">
<p>ESG（環境・社会/人材・ガバナンス）に関連するデータ集をPDFで掲載しています。（2021年9月24日更新）</p>

<p class="ml20"><a href="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/data/pdf/esg_data.pdf" target="_blank">2021年5月期　ESGデータ集　（pdf：1.25 MB）</a> <img alt="pdf" height="18" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/download/img/pdficon.gif" width="14" /></p>

<p class="mt20">「温室効果ガス排出量検証報告書（Greenhouse Gas Emissions Verification Report）」を以下に掲載しています。（ESGデータ集のうち★印のデータに対応）</p>

<p class="ml20"><a href="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/data/pdf/105_ghg_report_20210315.pdf" target="_blank">温室効果ガス排出量検証報告書（日・英）（pdf：872KB）</a> <img alt="pdf" height="18" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/download/img/pdficon.gif" width="14" /></p>
</div>
