<div class="specialPanel">
<h1><img alt="自然・働くひとにやさしい　サステナブルなコーヒー" height="250" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/mainimage_coffee01.jpg" width="700" /></h1>
</div>
<!-- .specialPanel -->

<div class="section">
<p class="txt_right top0 note">内容はすべて掲載日・更新日現在のものです。／2017年2月20日更新</p>

<h2 class="spttl pt20"><img alt="環境保護、持続可能な生活の確保を支援するレインフォレスト・アライアンス認証農園産商品" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee_tit01.png" width="700" /></h2>

<p class="mt10"><span class="photo2_l"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee01.jpg" width="110" /></span> 2016年8月から販売を開始した関西アライドコーヒーロースターズ株式会社の新商品「ダ ラゴア農園ブレンド　ドリップコーヒー」は、ダ ラゴア農園産レインフォレスト・アライアンス認証コーヒー原料を50%使用した１杯取りのドリップコーヒーです。<br />
残りの50%はブラジル、コロンビアの豆を使い「アラビカ100%」のおいしいブレンドに仕上がりました。<br />
<br />
<span class="photo2_r"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee02.jpg" width="110" /></span> アスクルでは、厳しい基準をクリアした「レインフォレスト・アライアンス認証」を受けた農園であるダ ラゴア農園の豆を使用した商品をお届けすることで、メーカー、農園、そして何よりお客様と共に、環境保全への取り組みや持続可能な社会への貢献に取り組みたいと考えています。<br />
おいしいコーヒーを飲みながら、高品質なコーヒーを楽しめるだけでなく、熱帯雨林や野生生物の保護、生産国の農場労働者の生活環境の向上にも貢献することができる商品となっています。</p>
</div>
<!-- .section -->

<div class="section minus_m">
<div class="sustainable">
<dl class="markdl">
	<dt>サステナブル（持続可能）なコーヒー</dt>
</dl>

<dl class="clearfix">
	<dt class="tit"><img alt="自然環境" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee03.png" width="85" /></dt>
	<dd class="txt"><span class="mt10">・森林・土壌の保護・再生<br />
	・生物多様性の保全・向上<br />
	・化学物質・廃棄物などの適正管理</span></dd>
	<dd class="pct01"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee06.jpg" width="113" /></dd>
	<dd class="pct02"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee07.jpg" width="113" /></dd>
	<dd class="pct03"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee31.jpg" width="113" /></dd>
</dl>

<dl class="clearfix">
	<dt class="tit"><img alt="労働・社会" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee04.png" width="85" /></dt>
	<dd class="txt"><span class="mt10">・安全で健全な労働条件・農園の管理<br />
	・農家の自立・生活福祉向上の後押し<br />
	・学校や診療所等の確保・児童労働の回避</span></dd>
	<dd class="pct01"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee08.jpg" width="113" /></dd>
	<dd class="pct02"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee09.jpg" width="113" /></dd>
	<dd class="pct03"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee32.jpg" width="113" /></dd>
</dl>

<dl class="clearfix">
	<dt class="tit"><img alt="経済・品質" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee05.png" width="85" /></dt>
	<dd class="txt"><span class="mt20">・価格・取引条件等における適正な取引<br />
	・安定的な原材料および高い品質の確保</span></dd>
	<dd class="pct01"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee10.jpg" width="113" /></dd>
	<dd class="pct02"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee11.jpg" width="113" /></dd>
	<dd class="pct03"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee33.jpg" width="113" /></dd>
</dl>
</div>
</div>
<!-- .section --><!-- .section -->

<div class="section">
<div class="series">
<h2 class="tit"><img alt="ダ ラゴア農園シリーズ 新しい仲間が加わりました。 ドリップコーヒーにお試しサイズの15袋入パックが登場。レギュラーコーヒー、さらにダ ラゴア農園の風景をデザインしたデミタマグなど、さらにアイテムが拡大。コーヒー好きの方へのプレゼントにも最適です。" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee35_e.png" width="617" /></h2>

<div class="clm2 clearfix">
<div class="left"><img alt="ダ ラゴア農園ブレンド レギュラーコーヒー粉（300g）" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee36.png" width="193" />
<p class="tit_box"><img alt="ダ ラゴア農園ブレンド レギュラーコーヒー粉（300g）" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee37.png" width="213" /></p>
</div>

<div class="right"><img alt="ダ ラゴア農園ブレンド アイスコーヒー用（270g）" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee38.png" width="193" />
<p class="tit_box"><img alt="ダ ラゴア農園ブレンド アイスコーヒー用（270g）" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee39.png" width="213" /></p>
</div>
</div>

<div class="free">
<p class="no01"><img alt="お試しサイズ15袋入" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee40.png" width="187" /></p>

<p class="no02"><img alt="1箱100袋入" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee41.png" width="236" /></p>

<p class="no03"><img alt="接客用、社内用、手土産、ギフトにも" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee42.png" width="244" /></p>

<p class="tit_box"><img alt="ドリップコーヒー　15袋入　／　100袋入" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee43.png" width="612" /></p>
</div>

<div class="set">
<p class="midashi"><img alt="さらに期間限定・数量限定商品やセット品も！" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee44.png" width="347" /><span>※季節によって商品は異なります。</span></p>

<p class="no01"><img alt="デミタマグ 350ml　ブラック／ベージュ" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee45.png" width="163" /></p>

<p class="no02"><img alt="デミタマグとのセット品も" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee46.png" width="193" /></p>

<p class="no03"><img alt="コーヒー　キャニスター（缶）／コーヒー（希釈用" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee47.png" width="127" /></p>

<div class="btn_box clearfix">
<p class="left"><a href="https://www.askul.co.jp/ksearch/?searchWord=%E3%83%80%E3%83%A9%E3%82%B4%E3%82%A2" target="_blank"><img alt="法人のお客様はこちら" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee48.png" width="195" /></a></p>

<p class="right"><a href="https://lohaco.jp/ksearch/?searchWord=%E3%83%80%E3%83%A9%E3%82%B4%E3%82%A2
" target="_blank"><img alt="個人のお客様はこちらから" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee49.png" width="195" /></a></p>
</div>
</div>

<p class="note">＊上記でご紹介している商品のうち、販売期間限定品または販売数量限定品については、販売開始前または販売が終了している場合があります。あらかじめご了承ください。</p>
</div>
</div>
<!-- .section -->

<div class="section">
<h2 class="spttl pt40"><img alt="ブラジル「ダ ラゴア農園」と、その風景を描いたパッケージデザイン" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee_tit02.png" width="700" /></h2>

<dl class="markdl">
	<dt>レインフォレスト・アライアンス取得農園「ダ ラゴア農園」</dt>
	<dd class="text">コーヒー豆の産地「ダ　ラゴア農園」の「ラゴア」はポルトガル語で「泉」。<br />
	ブラジル・ミナスジェライス州、標高1,000ｍにある、この約4,000ｈaもの広大な農園には、自然保護区や森林、51もの源泉から湧き出た豊富な小川があり、多くの動物も生息しています。<br />
	<span class="photo2_r"><img alt="" height="120" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee13.jpg" /></span> <span class="photo2_r"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee12.jpg" width="160" /></span><br />
	農園の歴史は18世紀後半にさかのぼります。長年にわたり研鑽し受け継いできた高品質なコーヒー栽培の知識に加えて、「UTZ」や「レインフォレスト・アライアンス」など国際的な認証を取得した農園として、森林や生態系の保護、労働環境の向上や生活保護にも積極的に取り組み、世界中の人々の喜びのために、何世代もの間、優れたコーヒーを創る努力を重ねています。</dd>
</dl>

<div class="dalagoa"><span class="tit">【ダ ラゴア農園 DATA】</span><br />
産地標高：950～1150ｍ<br />
生産地域：ミナスジェライス州　サントアントニオドアンパーロ<br />
　　　　（サンパウロ国際空港より北東に車で約5時間（約400km）の小さな町。<br />
栽培面積：1952ha (全体で3750ha)<br />
認証：2005年UTZ認証取得、2008年レインフォレスト・アライアンス認証取得</div>

<dl class="markdl">
	<dt>「ダ ラゴア農園」の風景や暮らしを5種類の個包装とパッケージで表現。</dt>
	<dd class="text mt10"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee14.jpg" width="700" /></dd>
</dl>
<!--div class="dalagoa blank"> <span class="photo2_l"><img src="https://www.askul.co.jp/csr/special/img/coffee15.jpg" alt="" height="120"  /></span> <span class="tit">【デザイナー】</span><br/>
    クラス・ファーレン<br/>
    <a href="http://www.stockholmdesignlab.se/" target="_blank">http://www.stockholmdesignlab.se/</a> </div--></div>
<!-- .section -->

<div class="section">
<h2 class="spttl pt40"><img alt="栽培からコーヒー豆ができあがるまで／農園のスタッフたちからのメッセージ" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee_tit03.png" width="700" /></h2>

<dl class="markdl">
	<dt>コーヒー豆ができあがるまで</dt>
</dl>

<div class="pict_box mt10"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee34.jpg" width="700" /></div>

<div class="dalagoa">＜苗床＞&rarr;①栽培 ＞ ②収穫 ＞ ③精選 （乾燥&rarr;種子取出） ＞ ④選別 ＞ &rarr; ＜袋詰・輸出＞　～　日本に到着後、<br />
クリーニング ＞ 配合（ブレンド）＞ 焙煎（ロースト）＞ 粉砕（グラインド）＞ 包装 ＞ 販売 ＞　～お客様のお手元へ</div>

<dl class="markdl">
	<dt>ダ ラゴア農園の現地スタッフからのメッセージ</dt>
</dl>

<div class="clearfix">
<div class="movie_box">
<p><iframe width="560" height="315" src="https://www.youtube.com/embed/Zcsh-0osVqU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
</div>

<div class="pict_box2">
<ul>
	<li><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee21.jpg" width="120" /></li>
	<li><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee22.jpg" width="120" /></li>
	<li><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee23.jpg" width="120" /></li>
</ul>
</div>
</div>

<div class="voice">
<div class="image"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee27_01.jpg" width="167" /></div>

<dl class="text">
	<dt>fazenda da Lagoa（ダ ラゴア農園）<br />
	Regina, Tiago, Joaquim and Patrik</dt>
	<dd>It is such a pleasure for us to see that this great project made by the farm decorates the Askul packages with our coffee. We are very proud to know that our coffee which we cultivate with care, love and dedication has found consumers in Japan who appreciate the result of our work.<br />
	<br />
	私達が生産したコーヒーと農園風景が画かれたデザインされたパッケージを使用された商品を発売頂き、大きなコーヒープロジェクトに関われたことをとても嬉しく思います。私達のコーヒー農園ではコーヒーの木、自然環境、従業員に対して献身的に愛を込めて大切にしてきました。この様な活動が日本のお客様にご評価頂けますことを誇りに思います。</dd>
</dl>
</div>

<div class="voice">
<div class="image"><img alt="" height="120" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee25.jpg" width="167" /></div>

<dl class="text">
	<dt>石光商事株式会社<br />
	コーヒー・飲料部門 コーヒーチーム ブラジルエリア担当 荒川 正臣</dt>
	<dd>たくさんのコーヒー農園があるブラジルの中で屈指の美しさとたくましさをほこるダ ラゴア農園。 ディズニーランド約60個分に相当する3000ヘクタールを超える農園には各所に泉がわき出て小川ができ、動物たちのコリドーになっています。オニオオハシ、アルマジロ、豹（ひょう）、カピバラ、、まるで動物園のようなコーヒー農園。その小川を挟んで熱帯雨林も広がりみごとな自然体系が形成され、また人の手で維持されています。<br />
	豊かな自然に恵まれた環境との共存共栄のコンセプトと、先進的なヒトの技術が織りなす品質をぜひお楽しみください。</dd>
</dl>
</div>

<div class="voice">
<div class="image"><img alt="" height="120" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee26.jpg" width="167" /></div>

<dl class="text">
	<dt>石光商事株式会社<br />
	コーヒー・飲料部門 コーヒー加工品チーム 遠山正彦</dt>
	<dd>レインフォレスト・アライアンス認証のダ ラゴア農園は自然豊富で壮大な美しい農園です。<br />
	農園で使用した水の水質浄化や、農薬の制限などの森林や河川の環境保護や、労働者の生活向上、教員や医療の保障などの基準があり、この様な取り組みはコーヒーの品質向上に還元されることと信じております。<br />
	ドリップバッグの製造は弊社グループ会社の関西アライドコーヒーロースターズ株式会社で行われており、FSSC22000を取得している同社大阪工場では、コーヒーの品質維持に重要な要素の残存酸素濃度規格を「1%未満」と厳しい基準を設けて製造しております。<br />
	みなさまの日々のコーヒータイムがより充実したひとときとなって頂けますと嬉しい限りです。</dd>
</dl>
</div>

<div class="voice">
<div class="image"><img alt="" height="120" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee24.jpg" width="167" /></div>

<dl class="text">
	<dt>アスクル株式会社　商品担当<br />
	宮田久美子</dt>
	<dd>商品の企画にあたり、片道30時間以上かけて、ブラジルのダ ラゴア農園を訪問しました。雄大な自然の中で、動植物の固有な生態系が維持され、働く人たちの生活もきちんと確保されたすばらしい環境、そこから生まれた美味しいコーヒーを、かわいいデザインの素敵な商品に仕上げました。ギフトやノベルティにもお使いいただけます。自分にとってもわが子のような愛おしさを感じています（笑）<br />
	ご家庭で、オフィスで、ブラジルの雄大な農園を思い浮かべながら、ぜひお試しください。</dd>
</dl>
</div>
</div>
<!-- .section -->

<div class="section">
<div class="column">
<h3><img alt="column" height="15" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/common/img/column.gif" width="59" /></h3>

<div class="columnbody">
<dl>
	<dt class="text">レインフォレスト・アライアンス</dt>
	<dd><span class="photo2_r"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee28.jpg" width="164" /></span> 生物多様性の保護と人々の地蔵可能な生活の確保を使命として活動する国際的な非営利団体。<br />
	熱帯雨林をはじめとする森林や生態系の保護、労働環境の向上や生活の保護など、厳しい基準をクリアした農園にのみ「レインフォレスト・アライアンス認証」が与えられ、 その認証農園から供給された原料を使用した製品には、認証マークを使用することができます。<br />
	レインフォレスト・アライアンス認証は、環境保護、持続可能な暮らしの保証を支援しています。<br />
	<a href="http://www.rainforest-alliance.org/ja" target="_blank">http://www.rainforest-alliance.org/ja</a></dd>
</dl>
</div>
<!-- .columnbody --></div>
</div>
<!-- .section -->

<div class="section">
<div class="line">&nbsp;</div>

<div class="product">
<dl class="clearfix">
	<dt class="tit"><img alt="コーヒー" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee29.jpg" width="120" /></dt>
	<dd class="txt"><span class="mt20">「ダ ラゴア農園ブレンド　ドリップコーヒー　1箱（100袋入）」のお買い求めはこちらから<br />
	＞法人のお客様　<a href="https://www.askul.co.jp/p/2930723/" target="_blank">https://www.askul.co.jp/p/2930723/</a><br />
	＞個人のお客様　<a href="http://lohaco.jp/product/2930723/" target="_blank">http://lohaco.jp/product/2930723/</a></span></dd>
</dl>

<dl class="clearfix">
	<dt class="tit"><img alt="コーヒー" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/coffee30.jpg" width="120" /></dt>
	<dd class="txt"><span class="mt30">メーカーウェブサイトへ（関西アライドコーヒーロースターズ株式会社）<br />
	＞　<a href="http://www.kacr.co.jp/" target="_blank">http://www.kacr.co.jp/</a></span></dd>
</dl>
</div>

<p class="note mt20">＊UTZ：適正な農業・農園管理、健全な労働環境、環境保護などを求める、持続可能な農業のための国際的な認証プログラム。マヤ語の「Utz Kapeh(良いコーヒー)」に由来。<br />
＊役職・肩書き等は掲載時のものです。（2016年11月）</p>
</div>
