<div class="section" id="goals12">
<h2 class="smidashi">再生可能エネルギーの導入</h2>

<p>アスクルは、2016年、「2030年CO<sub>2</sub>ゼロチャレンジ」を宣言し、2030年までに事業所・物流センターからのCO<sub>2</sub>排出量をゼロに、また物流センターからお客様にお届けする車両（子会社所有またはリース）からのCO<sub>2</sub>排出量をゼロにすることを目標にしています。その翌年2017年には、国際的イニシアティブである「RE100（Renewable Energy 100%）」と「EV100（Electric Vehicle 100%）」に加盟しました。</p>

<p>RE100では、2030年までにアスクルグループの事業所・物流センターすべてに再生可能エネルギーを100%導入することを目指しています。2018年には、仙台DMC、名古屋センター、大阪DMC、ALP福岡の4拠点に再エネプランを導入しました。<br />
また、2020年には、ALP横浜、新木場センター（グループ会社ASKUL LOGISTが運営する物流センター）の2か所に再エネプランを導入しました。これによりグループ全体の電力使用量の34%が再生可能エネルギーに切り替わりました。<br />
2021年12月からは、アスクルグループ最大の物流センターであるAVC関西にも100％の再エネecoプランを導入し、グループ全体では57％の再エネ導入率となる予定です。</p>

<p>アスクルは今後も、事業所・物流センターへの導入を進めてまいります。</p>
</div>
