<div class="section" id="goals13">
<h2 class="smidashi">電気自動車（EV）の導入</h2>

<p>アスクルは、2017年、国際的イニシアティブである「RE100（Renewable Energy 100%）」とともに、「EV100（Electric Vehicle 100%）」にも加盟しました（同時加盟）。2030年までに、物流センターからお客様にお届けするラストワンマイルの車両（グループ会社であるASKUL LOGIST所有またはリース）を100%EV化することをゴールにしています。</p>

<p>2016年には、日産の電気自動車e-NV200を1２台導入しました。都内において、主に個人向けサービスのラストワンマイルに使用しています。また、2020年1月には、三菱ふそう小型トラックeCANTERを2台導入しました。主に家具等の大型の荷物の配送やデポまでの輸送に使用しています。2021年5月には、三菱自動車のMINICAB Mievを7台導入しました。このEVもラストワンマイルに使用しています。電気自動車は、走行時は排ガスを出さず、CO<sub>2</sub>排出量もゼロになるため、大気汚染対策や気候変動対策に大きく貢献します。</p>

<p>ラストワンマイルの配送拠点である新木場センターは、2020年8月に電力を再生可能エネルギーに切り替えました。これにより充電から走行時までのCO<sub>2</sub>排出量ゼロを実現しています。</p>

<p>電気自動車は、騒音・振動が少なくスムースな走行であるため、ドライバーの身体への負担が少なく、疲労軽減も期待できます。</p>

<ul class="colList m20 clearfix">
	<li><figure><img alt="三菱ふそう小型トラックeCANTER" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/goals17.png" /><figcaption class="t10 cent">三菱ふそう小型トラックeCANTER</figcaption></figure></li>
	<li><figure><img alt="三菱自動車MINICAB Miev" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/goals18.png" /><figcaption class="t10 cent">三菱自動車MINICAB Miev</figcaption></figure></li>
</ul>

<p class="mt10">アスクルは、2030年に向けて電気自動車の導入を順次進めてまいります。</p>
</div>
