<div class="section" id="resource02">
<h2 class="smidashi">「使用済みプラスチックのリサイクルバリューチェーン」実証実験について</h2>

<p>近年、資源の有効利用やプラスチックごみの削減、海洋生物の保護の観点から、プラスチックのリサイクルに関する社会的な関心や企業における活動が進んでおります。しかし、プラスチックのリサイクルにおいては、特にオフィスにおける使用済みのプラスチック製品は、回収・リサイクルが進まず、産業廃棄物として処理され、再資源化や再商品化につながるケースが少ない状況となっています。</p>

<p>そこで、アスクルでは、単一素材、同一形状であるクリアホルダーを回収し、再資源化して商品化することを目的とした実証事業を行うことといたしました。当事業は、環境省「令和2年度脱炭素社会を支えるプラスチック等資源循環システム構築実証事業」に採択されております。　<a href="http://www.env.go.jp/press/108633.html" target="_blank">http://www.env.go.jp/press/108633.html</a></p>

<p class="ind1em">▼クリアホルダーの回収から再製品化までを通じた新たな&ldquo;リサイクルバリューチェーン&rdquo;の構築の概要<br />
「環境省 令和2年度脱炭素社会を支えるプラスチック等資源循環システム構築実証事業」</p>
<figure><img alt="使用済みクリアホルダー回収リサイクルのスキーム" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/resource07.png" /></figure>

<p>環境省「脱炭素社会を支えるプラスチック等資源循環システム構築実証事業」における使用済みクリアホルダー回収に参加いただける方は、以下の手順に沿って、ご参加をお願いします。</p>

<h2 class="smidashi" id="resource04">■【　使用済みクリアホルダー回収　ご参加の手順　】</h2>

<div class="resource_file_recyle--wrap">
<div class="resource_file_recycle--mark"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/resource02.png" /></div>

<div>
<p class="resource_file_recycle--txt-main">環境省「脱炭素社会を支えるプラスチック等資源循環システム構築実証事業」における使用済みクリアホルダー回収への参加をご検討いただきありがとうございます。</p>

<p class="resource_file_head--sub">◎ 【回収対象】　使用済みクリアホルダー</p>

<p class="resource_file_recycle--txt-main resource_file_ind">＊透明、色・柄・企業名入りでも可。分けていただく必要はございません。</p>
</div>
</div>

<p class="resource_file_head--sub ind1em">●ご参加いただける場合、以下の手順をご確認ください。皆様のご参加・ご協力をお待ちしています。</p>

<div class="resource_file_form-box">
<div class="resource_file_form-img">
<div class="resource_file_form-book"><img alt="①ご登録" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/resource06.png" /><span>①ご登録</span></div>

<div><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/resource03.png" /></div>
</div>

<div class="resource_file_form-txt">
<p class="resource_file_recycle--txt-main ind1em">①【事前登録フォーム】から、関連情報のご登録をお願いします。</p>

<p class="resource-step-btn--wrap"><a class="resource-step-btn--orange" href="https://forms.office.com/r/QAmDyjERSL" target="_blank">【事前登録フォーム】<br />
<span>（別画面が開きます。）</span></a></p>

<p class="t10 ind1em">＊上記フォームへのご登録完了後、3営業日以内をめやすに、アスクル担当から、ご登録のご担当・eメールアドレス宛に、受付の旨と、アスクルで採番した【　ID番号（8桁）　】 をお知らせします。</p>
</div>
</div>

<div class="resource_file_form-box">
<div class="resource_file_form-img">
<div class="resource_file_form-book"><img alt="②ためる" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/resource06.png" /><span>②ためる</span></div>

<div><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/resource04.png" /></div>
</div>

<div class="resource_file_form-txt">
<p class="resource_file_recycle--txt-main ind1em">② 「使用済みクリアホルダー」をお手元にあるご不要になった段ボール箱等に溜めてください。</p>

<p class="ind1em">＊回収の際に以下もご利用ください。</p>

<ul class="resource_file_form-note--list list3">
	<li><a href="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/pdf/dl_sticker.pdf" rel="noopener noreferrer" target="_blank">回収BOX用ステッカー（PDF）</a></li>
	<li><a href="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/pdf/dl_clearholder.pdf" rel="noopener noreferrer" target="_blank">クリアホルダー分別表（PDF）</a></li>
</ul>
</div>
</div>

<div class="resource_file_form-box resource_file_form-box--3rd">
<div class="resource_file_form-img resource_file_form-img--3rd">
<div class="resource_file_form-book"><img alt="③おくる" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/resource06.png" /><span>③おくる</span></div>

<div><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/resource05.png" /></div>
</div>

<div class="resource_file_form-txt">
<p class="resource_file_recycle--txt-main ind1em">③ ご都合のよいタイミングで、宅配便等で以下の【送り先】にお送りください。送料はご負担いただいております。</p>

<div class="resouce_file_step--address">【送り先】　〒121-0836<br />
東京都足立区入谷五丁目 16 番 28 号<br />
白井エコセンター株式会社<br />
アスクル資源循環実証事業担当宛<br />
TEL：03-3897-1327／FAX：03-3857-0237</div>

<p class="resouce_file_step--note ind1em">＊送り状（伝票）の備考欄等に、アスクルからお伝えする<span>【ID番号（8桁）】を記載</span>いただくと、確認・回収実績の集計がスムーズに行えます。</p>
</div>
</div>

<h3 class="resource_file_head--sub ind1em">■その他　ご参加に当たってのご注意点</h3>

<p class="resource_file_recycle--txt-main">●詳細については<a href="http://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/pdf/clear_file.pdf" target="_blank">こちら「使用済みクリアホルダー回収のお願い」（PDF:988KB）</a>をご参照ください。</p>

<p class="resource_file_recycle--txt-main">●ご参加にあたってFAQ</p>

<ul class="list3">
	<li>宅配便の送料を除けば、特に他の費用はかかりません。</li>
	<li>送料ご負担いただくこと以外には、ご参加の条件・制限などは特にございません。</li>
	<li>量や箱数、タイミングについて、特に制限はありません。少量でも・大量でも構いません。</li>
	<li>量が少ない場合、紙袋などに詰めてお送りいただいても問題ございません。</li>
	<li>「①ご登録」は一度のみで結構です。一度発送いただいた後も、引き続き②・③にてご協力ください。</li>
</ul>

<p class="resource_file_recycle--txt-main">●回収実績のご報告について</p>

<ul class="list3">
	<li>白井エコセンターでは、透明、色・柄、リサイクルが難しいものに分別・選別を行います。</li>
	<li>貴社の回収実績は、ご登録いただいたご担当者のメールアドレス宛に、月に１度をめやすにご報告予定です。</li>
	<li>製品化の状況も併せてご報告します。</li>
</ul>

<p class="resource_file_recycle--txt-main">●本件へのお問い合わせ</p>

<p class="resource_file_recycle--txt-detail">以下宛先に、ｅメールでご連絡ください。（お返事に数日お時間をいただく場合がございます）<br />
eメール ： <a href="mailto:recycle@askul.co.jp?subject=【問い合わせ】使用済みクリアホルダー回収の件&amp;body=貴社名：%0d%0aご住所： %0d%0aご担当者様名： %0d%0ae-mail： %0d%0aご連絡先電話番号：%0d%0aお問い合わせ内容：%0d%0a">recycle@askul.co.jp</a><br />
アスクル株式会社　コーポレート本部 コーポレートコミュニケーション　サステナビリティ（環境）<br />
担当：　東（あずま）、四夷（しい）、立花</p>

<div class="resource-file-other--box"><span>※eメールには、以下をご記載ください。</span><br />
件名：使用済みクリアホルダー回収の件<br />
本文：<br />
貴社名：<br />
ご住所：<br />
ご担当者様名：<br />
e-mail：<br />
ご連絡先電話番号：<br />
お問い合わせ内容</div>

<p>●本件に関する個人情報の取り扱いについては、<label class="resource-file-other--open" for="resource-file-other--pop-up">こちら「使用済みクリアホルダー実証事業で取得する個人情報の取り扱いについて」</label>をご覧ください。</p>
<input id="resource-file-other--pop-up" type="checkbox" />
<div class="resource-file-other--overlay">
<div class="resource-file-other--window">
<h3 class="resource-file-other--text-ttl">使用済みクリアホルダー実証事業で取得する個人情報の取り扱いについて</h3>

<p class="resource-file-other--text">アスクル株式会社（以下、「当社」）は、本お申込み画面にご入力いただいたお申込者の情報（お申込者氏名、会社名、部門名、住所、電話番号、メールアドレス。以下、「本個人情報」）について以下のとおり取り扱います。</p>

<ol class="numlist">
	<li>本個人情報は、当社が実施するクリアホルダー回収事業のために利用いたします。本個人情報の提供は任意ですが、ご提供いただけない場合はクリアホルダー回収事業にご参加いただくことができません。</li>
	<li>本個人情報は、本個人情報の利用目的に必要な者だけが利用できるようアクセス権を限定するとともに、アクセス権管理を行います。当社は個人情報の保管・管理等に関する規則を作り、個人情報の保護のための安全管理策を講じています。</li>
	<li>当社は、当社の業務委託先に対して機密保持条項などを含む情報セキュリティに関する契約を締結したうえで、委託業務の遂行に必要な範囲に限り、個人情報の取扱いの一部を委託することがあります。</li>
	<li>当社は本個人情報を次の場合を除き第三者に提供いたしません。
	<ul>
		<li>a) 事前にご本人の同意がある場合</li>
		<li>b) 警察・検察・裁判所・税務署など公的機関から提供を要求された場合</li>
		<li>c) 法令等により要求された場合</li>
		<li>d) 人の生命、身体または財産の保護のために必要があり、ご本人の同意を得ることが困難である場合</li>
	</ul>
	</li>
	<li>本個人情報の取り扱いに関するお問合せ・苦情・相談は、以下までご連絡ください。<br />
	アスクル株式会社　コーポレート本部コーポレートコミュニケーション　サステナビリティ（環境）（eメール：<a href="mailto:recycle@askul.co.jp">recycle@askul.co.jp</a>　電話番号：03-4330-5565）</li>
	<li>個人情報保護執行責任者：アスクル株式会社　コーポレート本部本部長</li>
</ol>

<div class="resource-file-other--close-wrap"><label class="resource-file-other--close" for="resource-file-other--pop-up">&times;　閉じる</label></div>
</div>
</div>
</div>
