<div class="specialPanel">
<h1 class="air_h1"><img alt="空気や水の環境を考えるプロジェクト エステー株式会社×アスクル株式会社" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/mainimage_air.jpg" /></h1>
</div>

<p class="heading_desc">商品の売上の一部を、空気や水の環境改善に取り組む団体に寄付し、その活動を支援します。</p>

<section class="flow section">
<h2 class="sec_ttl"><span>支援の流れ</span></h2>

<figure class="flow_fig"><img alt="支援の流れ" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_flow.png" /></figure>
</section>

<section class="goods section">
<h2 class="sec_ttl"><span>対象商品</span></h2>

<figure class="esutee_logo"><img alt="エステー・ロゴ" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/esutee_logo.png" /></figure>

<div class="goods_div">
<div class="goods_col">
<div class="goods_pic"><img alt="エステー トイレの消臭スプレー 濃縮タイプ" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_goods01.jpg" /></div>
</div>

<div class="goods_col">
<div class="goods_01 goods_grp">
<p class="goods_desc">ワンプッシュ1秒でしっかり除菌・消臭できる濃縮タイプ。<br />
従来品の1.5倍、約260回※も使えて長持ちです。<br />
無香性とフレグランス調のリッチな香りが長く続く<br />
5つの香りをご用意しています！</p>

<p class="goods_desc_note">※1回約1秒噴射時（メーカー調べ）</p>

<h3 class="goods_ttl">エステー トイレの消臭スプレー 濃縮タイプ</h3>

<div class="colbtn">
<p class="colbtn_title"><img alt="ご購入はこちらから" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/phasefree_btn_txt.png" /></p>

<ul class="cf">
	<li><a class="pf-btn" href="https://www.askul.co.jp/v/000402798/" target="_blank"><span>ASKUL<br />
	Webサイトへ</span></a></li>
	<li><a class="pf-btn" href="https://solution.soloel.com/buyer/view/a900/DAD01050.html?te-uniquekey=17780a62414" target="_blank"><span>ソロエルアリーナ<br />
	Webサイトへ</span></a></li>
	<li><a class="pf-btn" href="https://lohaco.jp/ksearch/?searchWord=%E3%83%88%E3%82%A4%E3%83%AC%E3%81%AE%E6%B6%88%E8%87%AD%E3%82%B9%E3%83%97%E3%83%AC%E3%83%BC%E3%80%80%E3%82%A8%E3%82%B9%E3%83%86%E3%83%BC%E3%80%80%E3%82%A2%E3%82%B9%E3%82%AF%E3%83%AB%E9%99%90%E5%AE%9A&amp;categoryLl=&amp;categoryL=&amp;categoryM=&amp;categoryS=&amp;isPickup=1&amp;isAd=1" target="_blank"><span>LOHACO<br />
	Webサイトへ</span></a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="goods_div">
<div class="goods_col">
<div class="goods_pic"><img alt="エステー トイレの消臭剤" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_goods02.jpg" /></div>
</div>

<div class="goods_col">
<div class="goods_02 goods_grp">
<p class="goods_desc">スプレーと置き型のダブル使いがおすすめ！<br />
有機酸配合で約2倍※の消臭効果があるのに<br />
さりげなく置ける北欧のデザインが<br />
トイレの印象もUPさせます。</p>

<p class="goods_desc_note">※従来品比（メーカー調べ）</p>

<h3 class="goods_ttl">エステー トイレの消臭剤</h3>

<div class="colbtn">
<p class="colbtn_title"><img alt="ご購入はこちらから" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/phasefree_btn_txt.png" /></p>

<ul class="cf">
	<li><a class="pf-btn" href="https://www.askul.co.jp/v/4973/" target="_blank"><span>ASKUL<br />
	Webサイトへ</span></a></li>
	<li><a class="pf-btn" href="https://solution.soloel.com/buyer/view/a900/DAD01050.html?te-uniquekey=17780a51890" target="_blank"><span>ソロエルアリーナ<br />
	Webサイトへ</span></a></li>
	<li><a class="pf-btn" href="https://lohaco.jp/ksearch/?isPickup=1&amp;isAd=1&amp;searchWord=%E3%83%88%E3%82%A4%E3%83%AC%E3%81%AE%E6%B6%88%E8%87%AD%E5%89%A4%E3%80%80%E3%82%A8%E3%82%B9%E3%83%86%E3%83%BC%E3%80%80%E3%82%B9%E3%83%88%E3%83%83%E3%82%AF%E3%83%9B%E3%83%AB%E3%83%A0" target="_blank"><span>LOHACO<br />
	Webサイトへ</span></a></li>
</ul>
</div>
</div>
</div>
</div>

<div class="goods_div">
<div class="goods_col">
<div class="goods_03_pic goods_grp">
<div class="goods_pic"><img alt="エステー 消臭剤オーガニックセレクト" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_goods03.jpg" /></div>
</div>
</div>

<div class="goods_col">
<div class="goods_03_txt">
<p class="goods_desc">北海道の天然トドマツから抽出した<br />
リラックス効果のある森林浴成分を配合。<br />
おもてなし空間にぴったりのグリーンフローラル調の香りと<br />
シックなデザインが特徴のルーム用消臭・芳香剤です。</p>

<h3 class="goods_ttl">エステー 消臭剤オーガニックセレクト</h3>

<div class="colbtn">
<p class="colbtn_title"><img alt="ご購入はこちらから" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/phasefree_btn_txt.png" /></p>

<ul class="cf">
	<li><a class="pf-btn" href="https://www.askul.co.jp/v/000484876/" target="_blank"><span>ASKUL<br />
	Webサイトへ</span></a></li>
	<li><a class="pf-btn" href="https://solution.soloel.com/buyer/view/a900/DAD01050.html?te-uniquekey=17780a683ad" target="_blank"><span>ソロエルアリーナ<br />
	Webサイトへ</span></a></li>
	<li><a class="pf-btn" href="https://lohaco.jp/ksearch/?searchWord=%E3%82%A8%E3%82%B9%E3%83%86%E3%83%BC%E3%80%80%E3%82%AA%E3%83%BC%E3%82%AC%E3%83%8B%E3%83%83%E3%82%AF%E3%82%BB%E3%83%AC%E3%82%AF%E3%83%88&amp;categoryLl=&amp;categoryL=&amp;categoryM=&amp;categoryS=&amp;isPickup=1&amp;isAd=1" target="_blank"><span>LOHACO<br />
	Webサイトへ</span></a></li>
</ul>
</div>
</div>
</div>
</div>
</section>

<section class="aid section">
<div class="aid_sec_ttl_wrap">
<h2 class="sec_ttl aid_sec_ttl"><span>特定非営利活動法人</span><br />
<span>ウォーターエイドジャパンの活動を支援します</span></h2>
</div>

<div class="aid_about">
<figure><img alt="ウォーターエイドジャパンロゴ" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/wateraid_logo.png" /></figure>

<p class="aid_about_txt">ウォーターエイドは、「すべての人々が清潔な水と衛生を利用できる世界」をビジョンに掲げて活動する水・衛生専門の国際NGOです。清潔な水、衛生的なトイレ、正しい衛生習慣を届けることで、世界で最も貧しく社会的に取り残されている人々の暮らしの改善を目指しています。特定非営利活動法人ウォーターエイドジャパンは、日本の水・衛生分野の知見と日本からの支援を世界の水・衛生問題の解決に役立てるため、2013年に設立されました。<br />
＊ウォーターエイドについて詳しくは<a href="https://www.wateraid.org/jp/" rel="external">こちら</a></p>
</div>

<h3 class="aid_ttl">● プロジェクト第1弾のスケジュールと支援内容</h3>

<div>
<figure><img alt="プロジェクト第1弾のスケジュールと支援内容" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_aid_flow.png" /></figure>
</div>

<h3 class="aid_ttl">●支援実績のご報告</h3>

<p>第1回目の支援・寄付を行いました。　引き続き皆さまのご理解・ご協力をお願いします。</p>

<table class="aid_report_tbl type06 mt10">
	<thead>
		<tr>
			<th class="tit">&nbsp;</th>
			<th class="tit">支援先</th>
			<th class="tit">回数</th>
			<th class="tit">対象期間</th>
			<th class="tit">支援金額</th>
			<th class="tit">使途</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="tit nowrap" rowspan="2"><span>第1弾</span></td>
			<td class="nowrap" rowspan="2"><span>特定非営利活動法人</span><br />
			<span>ウォーターエイド</span><br />
			<span>ジャパン</span></td>
			<td class="nowrap">第1回</td>
			<td>2021.2.21ー2021.8.20</td>
			<td class="nowrap cnt">963,349円</td>
			<td rowspan="2">インド　オディシャ州バドラック県　保険医療施設における手洗い設備とトイレの設置プロジェクト</td>
		</tr>
		<tr>
			<td><span>第2回</span></td>
			<td>2021.8.21ー2022.2.20</td>
			<td><span>2022年8月</span><span>報告予定</span></td>
		</tr>
	</tbody>
</table>

<h3 class="aid_ttl">●2021年9月現在の進捗状況</h3>

<div class="aid_progress">
<ul class="list3">
	<li>県政府と保健医療施設当局からの承認を取得</li>
	<li>保健医療施設のスタッフとのミーティング実施</li>
	<li>既存の水・衛生設備の確認と調査</li>
</ul>

<figure class="aid_progress_fig"><img alt="画像提供：特定非営利活動法人ウォーターエイドジャパン" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_pic02.jpg" />
<figcaption>画像提供：特定非営利活動法人ウォーターエイドジャパン</figcaption>
</figure>
</div>

<h3 class="aid_ttl">●支援金の使途</h3>

<div class="aid_use">
<div class="aid_use_l">
<ul class="list3">
	<li>障害者用・インクルーシブトイレの設置</li>
	<li>患者・一般利用者も使用可能なペダル式手洗い設備の設置</li>
	<li>医療従事者用には肘で操作可能な蛇口が付いた洗面台の設置</li>
</ul>

<div class="aid_use_l-balloon">
<div class="aid_use_fig-balloon">こんな設備・トイレが設置される予定です。</div>
</div>
</div>

<div class="aid_use_fig">
<figure><img alt="ペダル式手洗い設備" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_pic03.png" />
<figcaption>ペダル式手洗い設備</figcaption>
</figure>

<figure class="aid_use_fig-r"><img alt="アクセシブル（障がい者用）トイレ" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_pic04.png" />
<figcaption>アクセシブル（障がい者用）トイレ</figcaption>
</figure>
</div>
</div>

<h3 class="aid_ttl">● 空気や水に関連する支援地域の社会課題</h3>

<div class="aid_prob">
<div class="aid_prob_01">
<div class="aid_prob_01_txt_area">
<p class="aid_prob_01_txt">インドは近年、気候変動と長年の過剰な地下水利用によって、深刻な水不足に直面しています。2030年までに国民の40％が飲料水を得られなくなるとの予測<sup>※</sup>もあります。今回取り組みをするオディシャ州は、インドのなかで貧困率も高く、SDGsの進捗が遅れている州のひとつです。</p>

<p class="aid_prob_01_note">※インド政府系シンクタンク『Niti Aayog』発表</p>
</div>

<figure><img alt="SDGaアイコン" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_sdgs_icons.png" /></figure>
</div>

<div class="aid_prob_02">
<figure><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/air_pic01.jpg" />
<figcaption class="aid_prob_02_cap">WaterAid/ Anindito Mukherjee</figcaption>
</figure>

<p class="aid_prob_02_txt">住民は飲用・生活用水とも地下水を利用しており、地下水が枯れたために遠くまで水汲みに行かなくてはいけません。農業ができず、食料や収入が減少し、災害時には衛生状況が悪化し、病気の流行につながるなど、さまざまな困難に直面しています。</p>
</div>

<div class="aid_prob_03">
<p class="aid_prob_03_txt">沿岸部にあるオディシャ州は、地下水が減少することで、地下水の海水化が起こっています。近年は気候変動に起因する大型サイクロンや洪水や干ばつが頻発しており、さらに貧困率が高くインフラ整備も進んでいないことから、気候変動の影響に対して非常に脆弱な地域です。</p>

<p class="aid_prob_03_txt">農村部にある保健医療施設では、以前より、適切なトイレや手洗い設備がない場所や不足していることが課題でした。<br />
このような保健医療施設は、治療の場となるどころか、コロナの影響を受け、さらなる感染拡大を引き起こす懸念さえあります。</p>
</div>

<p class="aid_prob_04">資料提供：特定非営利活動法人ウォーターエイドジャパン</p>
</div>
</section>

<p class="air_summary">今回スタートした空気や水の環境を考えるプロジェクトを通じて、<br />
お客様に対象の商品を使っていただきながら<br />
さまざまな課題を一緒に考え、その対策に取り組んでいきたいと考えております。</p>
