<div class="specialPanel">
<h1 class="comebag_h1"><img alt="サーキュラーエコノミーと海洋プラスチックごみ対策のためのTSUSHIMA×ASKUL project" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/mainimage_tsushima.jpg" /></h1>
</div>

<h2 class="mmidashi_nav mmidashi">はじまりは、レジ袋商品担当者からの相談でした。</h2>

<div class="tsushima_div">
<p class="tsushima_00_bag"><img alt="バッグ" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_00_bag.png" /></p>

<div>
<p>環境問題対策としてレジ袋有料化が2020年7月に始まりました。バイオマス素材配合のレジ袋を販売することによって、従来のプラスチック製レジ袋より石油由来の資源の利用削減にはつながりますが、直接的なプラスチックごみの削減にはなりません。寄付などの別の形で、プラスチック問題に少しでも貢献できないでしょうか？</p>

<p>寄付をするのであれば、問題解決に直接役に立ちたいし、寄付がどのように使われて、それによってどう貢献できるのか、お客様にも報告と説明ができて、その背景にある問題も知っていただくきっかけになる取り組みになればと考え、まずは海洋プラスチックごみ問題を調べることにしました。</p>
</div>
</div>

<nav>
<ul class="tsushima_nav_list">
	<li class="tsushima_nav_item"><a href="#tsushima01">海洋プラスチックごみ問題を知る</a></li>
	<li class="tsushima_nav_item"><a href="#tsushima02">対馬市が抱える海ごみ問題を知る</a></li>
	<li class="tsushima_nav_item"><a href="#tsushima03">アスクルの資源循環の取り組み</a></li>
	<li class="tsushima_nav_item"><a href="#tsushima04">対馬市との連携協定</a></li>
	<li class="tsushima_nav_item tsushima_nav_item-bag"><a href="#tsushima05">寄付金つきレジ袋</a></li>
	<li class="tsushima_nav_item"><a href="#tsushima06">支援のご報告</a></li>
</ul>
</nav>

<section id="tsushima01">
<h2 class="mmidashi">海洋プラスチックごみ問題を知る</h2>

<div class="tsushima_inner">
<h3 class="tsushima_inner_h3"><span>海洋プラスチックごみ問題って何だろう？</span></h3>

<figure class="tsushima_01_figure"><img alt="海洋プラスチックごみ問題って何だろう？" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_01_balloons.png" /></figure>
</div>

<div class="tsushima_inner">
<h3 class="tsushima_inner_h3"><span>海洋プラスチックごみはどこからきてるんだろう？</span></h3>

<div class="tsushima_div">
<div class="tsushima_01_map_area">
<p><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_01_world.png" /></p>

<p class="tsushima_01_link">毎日新聞2018年9月16日　東京朝刊：<br />
<a href="https://mainichi.jp/articles/20180916/ddm/003/040/099000c" target="_blank">https://mainichi.jp/articles/20180916/ddm/003/040/099000c</a><br />
政府広報オンライン：<br />
<a href="https://www.gov-online.go.jp/useful/article/201905/1.html" target="_blank">https://www.gov-online.go.jp/useful/article/201905/1.html</a></p>
</div>

<div class="tsushima_01_txt_area">
<div class="tsushima_01_txt_grp">
<p>世界のプラスチックごみの約90％は<br />
アジアとアフリカの10本の河川から排出されています</p>

<div class="tsushima_highlight tsushima_01_highlight">海洋ごみに国境はありません</div>
</div>

<div class="tsushima_01_txt_grp">
<p>海洋に流れ出しているプラスチックごみの量</p>

<div class="tsushima_highlight tsushima_01_highlight">年間500～1300万トンにもなります</div>
</div>

<div class="tsushima_01_txt_grp">
<p>このままだと2050年には</p>

<div class="tsushima_highlight tsushima_01_highlight">海のプラスチックごみは<br />
　　魚の量を上回ると言われています</div>
</div>
</div>
</div>
</div>
</section>

<section id="tsushima02">
<h2 class="mmidashi">対馬が抱える海ごみ問題を知る</h2>

<div class="tsushima_inner">
<h3 class="tsushima_inner_h3"><span>日本にはどんな問題があるんだろう？</span></h3>

<div class="tsushima_02_main">
<p class="tsushima_02_japan"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_02_japan.png" /></p>

<div class="tsushima_02_txt_area">
<p>世界から流れてくる海ごみは<br />
　&rarr; 南西諸島 &rarr; 日本の海岸に漂着 &rarr; 時間が経過し劣化すると<br />
　　&rarr; 津軽海峡 &rarr; 太平洋・ハワイ沖へとまた漂流しています</p>

<div class="tsushima_highlight tsushima_02_highlight">世界から流れてくる海ごみがたまりやすい<br />
特殊な地形の対馬</div>
</div>
</div>
</div>

<div class="tsushima_inner">
<h3 class="tsushima_inner_h3"><span>対馬の海ごみの状況</span></h3>

<div class="tsushima_02_map_div">
<div class="tsushima_02_condition_txt_area">
<p class="tsushima_02_map_p">平成30年度回収した海ごみに関するデータ</p>

<ul class="tsushima_02_map_list list">
	<li class="tsushima_02_map_item">回収量は8,534㎥</li>
	<li class="tsushima_02_map_item">約8割は海外から漂着した海ごみ</li>
	<li class="tsushima_02_map_item">約7割がプラスチックごみ</li>
</ul>

<p class="tsushima_02_map_p">長年多量の海ごみに悩まされています</p>

<div class="tsushima_highlight tsushima_02_highlight">対馬は海ごみの防波堤</div>
</div>

<div class="tsushima_02_condition_map_area"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_02_map.png" /></div>
</div>
</div>

<div class="tsushima_inner">
<h3 class="tsushima_inner_h3"><span>対馬市の取り組み</span></h3>

<div class="tsushima_02_effort_01">
<div class="tsushima_02_effot_01_pic"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_02_pic1.jpg" /></div>

<div class="tsushima_02_effort_01_txt">
<ul class="list tsushima_02_effort_list">
	<li class="tsushima_02_effort_item">ボランティアや地元の漁業関係者と連携し、国内でもトップのごみの量を回収しています</li>
	<li class="tsushima_02_effort_item">海ごみ対策には長年多額の費用を投入しています</li>
	<li class="tsushima_02_effort_item">しかしどれだけ回収して処分をしても、次から次へと海ごみは流れてきます</li>
</ul>
</div>
</div>

<div class="tsushima_02_effort_02">
<div class="tsushima_02_effort_02_txt">
<div class="tsushima_highlight">対策しても増加傾向にある海ごみ</div>

<p class="tsushima_02_effort_02_note">＊詳しくは<a href="https://tsushima-mltic.com/" target="_blank">対馬海ごみ情報センター</a>をご覧ください</p>
</div>

<div class="tsushima_02_effort_02_pic"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_02_pic2.jpg" /></div>
</div>

<div class="tsushima_02_effort_03">
<ul class="list tsushima_02_effort_list">
	<li>対馬市は令和2年7月17日、内閣府より持続可能な開発目標（SDGs）達成に向けた取組を先導的に進めていく自治体「ＳＤＧｓ未来都市」に選定されました</li>
	<li>「対馬市SDGs未来都市計画」には、海洋プラスチックごみをリサイクルする取り組みやサーキュラーエコノミーの活性化に向けたKPIも設定しています</li>
</ul>
</div>

<div class="tsushima_02_effort_note">資料提供：対馬市　<a href="https://www.city.tsushima.nagasaki.jp/gyousei/sangyo/SDGs/2937.html" target="_blank">https://www.city.tsushima.nagasaki.jp/gyousei/sangyo/SDGs/2937.html</a></div>
</div>
</section>

<section id="tsushima03">
<h2 class="mmidashi">アスクルの資源循環の取り組み</h2>

<div class="tsushima_inner">
<h3 class="tsushima_inner_h3"><span>アスクルの取り組み</span></h3>

<p>「サプライチェーンを資源循環型プラットフォームとして進化させ、廃棄物の削減、使用済み製品などの回収・再資源化を促進し、限りある資源の有効活用に努めます。」という考え方のもと、環境への影響をできるだけ少なくするために、ごみの量を減らし、資源として扱かえるものは再利用する取り組みをステークホルダーのみなさまと一緒にすすめます。</p>

<dl class="markdl">
	<dt>取り組みのご紹介</dt>
	<dd class="tsushima_03_dd">各種回収サービス（カタログ、ダンボール、使用済みトナーカートリッジ等）<br />
	<a href="https://www.askul.co.jp/f/green/service/kaisyu.html" target="_blank">https://www.askul.co.jp/f/green/service/kaisyu.html</a></dd>
	<dd class="tsushima_03_dd">「使用済みプラスチックのリサイクルバリューチェーン」実証実験について<br />
	<a href="/ja/themes/93#resource02">https://askul.disclosure.site/ja/themes/93#resource02</a></dd>
	<dd class="tsushima_03_dd">アスクルカタログを原料とした紙袋&quot;Come bag/カムバッグ&quot;<br />
	<a href="/ja/themes/172">https://askul.disclosure.site/ja/themes/172</a></dd>
</dl>
</div>
</section>

<section id="tsushima04">
<h2 class="mmidashi">対馬市との連携協定</h2>

<div class="tsushima_inner">
<h3 class="tsushima_inner_h3"><span>TSUSHIMA&times;ASKUL</span></h3>

<p>対馬市のSDGs未来都市計画とアスクルの資源循環への取り組みの考え方や方向性に共通点が多く、2021年2月SDGs連携協定書を締結しました。SDGsの目標達成に向けて、双方の資源、ノウハウを有効に活用した共同による活動を推進します。</p>

<div class="tsushima_04_box">
<h4 class="tsushima_04_box_ttl">【連携事項】</h4>

<div class="tsushima_04_list_grp">
<h5 class="tsushima_04_grp_ttl">サーキュラーエコノミー（循環経済）の活性化に関すること</h5>

<ul class="list2">
	<li>対馬市内で回収した海洋プラスチックごみを加工した再生樹脂による商品の開発および販売を検討</li>
	<li>アスクルのステークホルダーも巻き込み、対馬市サーキュラーエコノミー活性化の取り組みを検討</li>
</ul>
</div>

<div class="tsushima_04_list_grp">
<h5 class="tsushima_04_grp_ttl">海洋プラスチックごみ対策の推進に関すること</h5>

<ul class="list2">
	<li>対馬市の海洋プラスチックごみ回収に対する支援（商品売上を通じた寄付）</li>
	<li>対馬スタディツアーを通じ、対馬で回収された海洋プラスチックごみを再利用する企業・団体の創出に協力し、ごみのリサイクル率や回収量の増加促進に協力する</li>
</ul>
</div>
</div>
</div>
</section>

<section id="tsushima05">
<h2 class="mmidashi tsushima_05_h2">寄付金つきレジ袋</h2>

<div class="tsushima_inner tsushima_05_inner">
<h3 class="tsushima_inner_h3"><span>商品のお買い上げが寄付につながります</span></h3>

<p class="tsushima_05_txt">ご購入金額（税抜き）の3%を、長崎県対馬市に寄付します。<br />
寄付金は、海ごみの回収や処理に役立てられます。</p>

<div class="tsushima_05_main">
<figure class="tsushima_05_main_img"><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_05_pic1.jpg" /></figure>

<div class="tsushima_05_desc_area">
<div class="tsushima_05_desc_box tsushima_05_desc_01">多様な生態系を象徴するサンゴをモチーフとしたアスクルオリジナルの北欧デザイン。</div>

<div class="tsushima_05_desc_box tsushima_05_desc_02 tsushima_div">
<figure><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_05_pic2.jpg" /></figure>

<div class="tsushima_05_desc_02_txt">バーコードが入っているので有料販売にも、バイオマス25%配合のため無料配布にも、どちらでも対応できます。</div>
</div>

<div class="tsushima_05_desc_box tsushima_05_desc_03 tsushima_div">
<figure><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_05_pic3.png" /></figure>

<div class="tsushima_05_desc_03_txt">お客様へ取組を伝える販促用POPデータをご用意！購入ページにてダウンロード可能です。</div>
</div>
</div>
</div>

<div class="colbtn">
<p class="colbtn_title"><img alt="ご購入はこちらから" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/phasefree_btn_txt.png" /></p>

<ul class="cf">
	<li><a class="pf-btn" href="https://www.askul.co.jp/v/000509964/" target="_blank"><span>ASKUL<br />
	Webサイトへ</span></a></li>
	<li><a class="pf-btn" href="https://solution.soloel.com/buyer/view/a010/DAA01010.html?directUrl=%2Fbuyer%2Fview%2Fa900%2FDAD01050.html%3FtakeOverItemGrpCd%3D509964%26takeOverNewDisplayFlag%3Dtrue" target="_blank"><span>ソロエルアリーナ<br />
	Webサイトへ</span></a></li>
	<li><a class="pf-btn" href="https://lohaco.jp/product/U421071/" target="_blank"><span>LOHACO<br />
	Webサイトへ</span></a></li>
</ul>

<p class="tsushima_05_finish">年間2回（9月と3月）に寄付を行います<br />
寄付額・寄付の使途・現地の情報など<br />
随時こちらのページでアップデートしていく予定です</p>
</div>
</div>
</section>

<section id="tsushima06">
<h2 class="mmidashi tsushima_06_h2">支援のご報告</h2>

<p>第１回目の支援・寄付を行いました。　引き続き皆さまのご理解・ご協力をお願いします。</p>

<table class="type06 mt10 wide">
	<thead>
		<tr>
			<th class="tit">回数</th>
			<th class="tit">対象期間</th>
			<th class="tit">支援金額</th>
			<th class="tit">使途</th>
			<th class="tit">受領証等</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>第1回</td>
			<td>2021.2.21ー2021.8.20</td>
			<td>171,116円</td>
			<td>対馬市海岸漂着物等地域対策推進事業へ活用</td>
			<td class="cent"><a href="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/pdf/tsushima_receipt.pdf" target="_blank">PDF<br />
			(260KB) </a></td>
		</tr>
	</tbody>
</table>

<p class="tsushima_06_tbl-cap ind1em">※本支援は「対馬市企業版ふるさと納税」制度を活用しての寄附・支援となっております。<br />
<a href="https://www.city.tsushima.nagasaki.jp/gyousei/soshiki/shimadukuri/shimanochikarasoseika/notice/3589.html" target="_blank">https://www.city.tsushima.nagasaki.jp/gyousei/soshiki/shimadukuri/shimanochikarasoseika/notice/3589.html</a></p>

<p>寄付つきレジ袋を最初の一歩として、今後も対馬市や関連する団体・企業とともに、サーキュラーエコノミーと海洋プラスチックごみ対策のための取り組みを展開してまいります。</p>

<figure class="mt20"><a href="https://www.city.tsushima.nagasaki.jp/" target="_blank"><img alt="長崎県対馬市バナー" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/special/img/tsushima_06_pic1.png" /></a></figure>
</section>
