<div class="section" id="csr_sustainability04">
<h2 class="smidashi">マテリアリティ（重要課題）特定のプロセス</h2>

<p>マテリアリティ（重要課題）の特定に当たっては、アスクルにおけるパーパス（存在意義）・バリューズ（価値観）や社内の各方針等を踏まえつつ、まずは国際的なガイドライン等を参照しつつ、課題を抽出・整理しました。その後、ステークホルダーへのヒアリングなどを通じて、「ステークホルダーにとっての重要度」および「自社にとっての重要度」という2軸に基づき課題を整理・評価検証を行い、さらに経営陣での議論、取締役会の決議を経て、マテリアリティ（重要課題）を特定・決定しました。</p>

<h3>●【STEP1】　社会課題の抽出・検討、ステークホルダーからの要請の仮説の整理</h3>

<p>SDGsの17の目標およびGRI、ISO26000、SASB、IIRCなど国際的な枠組み、ESG評価機関の調査項目等も含め、検討すべき社会課題を抽出するとともに、ステークホルダーごとの要請に関する仮説を把握・整理。</p>

<h3>●【STEP2】　ステークホルダーとの対話</h3>

<p>抽出した社会課題および設定した仮説を元に、アスクルに対する期待・要請、優先的に取り組むべき課題について、お客様、お取引先様、投資家、社内外の役員などへのヒアリング、社員へのアンケート調査等を実施。</p>

<table class="wide type05 mt20">
	<thead>
		<tr>
			<th class="tit">&nbsp;</th>
			<th class="tit">ヒアリング対象</th>
			<th class="tit">ステークホルダーの期待例</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>お客様</th>
			<td>BtoB事業におけるお客様</td>
			<td>・基礎的価値（価格・品質・納期等）<br />
			・サステナブル（CSR）調達 等</td>
		</tr>
		<tr>
			<th rowspan="2">お取引先様</th>
			<td>サプライヤー様（商品の仕入先）</td>
			<td>・お客様接点の進化<br />
			・循環型社会に向けた協業<br />
			・サプライチェーン管理　等</td>
		</tr>
		<tr>
			<td>エージェント様（担当販売店）</td>
			<td>・お客様とのエンゲージメント<br />
			・テクノロジーの活用と進化 等</td>
		</tr>
		<tr>
			<th rowspan="3">役員・社員</th>
			<td>役員</td>
			<td>・DXによる成長性・収益性向上<br />
			・人材・ダイバーシティ　等</td>
		</tr>
		<tr>
			<td>社外取締役</td>
			<td>・ビジネスの進化・変革<br />
			・主要株主との連携 等</td>
		</tr>
		<tr>
			<td>社員<br />
			※アンケート調査の実施</td>
			<td>・安心・安全な職場<br />
			・適切な処遇・評価・充実感<br />
			・多様な人材が活躍できる環境等</td>
		</tr>
		<tr>
			<th>株主・投資家</th>
			<td>機関投資家</td>
			<td>・ガバナンス、リスク管理<br />
			・財務情報との紐づけ・開示 等</td>
		</tr>
	</tbody>
</table>

<h3>●【STEP3】　自社と社外の評価を統合し、重要課題候補の策定</h3>

<p>各ステークホルダーからの期待・社外から見た重要度と、アスクルグループにとっての重要度や影響度の2軸で評価し、マテリアリティ（重要課題）の候補を選定。</p>

<p><img alt="【マテリアリティ評価マップ】" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sustainability03.png" /></p>

<h3>●【STEP4】　経営陣による議論検討、マテリアリティ（重要課題）の特定</h3>

<p>経営会議での議論、社外取締役を含む各役員からの意見・検討、2020年12月のCSR委員会での妥当性確認、取締役会での決議を経て、アスクルのマテリアリティ（重要課題）を特定・公表。</p>

<div class="sus_process">
<h4 class="sus_process_h4">特定されたアスクルのマテリアリティ（重要課題）</h4>

<table class="wide type05">
	<colgroup>
		<col style="width: 11%;" />
		<col style="width: 40%;" />
		<col style="width: 23.5%;" />
		<col />
	</colgroup>
	<thead>
		<tr>
			<th class="tit" colspan="2">マテリアリティ（重要課題）</th>
			<th class="tit" colspan="2">関わりのあるSDGs</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>【DX】</th>
			<td>
			<dl>
				<dt class="sus_process_dt">DXによるサービスの変革</dt>
				<dd class="sus_process_dd">最高の顧客体験の創造</dd>
				<dd class="sus_process_dd">革新的バリューチェーンの構築</dd>
			</dl>
			</td>
			<td><img alt="8：働きがいも経済成長も" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_8.png" /> <img alt="9：産業と技術革新の基盤をつくろう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_9.png" /> <img alt="17：パートナーシップで目標を達成しよう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_17.png" /></td>
			<td>目標8　働きがいも経済成長も<br />
			目標9　産業と技術革新の基盤をつくろう<br />
			目標17　パートナーシップで目標を達成しよう</td>
		</tr>
		<tr>
			<th>【共創】</th>
			<td>
			<dl>
				<dt class="sus_process_dt">共創によるイノベーション</dt>
				<dd class="sus_process_dd">資源循環型プラットフォームの実現</dd>
				<dd class="sus_process_dd">商品とサービスを通じた新たな価値の創出</dd>
			</dl>
			</td>
			<td><img alt="9：産業と技術革新の基盤をつくろう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_9.png" /> <img alt="12：つくる責任つかう責任" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_12.png" /> <img alt="14：海の豊かさを守ろう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_14.png" /> <img alt="15：陸の豊かさも守ろう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_15.png" /> <img alt="17：パートナーシップで目標を達成しよう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_17.png" /></td>
			<td>目標9　産業と技術革新の基盤をつくろう<br />
			目標12　つくる責任　つかう責任<br />
			目標14　海の豊かさを守ろう<br />
			目標15　陸の豊かさも守ろう<br />
			目標17　パートナーシップで目標を達成しよう</td>
		</tr>
		<tr>
			<th>【環境】</th>
			<td>
			<dl>
				<dt class="sus_process_dt">次世代につなぐ地球環境への貢献</dt>
				<dd class="sus_process_dd">脱炭素社会の実現に向けた挑戦</dd>
				<dd class="sus_process_dd">生物多様性の保全</dd>
			</dl>
			</td>
			<td><img alt="7：エネルギーをみんなに　そしてクリーンに" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_7.png" /> <img alt="12：つくる責任つかう責任" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_12.png" /> <img alt="13：気候変動に具体的な対策を" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_13.png" /> <img alt="15：陸の豊かさも守ろう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_15.png" /></td>
			<td>目標7　エネルギーをみんなにそしてクリーンに<br />
			目標12　つくる責任　つかう責任<br />
			目標13　気候変動に具体的な対策を<br />
			目標15　陸の豊かさも守ろう</td>
		</tr>
		<tr>
			<th>【サプライチェーン】</th>
			<td>
			<dl>
				<dt class="sus_process_dt">責任あるサプライチェーンの構築</dt>
				<dd class="sus_process_dd">サステナブルな調達の実現</dd>
				<dd class="sus_process_dd">ライフラインとしての責任の全う</dd>
			</dl>
			</td>
			<td><img alt="8：働きがいも経済成長も" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_8.png" /> <img alt="9：産業と技術革新の基盤をつくろう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_9.png" /> <img alt="11：住み続けられるまちづくりを" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_11.png" /> <img alt="12：つくる責任つかう責任" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_12.png" /> <img alt="15：陸の豊かさも守ろう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_15.png" /></td>
			<td>目標8　働きがいも経済成長も<br />
			目標9　産業と技術革新の基盤をつくろう<br />
			目標11　住み続けられるまちづくりを<br />
			目標12　つくる責任　つかう責任<br />
			目標15　陸の豊かさも守ろう</td>
		</tr>
		<tr>
			<th>【人材】</th>
			<td>
			<dl>
				<dt class="sus_process_dt">サステナブルな企業活動を支える人材育成</dt>
				<dd class="sus_process_dd">積極的にチャレンジする人材による<br />
				イノベーション創出</dd>
				<dd class="sus_process_dd">個々人が能力を発揮する<br />
				ダイバーシティの推進</dd>
			</dl>
			</td>
			<td><img alt="4：質の高い教育をみんなに" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_4.png" /> <img alt="5：ジェンダー平等を実現しよう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_5.png" /> <img alt="8：働きがいも経済成長も" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_8.png" /></td>
			<td>目標4　質の高い教育をみんなに<br />
			目標5　ジェンダー平等を実現しよう<br />
			目標8　働きがいも経済成長も</td>
		</tr>
	</tbody>
</table>

<table class="wide type05">
	<colgroup>
		<col style="width: 11%;" />
		<col style="width: 40%;" />
		<col style="width: 23.5%;" />
		<col />
	</colgroup>
	<tbody>
		<tr>
			<th>【基盤】</th>
			<td>
			<dl>
				<dt class="sus_process_dt">&nbsp;</dt>
				<dd class="sus_process_dd">健全な財務体質の維持・向上</dd>
				<dd class="sus_process_dd">透明性の高いガバナンスの実現<br />
				（含むデータセキュリティ）</dd>
				<dd class="sus_process_dd">心身ともに安心・安全に働ける健康経営</dd>
			</dl>
			</td>
			<td><img alt="1：貧困をなくそう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_1.png" /> <img alt="3：すべての人に健康と福祉を" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_3.png" /> <img alt="16：平和と公正をすべての人に" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_16.png" /> <img alt="17：パートナーシップで目標を達成しよう" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/sustainability/img/sdg_icon40_17.png" /></td>
			<td>目標1　貧困をなくそう<br />
			目標3　すべての人に健康と福祉を<br />
			目標16　平和と公正をすべての人に<br />
			目標17　パートナーシップで目標を達成しよう</td>
		</tr>
	</tbody>
</table>
</div>

<p>今後、長期ビジョンの策定、重要指標（KPI）の検討・設定を進めるとともに、ステークホルダーとの対話、活動の検証・見直し・開示を継続して行ってまいります。</p>
</div>
