<div class="declaration">
  <h2 class="decla_ttl">消費者志向自主宣言</h2>
  <p class="pright">制定日　2021年7月29日</p>
  <section>
    <h3 class="decla_sub_ttl">理念</h3>
    <p class="decla_txt">アスクルのパーパス（存在意義）「『仕事場とくらしと地球の明日(あす)に｢うれしい｣ を届け続ける。』の実現に向け、すべてのお客様に期待を超える「うれしい」を提供し、お客様価値の最大化を目指し続けます。</p>
    <div class="decla_link">
      <p>＜関連事項＞</p>
      <ul class="decla_link_list">
        <li class="decla_link_item"><a href="https://www.askul.co.jp/kaisya/company/dna.html" target="_blank">ASKUL WAY</a></li>
        <li class="decla_link_item"><a href="/ja/themes/165">サステナビリティに関する基本的な考え方</a></li>
        <li class="decla_link_item"><a href="/ja/themes/90">アスクルが目指す環境経営</a></li>
      </ul>
    </div>
  </section>
  <section>
    <h3 class="decla_sub_ttl">取組方針</h3>
    <div class="decla_num_box">
      <h4 class="decla_num_ttl">1. 経営トップのコミットメント</h4>
      <ul class="list2">
        <li>私たちのDNA「お客様のために進化する」に基づき、お客様の声を最も価値あるものとして真摯に受け止め、全社でお客様起点のサービス実現に取り組み続けます。</li>
        <li>私たちのパーパス（存在意義）を実現するためのバリューズ（価値観）「変革と最速、多様性と共創、誠実と誇り」を社員に浸透させ、社員一人一人がお客様価値を最大化するために自ら行動を起こせる組織づくりと人材育成を進めます。</li>
        <li>私たちが社会に対して担っている責務を自覚し、これを全うするためのガバナンス体制の構築、透明性の高い情報提供、責任ある調達の実現、ライフラインとして信頼されるサービスを実現します。</li>
      </ul>
      <div class="decla_link">
        <p>＜関連事項＞</p>
        <ul class="decla_link_list">
          <li class="decla_link_item"><a href="/ja/themes/112">トップメッセージ</a></li>
          <li class="decla_link_item"><a href="/ja/themes/167">アスクルのマテリアリティ（重要課題）</a></li>
        </ul>
      </div>
    </div>

    <div class="decla_num_box">
      <h4 class="decla_num_ttl">2. コーポレート･ガバナンスの確保</h4>
      <ul class="list2">
        <li>法令や社内外の規則・規範の遵守等を図ることを目的にリスク・コンプライアンス委員会を開催し、リスクおよびコンプライアンスの状況についての把握と対策に取り組んでいます。</li>
        <li>取扱商品の品質向上および品質管理機能の強化を目的に品質マネジメント委員会を開催し、取扱商品の品質に関する状況の把握と対策に取り組んでいます。</li>
        <li>社員の行動規範として「ASKUL CODE OF CONDUCT（アスクル コード オブ コンダクト）」を制定し、意識の啓発に取り組んでいます。</li>
        <li>「アスクル情報セキュリティ方針・個人情報保護方針」を定め、情報セキュリティならびに個人情報に配慮した、安心してご利用いただける流通プラットフォームの実現に取り組んでいます。</li>
      </ul>
      <div class="decla_link">
        <p>＜関連事項＞<br>ガバナンス体制について</p>
        <ul class="decla_link_list">
          <li class="decla_link_item"><a href="/ja/themes/83">コーポレート・ガバナンス</a></li>
          <li class="decla_link_item"><a href="/ja/themes/84">コンプライアンス</a></li>
          <li class="decla_link_item"><a href="/ja/themes/85">腐敗防止・企業倫理</a></li>
          <li class="decla_link_item"><a href="/ja/themes/87">情報セキュリティ</a></li>
        </ul>
        <p>お客様の声にお応えする取り組みについて</p>
        <ul class="decla_link_list">
          <li class="decla_link_item"><a href="/ja/themes/100#communication04">お客様の声から始まる改善活動</a></li>
        </ul>
      </div>
    </div>

    <div class="decla_num_box">
      <h4 class="decla_num_ttl">3. 従業員の積極的活動 （企業風土や従業員の意識の醸成）</h4>
      <ul class="list2">
        <li>アスクルお客様サービスデスクにいただいたお客様の声をタイムリーに社内共有し、社員一人ひとりがお客様の声を意識し共有するための取り組みを実施しています。</li>
        <li>お客様からいただいたご意見やご要望を、分野別・課題カテゴリー別などさまざまな切り口で掲載する社内サイトとして「VOC（Voice Of Customer）ポータル」を設けて、商品・サービスの改善・進化に活用しています。</li>
        <li>お客様対応に携わる「コンシェルジュサービスコミュニケーター（CSC）」に対する感謝の意を伝え、CSCのモチベーション向上と目的意識の共有、ひいてはお客様に対する心のこもった応対品質の向上を図ることを目的とする「ASKUL CS Week（カスタマー・サービス週間）」を毎年開催しています</li>
      </ul>
      <div class="decla_link">
        <p>＜関連事項＞<br>消費者志向に関する企業風土や従業員の意識の醸成について</p>
        <ul class="decla_link_list">
          <li class="decla_link_item"><a href="/ja/themes/100#communication05">ASKUL CS Week（カスタマー・サービス週間）</a></li>
          <li class="decla_link_item"><a href="/ja/themes/100#communication06">マインドBook</a></li>
          <li class="decla_link_item"><a href="/ja/themes/100#communication04">お客様の声の共有</a></li>
        </ul>
      </div>
    </div>

    <div class="decla_num_box">
      <h4 class="decla_num_ttl">4. 対応部門等と他部門との有機的連携</h4>
      <ul class="list2">
        <li>アスクルお客様サービスデスクでは、お客様の声を起点として社内の関連部門と有機的・機動的な連携を図り、全社のサービス品質改善に向けたPDCAサイクルを確立する「お客様満足向上委員会」を運営しております。また、お客様満足度に直結する「品質KPI」や「お客様の声」の定期報告を実施しています。</li>
        <li>商品品質の確保・向上のため、アスクルお客様サービスデスクと品質管理部門とが連携して取り組みます。</li>
        <li>「商品の返品があった場合には、お客様の本意に応え切れていなかったこと」を真摯に受け止め、社内横断的な改善活動を続け、その原因の根絶に努めています。</li>
      </ul>
      <div class="decla_link">
        <p>＜関連事項＞<br>お客様の声の社内への展開について</p>
        <ul class="decla_link_list">
          <li class="decla_link_item"><a href="/ja/themes/100#communication04">「お客様の声から始まる改善活動」「お客様満足度委員会」（お客様とともに）</a></li>
        </ul>
        <p>商品の品質維持・向上に関する取り組みについて</p>
        <ul class="decla_link_list">
          <li class="decla_link_item"><a href="/ja/themes/102">商品および商品情報の品質</a></li>
          <li class="decla_link_item"><a href="/ja/themes/97#promise501">返品削減への取り組み</a></li>
        </ul>
      </div>
    </div>

    <div class="decla_num_box">
      <h4 class="decla_num_ttl">5. 消費者への情報提供の充実・双方向の情報交換</h4>
      <ul class="list2">
        <li>多様なお客様の声に的確にお応えするため、また出来るだけ多くのお客様にご満足頂けるよう、人による対応のみならず、人工知能(AI)型チャットボットなどのデジタル技術も駆使し、業務の迅速化と効率化に努めています。</li>
        <li>お客様からの多岐にわたる専門的なお問い合わせにお答えするために、専用のお問い合わせ窓口として「プロフェッショナルアドバイザー」を設けています。</li>
        <li>情報提供の質の向上を図ることを目的に、法人のお客様と直接接点を持つ担当販売店に対してアスクルの経営方針から商品知識までの教育を実施しています。</li>
      </ul>
      <div class="decla_link">
        <p>＜関連事項＞<br>お客様への情報提供・コミュニケーションについて</p>
        <ul class="decla_link_list">
          <li class="decla_link_item"><a href="/ja/themes/100#communication03">「プロフェッショナルアドバイザー」の取り組み</a></li>
          <li class="decla_link_item"><a href="/ja/themes/100#communication01">『アオイくん』と『マナミさん』／お客様との様々なコミュニケーション</a></li>
          <li class="decla_link_item"><a href="/ja/themes/100#communication02">LOHACOネイバーズ</a></li>
          <li class="decla_link_item"><a href="/ja/themes/102">商品および商品情報の品質</a></li>
          <li class="decla_link_item"><a href="/ja/themes/101#partner02">アスクル担当販売店（エージェント）様との取り組み</a></li>
        </ul>
      </div>
    </div>

    <div class="decla_num_box">
      <h4 class="decla_num_ttl">6. 消費者・社会の要望を踏まえた改善・開発</h4>
      <ul class="list2">
        <li>お客様の声や環境に配慮したオリジナル商品の開発・改良に取り組みます。</li>
        <li>生活者の視点を第一に考えた独自価値商品をメーカーと共同で企画します。</li>
        <li>廃棄物の削減のために、やむを得ない理由により返品された商品に品質検品を行った上で、適正な形で再販売することを取り組みます。</li>
        <li>サプライチェーンを資源循環型プラットフォームとして進化させ、廃棄物の削減、使用済み製品などの回収・再資源化を促進し、限りある資源の有効活用に取り組みます。</li>
        <li>お客様の声や環境に配慮した配送サービスの向上に取り組みます。</li>
      </ul>
      <div class="decla_link">
        <p>＜関連事項＞<br>お客様の声を反映した商品開発・改良事例について</p>
        <ul class="decla_link_list">
          <li class="decla_link_item"><a href="/ja/themes/100#communication04">「お客様の声から始まる改善活動」「お客様満足度委員会」（お客様とともに）</a></li>
          <li class="decla_link_item"><a href="/ja/themes/101#partner07">「Consumer Brand商品（CB商品）」の開発</a></li>
          <li class="decla_link_item"><a href="/ja/themes/92">オリジナル商品の環境対応</a></li>
          <li class="decla_link_item"><a href="/ja/themes/93">資源循環</a></li>
          <li class="decla_link_item"><a href="/ja/themes/97#promise501">返品削減への取り組み</a></li>
        </ul>
      </div>
    </div>

  </section>
</div>