<div class="section" id="csr_sustainability05">
<h2 class="smidashi">マテリアリティ（重要課題）に基づく目標・KPI 一覧</h2>

<div class="sus_kpi">
<table class="sus_kpi_tbl wide type05">
	<thead>
		<tr>
			<th class="tit" colspan="3" rowspan="2"><span>マテリアリティ</span><br />
			<span>（重要課題）</span></th>
			<th class="tit" rowspan="2"><span>アクションプラン</span><br />
			<span>（取り組み事項）</span></th>
			<th class="tit" rowspan="2"><span>KPI</span><br />
			<span>（計画・目標）</span></th>
			<th class="tit" colspan="3">【期間・期限めやす】</th>
		</tr>
		<tr>
			<th class="tit"><span>2022年</span><br />
			<span>5月期</span></th>
			<th class="tit"><span>2025年</span><br />
			<span>5月期</span></th>
			<th class="tit"><span>2030年</span><br />
			<span>5月期</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th rowspan="11"><span class="sus_process_mode">【ＤＸ】</span></th>
			<th colspan="7" class="lft">DXによるサービスの変革</th>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="5">1</td>
			<td class="cntmdl" rowspan="5"><span>最高の</span><span>顧客体験</span><span>の創造</span></td>
			<td colspan="5">【　既存サービスの磨き込み・進化　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>サービス改善等による顧客満足度の向上</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>お客様継続率：2pts向上 （2021年5月期比）</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>テクノロジー活用によるお問い合わせ一次解決率向上<sup>*1</sup></li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>85％ &rarr; 90％ （2021年5月期比）</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　新サービス提供・CX進化　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>テクノロジーを活用したより簡単便利な購買機能の進化</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>検討</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="5">2</td>
			<td class="cntmdl" rowspan="5"><span>革新的</span><span>バリューチェーンの構築</span></td>
			<td colspan="5">【　バリューチェーン全体の進化　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>アスクル起因の欠品ゼロ</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>仕組みの実現</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>（配送）お届け品質向上・配送遅延の削減</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>遅延 0 達成<br />（お約束履行率100%）</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　商品情報の進化　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>ステークホルダー間のオープンな「商品情報共有プラットフォーム」の構築</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>プラットフォーム構築　</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<th rowspan="11"><span class="sus_process_mode">【共創】</span></th>
			<th colspan="7" class="lft">共創によるイノベーション</th>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="5">3</td>
			<td class="cntmdl" rowspan="5"><span>商品とサービス</span><span>を通じた</span><span>新たな価値</span><span>の創出</span></td>
			<td colspan="5">【　PB商品の環境対応　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>PB商品の環境対応</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>PB商品の環境基準、ネガティブリストの策定</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　新たなサービスによる社会課題解決　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>メーカー廃棄予定商品の販売プラットフォーム実現</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>計画・目標・KPIの策定</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>「買物弱者」支援<sup>*2</sup></li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>検討<br />
					（地方過疎化対応のローカルコマースサービス等の構築）</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="5">4</td>
			<td class="cntmdl" rowspan="5"><span>資源循環型</span><span>プラットフォームの実現</span></td>
			<td colspan="5">【　資源循環型サービスの実現・実装　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>資源循環型サービス構築</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>資源循環型サービスの開始</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　廃棄物ゼロチャレンジ　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>AIによる在庫適正化、廃棄しない運用の確立等による商品廃棄ゼロ達成</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>商品廃棄ゼロ達成</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>物流センターで発生する入荷時に使用された梱包資材の全量再資源化</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>全量再資源化</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<th rowspan="12"><span class="sus_process_mode">【環境】</span></th>
			<th colspan="7" class="lft">次世代につなぐ地球環境への貢献</th>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="7">5</td>
			<td class="cntmdl" rowspan="7"><span>脱炭素社会</span><span>の実現</span><span>に向けた</span><span>挑戦</span></td>
			<td colspan="5">【　アスクルグループのCO<sub>2</sub>ゼロ　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>「CO<sub>2</sub>ゼロチャレンジ」の達成</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>「CO<sub>2</sub>ゼロチャレンジ」の達成　</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>植林等によるCO<sub>2</sub>吸収の取り組み</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>検討</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>お客様が選べる環境配慮に最適な配送・お届け方法の提供</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>計画・目標・KPIの策定</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="3">【　サプライチェーン全体でのCO<sub>2</sub>削減　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>SBTの達成</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>SBT達成（スコープ3のCO<sub>2</sub>を12%削減）<sup>*3</sup></li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>商品環境基準に基づく商品CO<sub>2</sub>排出量の見える化・削減貢献量の算定</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>商品CO<sub>2</sub>見える化・削減貢献量算定の完了</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="4">6</td>
			<td class="cntmdl" rowspan="4"><span>生物多様性</span><span>の保全</span></td>
			<td colspan="5">【　認証商品の取り扱い拡大　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>木材・紙製品の認証商品の拡大</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>計画・目標・KPIの策定</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　海洋プラスチック汚染問題への対策　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>地方自治体への海ゴミ回収協力</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>具体策の検討</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<th rowspan="13"><span class="sus_process_mode">【サプライチェーン】</span></th>
			<th colspan="7" class="lft">責任あるサプライチェーンの構築</th>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="5">7</td>
			<td class="cntmdl" rowspan="5"><span>サステナブルな</span><span>調達の実現</span></td>
			<td colspan="5">【　サプライヤ調査・監査　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>サプライヤへのCSR調査実施</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>（サプライヤCSR調査）実施</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>PB製造委託工場への監査実施</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>（対象工場の監査）100%完了</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　ステークホルダーとの連携　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>全取引先へのアスクル信頼度調査実施</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>全取引先への実施</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="7">8</td>
			<td class="cntmdl" rowspan="7"><span>ライフライン</span><span>としての</span><span>責任の全う</span></td>
			<td colspan="5">【&ensp;「ライフライン商品」*の拡充・安定供給　】<br />*<span class="t10">「ライフライン商品」：非常時にも必要とされる生活必需品</span></td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>「ライフライン商品」の開発・安定供給体制の構築</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>「ライフライン商品」の検討・特定</li>
				<li>PB開発・安定供給実現</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　レジリエントな物流ネットワークの構築（BCP強化）　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>免震化・冗長化を前提とした物流センター配置</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>計画・実行</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>需要変動・有事に即応できるサプライチェーン構築</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>計画・目標・KPIの策定</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　プラットフォームを活用した災害支援　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>自治体との災害時支援協定の締結</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>全アスクル物流センター所在自治体との締結</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<th rowspan="12"><span class="sus_process_mode">【人材】</span></th>
			<th colspan="7" class="lft">サステナブルな企業活動を支える人材育成</th>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="6">9</td>
			<td class="cntmdl" rowspan="6"><span>個々人が</span><span>能力を発揮する</span><span>ダイバーシティ</span><span>の推進</span></td>
			<td colspan="5">【　女性管理職比率　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>女性管理職比率 の向上</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>30%達成</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　ハンディキャップ（障がい者雇用・活躍）　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>障がい者雇用率の遵守・向上</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>法定雇用率　2.3%以上遵守</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　シニア制度　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>セカンドキャリアチャレンジ制度</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>制度の確立・開始</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="5">10</td>
			<td class="cntmdl" rowspan="5"><span>積極的に</span><span>チャレンジする</span><span>人材による</span><span>イノベーション創出</span></td>
			<td colspan="5">【　チャレンジする人材の育成、できる環境・制度の整備　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>社内表彰制度</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li><span>制度の確立・開始</span><span class="t10">※2023年5月期まで</span></li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done cntmdl">※</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>全社育成計画策定・実践</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>体系定義・策定 （DX人材育成含む）</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　DX人材の採用・育成　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>DX人材採用（中途、新卒）　</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>DX人材採用比率 70%達成　（継続）</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td class="sus_process_kpi_bridge" colspan="8">&nbsp;</td>
		</tr>
		<tr>
			<th rowspan="12"><span class="sus_process_mode">【基盤】</span></th>
			<td class="cntmdl" rowspan="4">11</td>
			<td class="cntmdl" rowspan="2"><span>透明性の高い</span><span>ガバナンスの</span><span>実現</span></td>
			<td colspan="5">【　グループガバナンスの強化　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>重大コンプライアンス違反の防止</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>不祥事・重大法令違反ゼロ件　（継続）</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="2">（ガバナンス）<br />
			データセキュリティ</td>
			<td colspan="5">【　情報セキュリティの確保　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>セキュリティインシデント低減・防止</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>重大事故ゼロ件　（継続）</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="4">12</td>
			<td class="cntmdl" rowspan="4"><span>心身ともに</span><span>安心・安全に</span><span>働ける</span><span>健康経営</span></td>
			<td colspan="5">【　ヘルスケアの充実　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>「健康経営」への取組み・推進</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>方針策定、計画・目標・KPIの策定</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　エンゲージメントの強化　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>従業員満足度向上・エンゲージメント強化</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>計画・目標・KPIの策定</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
			<td class="sus_process_yet">&nbsp;</td>
		</tr>
		<tr>
			<td class="cntmdl" rowspan="4">13</td>
			<td class="cntmdl" rowspan="4"><span>健全な財務体質</span><span>の維持・向上</span></td>
			<td colspan="5">【　収益性の向上　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>中期経営計画の達成</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>売上高5,500億円、営業利益率5%、ROE20%</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td colspan="5">【　財務基盤　】</td>
		</tr>
		<tr>
			<td>
			<ul class="list3">
				<li>中期経営計画を支える強固な財務基盤の構築</li>
			</ul>
			</td>
			<td>
			<ul class="list3">
				<li>CCC（キャッシュコンバージョンサイクル） 約▲20日</li>
			</ul>
			</td>
			<td class="sus_process_done">&nbsp;</td>
			<td class="sus_process_done">&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<ul>
	<li class="indent t10">*1：「一次解決率」：お客様からのお問い合わせ件数のうち、1 回の回答で解決した件数の割合</li>
	<li class="indent t10">*2：「買物弱者」：人口減少や少子高齢化等を背景とした流通機能や交通網の弱体化等の多様な理由により、日常の買物機会が十分に提供されない状況に置かれている人々（経産省より）<a href="https://www.meti.go.jp/policy/economy/distribution/kaimonojakusyashien.html" target="_blank">https://www.meti.go.jp/policy/economy/distribution/kaimonojakusyashien.html</a></li>
	<li class="indent t10">*3：「SBTの達成」： スコープ3におけるCO<sub>2</sub>排出量 12%削減（2030年5月期/2015年5月期比）　<a href="/ja/themes/90#goals05">https://askul.disclosure.site/ja/themes/90#goals05</a></li>
</ul>
</div>
</div>
