<div class="section" id="partner07">
<h2 class="smidashi">「Consumer Brand商品（CB商品）」の開発</h2>

<p>「LOHACO EC マーケティングラボ」の活動の一環で2015年から開始した &ldquo;暮らしになじむデザイン&rdquo;の取り組みは、アスクルが参加企業と協働し「ECならではのデザイン」について研究を重ねているものです。<br />
2019年以降は、暮らしになじむデザインの追求のみならず、「サステナブル」の要素を強化しつつ、さらに暮らしの変化に適したお悩み解決につながるポイントを併せ持つ商品開発に取り組んでいます。</p>

<h3><span class="partner_cb_markttl">「暮らしになじむデザイン」</span></h3>

<p>LOHACO ECマーケティングラボでは、&ldquo;<strong>店頭を通らないから実現できる生活者起点のデザイン商品&rdquo;=「Consumer Brand商品」</strong>として、店頭で目立つのではなく、家の中でなじむデザインを施した商品を、メーカーとともに自由な発想で開発しています。<br />
「Consumer Brand商品」はEC（ウェブ／通信販売）ならではの売り方として注目されています。</p>

<p>従来の日用品は店頭で手に取られやすいように、商品の効果・効能・機能を前面に表示したパッケージデザインが主流でした。購買時に差別化を図りやすい「目立つパッケージ」は、購入後の暮らしにはなじまず、&ldquo;パッケージをはがす&rdquo;、&ldquo;見えない場所にしまう&rdquo;、&ldquo;他の容器に詰め替える&rdquo;といった手間がありました。<br />
LOHACOではこうした課題を解決するため、店頭を通らない商品だからこそできる、暮らしに心地よく調和するパッケージデザインを開発、ウェブサイト上の売場における細やかな商品紹介と連動することで、お客様のニーズに合致し、出しっぱなしにできる、時短に繋がる、などの新たな価値を提案してきました。</p>

<h3><span class="partner_cb_markttl">「サステナブル」</span></h3>

<p>LOHACOでは、普段の何気ないお買い物がサステナブルな社会につながることを目指しています。 いつも使っている商品が実は環境に配慮していたり、お得なお買い物が廃棄の削減につながっていたり。 そんなお買い物体験を通じて、お客様と一緒にサステナブルな社会を作っていきたいと考えています。暮らしになじむデザイン商品は、無理なくできるサステナブルをコンセプトに、4つの切り口「ごみを減らす」「資源を大切にする」「CO₂削減」「社会貢献」から商品企画をしています。毎日の日用品を暮らしになじむデザイン商品を選んで使うだけで手軽に取り組めるよう、サステナブルなポイントを整理・提案し、商品を開発・展開しています。</p>

<h3><span class="partner_cb_markttl">「暮らしのお悩み解決」</span></h3>

<p>毎日のくらしの中にあるお悩みは家の中のあらゆる場所、シーンだけではなく外出先や職場・学校など家の外にもたくさんあります。また、コロナ禍で私たちの暮らしや意識に変化が生まれました。みなさんのお悩みによりそって「くらしをラクに楽しくするお手伝いがしたい」という思いで、商品を企画し、ご提案しています。</p>

<dl class="markdl">
	<dt>「くらしによりそうLOHACO展」</dt>
	<dd>
	<p class="pt0">LOHACOが主催するオンラインイベント「くらしによりそうLOHACO展」は年に3回開催されます。そこで紹介される商品は、これまで築いてきた暮らしになじむデザインであることはもちろん、メーカーとの共創で生まれた課題解決力を持ち合わせた新商品のほか、お客様の声をヒントに開発した注目アイテムとして、発売中のオリジナル商品や限定販売商品も紹介しています。</p>

	<p>時代とともに変化するくらしに まつわる悩みや課題に対し、時節に沿った悩みや課題の解決に役立つ商品をタイムリーにご提案し ます。</p>

	<p>詳細は<a href="https://lohaco.yahoo.co.jp/special/event/exhibition/" rel="noopener noreferrer" target="_blank">「くらしによりそうLOHACO展」サイト</a>にてご覧いただけます。<br />
	<a href="https://lohaco.yahoo.co.jp/special/event/exhibition/" rel="noopener noreferrer" target="_blank">https://lohaco.yahoo.co.jp/special/event/exhibition/</a><br />
		<span class="t10">※開催期間（2021/9/2 &ndash; 2021/9/16）は終了しております。</span></p>
	</dd>
</dl>

<div class="partner_cb_rbox bbox">
<h3 class="pt0"><span class="partner_cb_markttl">CB商品事例　 「LOHACO Water 2L」</span></h3>

<div class="flex">
<div>
<p>ペットボトルのラベルレス化、軽量化に取り組んだ商品。<br />
ラベルをはがす手間を削減したほか、処分時にはボトルをつぶしやすくしています。<br />
外装箱はボトルが5本一列に並ぶスリムな形状を採用しており、家の隙間空間にすっきり収納することができます。北欧デザイナーによる採水地をイメージしたデザインで、届いたままの状態で保管できる点も好評です。</p>
</div>

<figure class="ml20 mt10"><img alt="CB商品事例　 「LOHACO Water 2L」" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/social/img/partner28.jpg" /></figure>
</div>
</div>

<div class="partner_cb_linkbox">
<figure class="partner_cb_linkbox_img"><a href="https://lohaco.yahoo.co.jp/special/pb/" target="_blank"><img alt="「暮らしになじむデザイン」／ ロハコリミテッドストア" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/social/img/partner29.jpg" /></a></figure>

<div class="ml20">
<h3 class="pt0">「暮らしになじむデザイン」／ ロハコリミテッドストア</h3>

<p>こちらでは「暮らしになじむ」をテーマにしたロハコ限定商品やメーカーコラボ商品をご紹介しています。<br />
<a href="https://lohaco.yahoo.co.jp/special/pb/" target="_blank">https://lohaco.yahoo.co.jp/special/pb/</a></p>
</div>
</div>
</div>
