<div class="section" id="partner06">
<h2 class="smidashi">「LOHACO ECマーケティングラボ」の取り組み</h2>

<div class="flex">
<div>
<p>
  生活者とメーカーを無駄なく直接つなぐ「社会最適」な流通プラットフォームを目指す「LOHACO ECマーケティングラボ」。お客様・メーカー・LOHACOの3者が“win-win-win”となるプラットフォームを構築すべく活動を推進しています。<br />
  アスクルは、「データは社会に還元され、活用されるべきもの」という思想から、LOHACOにおける顧客データや購買データなどのビッグデータをラボ参加企業にオープン化*。参加企業はすべての参加企業のデータを閲覧することができ、これらのビッグデータを分析することでお客様の購買行動や嗜好・ライフスタイルを把握しています。さらに、事例共有会や勉強会を通じて情報のオープン化・共有知化を行い、業種や企業の垣根を超えたECマーケティングの学びと成長の場となっています。
</p>

<p class="note">*オープン化するデータでは、氏名、生年月日等の個人情報を削除しております。</p>

<dl class="mt10">
	<dt>◎関連ニュースリリース：</dt>
	<dd>「『LOHACO ECマーケティングラボ』、第8期123社の参加企業と始動。<br />
	ラボ機能のDXを実現、参加企業とSDGsを意識した共創を推進！」<br />
	<a href="https://pdf.irpocket.com/C0032/bxTh/g8SR/jope.pdf" target="_blank">https://pdf.irpocket.com/C0032/bxTh/g8SR/jope.pdf</a></dd>
</dl>
</div>

<figure class="mt10 ml20"><img alt="社会最適のECビジネスを創造し、社会利益を実現する" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/social/img/partner27.png" /></figure>
</div>
</div>
