<div class="section" id="askulway02">
<h2 class="smidashi">各方針等</h2>

<ul>
	<li>・<a href="/ja/themes/83#911">コーポレートガバナンスに対する基本的な考え方</a></li>
	<li>・「コーポレートガバナンス・コード」への対応　・・・<a href="https://www.askul.co.jp/kaisya/ir/library/contract.html" target="_blank">「コーポレート・ガバナンス報告書」</a>へ</li>
	<li>・<a href="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/management/pdf/BasicPolicy.pdf" target="_blank">内部統制システム構築の基本方針（2021年8月4日 改定）（PDF：195KB）</a></li>
	<li>・<a href="/ja/themes/85#928">「ASKUL CODE OF CONDUCT （倫理・行動規範）」</a></li>
	<li>・<a href="/ja/themes/100#policy">お客様対応の基本方針および行動指針</a></li>
	<li>・<a href="/ja/themes/175">消費者志向自主宣言</a></li>
	<li>・<a href="/ja/themes/101">アスクル サステナブル調達方針</a></li>
	<li>・<a href="https://www.askul.co.jp/guide/policy/privacy.html" target="_blank">アスクル情報セキュリティ方針・個人情報保護方針</a></li>
	<li>・<a href="/ja/themes/90#947">アスクル環境方針</a></li>
	<li>・<a href="/ja/themes/86#risk02">アスクル事業継続計画基本方針</a></li>
</ul>
</div>
