<div class="section" id="policy03">
<h2 class="smidashi">アスクル環境方針</h2>

<p>アスクルの環境経営の目指すべき方向性を示しています。</p>

<div class="policy_wrap">
<h3 class="policy_ttl">アスクル環境方針</h3>

<p class="policy_desc">私たちアスクルグループは、仕事場とくらしと地球の明日を支える企業として、自らの事業活動を通じて、次世代につなぐ地球環境のために行動します。</p>

<p class="policy_desc">私たちは、以下の3点を重点項目として、事業活動に伴う地球環境への影響を把握し、中長期的な目標を定め、グループ一丸となってその達成に積極的に取り組みます。</p>

<dl class="policy_list">
	<dt class="policy_term">脱炭素社会の実現</dt>
	<dd class="policy_data">地球温暖化による気候変動を事業活動に多大な影響を及ぼすリスクと捉え、効率的なエネルギーの使用に努めながら、サプライチェーン全体でCO<sub>2</sub>の削減を進めます。</dd>
	<dt class="policy_term">資源循環型プラットフォームの構築</dt>
	<dd class="policy_data">サプライチェーンを資源循環型プラットフォームとして進化させ、廃棄物の削減、使用済み製品などの回収・再資源化を促進し、限りある資源の有効活用に努めます。</dd>
	<dt class="policy_term">生物多様性の保全</dt>
	<dd class="policy_data">森林資源など自然資源を利用する事業者としての責任を果たし、環境汚染を防止しながら、生態系に配慮して自然との共生を図ります。</dd>
</dl>

<p class="policy_desc">私たちは、この環境方針に沿って、法規制や事業に関連する要求事項、ステークホルダーとの合意事項等を順守すると共に、マネジメントシステムの運用・強化を継続的に行い、その進捗と成果を公開していきます。</p>

<div class="policy_foot">
<div class="policy_date">制定日／2003年6月4日　 改定日／2021年11月10日</div>

<div class="policy_credit">アスクル株式会社　代表取締役社長 CEO<br />
<span>吉岡 晃</span></div>
</div>
</div>
</div>

<div class="section" id="policy02">
<h2 class="smidashi">環境活動のフレームワーク</h2>

<div class="col col22">
<div class="text">
<p>アスクルは、「お客様のひとつのご注文、1回のお届けにかかる環境負荷を最少化していく」という考え方のもと、「最も効率的で、環境に配慮した流通プラットフォーム（＝エコプラットフォーム）」を目指しています。<br />
この「エコプラットフォーム」の実現に向け、2020年をターゲットとした、「低炭素」「資源循環」「環境に配慮した商品開発・調達」「お客様との環境コミュニケーション」の４つの視点からなる「<a href="#goals00">環境中長期目標</a>」を掲げ、「<a href="/ja/themes/97">5つの約束</a>」の各プロセスにおいて年度ごとの活動計画を策定しています。<br />
このフレームワークのもと、現在、事業活動の全領域において具体的な活動が展開されています。</p>
</div>

<div class="image">
<p><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/policy03.gif" width="340" /></p>
</div>
</div>
<!-- .col --></div>

<div class="section" id="model01">
<h2 class="smidashi">ビジネスモデルと環境負荷</h2>

<p>アスクルの<a href="https://www.askul.co.jp/kaisya/business/" target="_blank">ビジネスモデル</a>は、従来の流通構造をより合理的にすることで、環境負荷を低減させています。そして、さらなる環境負荷の低減を目指して環境活動を継続しています。アスクルの事業活動に伴って発生する環境負荷を整理すると、下の図のようになります。そして、これらの環境負荷を全社的に管理・評価していくための指標として、「<a href="#goals00">環境中長期目標</a>」を策定し、環境への取り組みを推進しています。事業に起因する現在の環境負荷を十分に認識し、アスクルのサービスをご利用いただくことが環境負荷の低減につながるよう、これからもお客様と社会、そして地球環境にとって「最適」なビジネスモデルを追求していきます。</p>

<p><img alt="ビジネスモデルの図" height="380" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/model03.gif" width="700" /></p>

<div class="int">
<div class="col col222">
<div class="lft" id="cntA">
<h3><strong>A</strong>物流センター</h3>

<dl class="list">
	<dt>資材（投入量）：</dt>
	<dd>17,223（t）</dd>
	<dt>電気：</dt>
	<dd>35,529（千kWh）</dd>
	<dt>液化石油ガス（LPG）：</dt>
	<dd>24,806（kg）</dd>
	<dt>都市ガス：</dt>
	<dd>4,314（m&sup3;）</dd>
	<dt>揮発油：</dt>
	<dd>25,046（L）</dd>
</dl>
</div>

<div class="lft" id="cntB">
<h3><strong>B</strong>オフィス</h3>

<dl class="list">
	<dt>資材（投入量）：</dt>
	<dd>0（t）</dd>
	<dt>電気：</dt>
	<dd>1,532（千kWh）</dd>
	<dt>液化石油ガス（LPG）：</dt>
	<dd>0（kg）</dd>
	<dt>都市ガス：</dt>
	<dd>58,472（m&sup3;）</dd>
</dl>
</div>
</div>
<!-- .col -->

<div class="col col222">
<div class="lft" id="cntC">
<h3><strong>C</strong>物流センター</h3>

<dl class="list">
	<dt>総商品出荷量：</dt>
	<dd>747（t）</dd>
	<dt>排出物：</dt>
	<dd>17,005（t）</dd>
	<dt>CO<sub>2</sub>排出量：</dt>
	<dd>13,693（t-CO<sub>2</sub>）</dd>
</dl>
</div>

<div class="lft" id="cntD">
<h3><strong>D</strong>オフィス</h3>

<dl class="list">
	<dt>排出物：</dt>
	<dd>405（t）</dd>
	<dt>CO<sub>2</sub>排出量：</dt>
	<dd>981（t-CO<sub>2</sub>）</dd>
</dl>
</div>
</div>
<!-- .col --></div>
<!-- .int --></div>
