<div class="section" id="goals00">
<h2 class="smidashi">環境長期目標とRE100、EV100への加盟</h2>

<p>2016年7月に開催した「アスクル環境フォーラム2016」において、「2030年CO<sub>2</sub>ゼロチャレンジ」を発表しました。2017年11月に開催した第2回目となる「環境フォーラム2017」では、「RE100」と「EV100」へ加盟し<sub>※1</sub>、取り組みを進めていくことを宣言いたしました。「RE100」と「EV100」双方への加盟は、国内企業としては初の事例となります。（「RE100」は Renewable Energy100 を、「EV100」は Electric Vehicles100 を意味 しています。）<br />
●「RE100」は、事業運営を100%再生可能エネルギーで調達することを目標に掲げる企業が参加する国際ビジネスイニシアチブです。アスクルでは、「RE100」加盟に際し、以下2つの目標達成を宣言いたしました。<br />
・「 中 間 目 標 」：2025 年までに、本社および物流センターでの再生エネルギー利用率を 100%にする 。<br />
・「 目 標 」：2030 年までに、子会社を含めたグループ全体での再生エネルギー利用率を 100%にする 。<br />
●「EV100」は、事業運営に関係する車輌をすべて電気自動車に転換することを目標に掲げる企業が参加する国際ビジネスイニシアチブです。物流センターの運営や配送を担うグループ企業 ASKUL LOGIST 株式会社が所有およびリースにより使用する配送車輌について、2030 年までに100%EV化することに取り組んでまいります。</p>

<p class="note">※1：「RE100」と「EV100」双方とも、英国の非営利組織クライメイト・グループ（The Climate Group）が主催するビジネスイニシアチブです。 2014 年に始まった「RE100」 は、2019年10月現在世界の環境先進企業204社が加盟しており、当社の加盟は日本国内企業で 3 社目でした。また、2017 年に始まった「EV100」は、2019年10月現在世界で59社が加盟しており、当社の加盟は日本国内企業で 2 社目となります。</p>

<p><img alt="環境長期目標とRE100、EV100 への加盟" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/goals011.jpg" width="100%" /></p>

<p>●取り組み・進捗は以下をご覧ください。</p>
<ul class="list2 ml20">
	<li><a href="/ja/themes/91#goals12">RE100 / 再生可能エネルギーの導入について</a></li>
	<li><a href="/ja/themes/91#goals13">EV100 / 電気自動車の導入について</a></li>
</ul>
</div>

<div class="section" id="goals05">
<h2 class="smidashi">SBT（Science Based Targets：企業版2℃目標）認定取得</h2>

<p>アスクルは、当社が設定した温室効果ガス削減目標が、国際的なイニシアティブである『Science Based Targets(SBT)』（※1）により認定されました。SBT（Science Based Targets）は、産業革命時期比の気温上昇を「２℃未満」にするために、企業が気候科学（IPCC）に基づく削減シナリオと整合した削減目標を設定し、SBTイニシアティブにより認定を受けるものです。<br />
<br />
アスクルは、2016年、「2030年CO<sub>2</sub>ゼロチャレンジ」を宣言し、2017年には、国際的イニシアティブである「RE100（Renewable Energy 100%）」と「EV100（Electric Vehicle 100%）」に加盟しました。 事業所・物流センターからのCO<sub>2</sub>排出量をゼロに、また物流センターからお客様にお届けする車両（子会社所有またはリース）からのCO<sub>2</sub>排出量をゼロにする取り組みを進めており、この取り組み目標がSBTに認定されました。<br />
<br />
認定された温室効果ガス削減目標は、2030年度までに、グループ全体のScope1※1とScope2※に関するCO<sub>2</sub>排出量をゼロに、Scope3※3を12%削減するものです。</p>

<div class="col col42">
<p class="text02">※1：『<a href="https://sciencebasedtargets.org/" target="_blank">Science Based Targets（SBT）</a>』 2015年にCDP、国連グローバル・コンパクト、WRI（世界資源研究所）、WWF（世界自然保護基金）の4団体が共同で設立し、産業革命前からの気温上昇を2℃未満に抑えるために、科学的根拠に基づいた温室効果ガス排出削減目標の設定を企業に働きかけている。</p>

<div class="image02">
<p><a href="https://sciencebasedtargets.org/" target="_blank"><img alt="Science Based Targets（SBT）" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/goals012.png" width="140" /></a></p>
</div>
</div>

<p class="note">※2：Scope1　燃料の燃焼など、自らによる温室効果ガスの直接排出<br />
※3：Scope2　他者から供給された電気・熱・蒸気の使用に伴う間接排出<br />
※4：Scope3　サプライチェーンにおけるその他間接排出</p>
</div>

<div class="section" id="goals01">
<h2 class="smidashi">環境中長期目標の策定</h2>

<p>アスクルでは、2013年5月期に、「CO<sub>2</sub>排出量」と「資源消費量」の2つの軸で、2020年度をターゲットとした環境中長期目標を策定し、これらの目標を達成するために、事業活動と関連性の高い「低炭素」「資源消費」「グリーン購入」の3つの環境課題を取り組むべき重点分野として継続的な改善活動を進めてまいりました。<br />
2013年5月期での目標の策定後に、Askul Logi PARK福岡、Askul Logi PARK横浜などの物流センターの新設や個人向け通販LOHACOサービスの開始等があり、事業の拡大・変革を鑑み、2016年5月期からは新たに環境中長期目標の見直しを行いました。<br />
2016年5月期からの目標では、これまでと同じ「CO<sub>2</sub>排出量」と「資源消費量」の2つの軸とともに、新たに「環境に配慮した商品開発・調達」「お客様との環境コミュニケーション」の2つの目標を設定しました。<br />
「CO<sub>2</sub>排出量」については、事業所からのCO<sub>2</sub>排出量に加え、物流センターからお客様にお届けするまでの配送に伴うCO<sub>2</sub>排出量も算定の対象といたしました。<br />
また、「資源消費量」においては、お客様にお届けする「梱包資材量」だけでなく、事業所から排出される排出物量を含む資源消費量を算定の対象といたしました。<br />
これにより、アスクルのエコプラットフォームにおけるサプライチェーン全体をバウンダリとした環境中長期目標を設定しております。</p>

<table class="goals">
	<tbody>
		<tr>
			<th>環境中長期目標①</th>
			<td>事業活動に伴うCO<sub>2</sub>排出量を削減します。<br />
			【2020年目標】オーダー1明細行あたりCO<sub>2</sub>排出量20%削減※1</td>
		</tr>
		<tr>
			<th>環境中長期目標②</th>
			<td>事業活動に伴う資源消費量を削減します。<br />
			【2020年目標】オーダー1明細行あたりの資源消費量を20%削減※2</td>
		</tr>
		<tr>
			<th>環境中長期目標③</th>
			<td>環境に配慮した商品開発・調達を行います。</td>
		</tr>
		<tr>
			<th>環境中長期目標④</th>
			<td>環境情報の提供や安心安全に配慮し、お客様との環境コミュニケーションを行います。</td>
		</tr>
	</tbody>
</table>

<p class="note">※1：バウンダリ：アスクル事業所CO<sub>2</sub>排出量＋配送CO<sub>2</sub>排出量／基準年：2014年5月期<br />
※2：バウンダリ：アスクル事業所排出物量＋センター梱包時の資材消費量／基準年：2014年5月期</p>

<p><img alt="環境中長期目標の策定" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/goals08.jpg" width="100%" /></p>
</div>

<div class="section" id="goals02">
<h2 class="smidashi">環境中長期目標の進捗状況</h2>

<p>アスクル環境中長期目標は、お客様のオーダー1明細行あたりの「CO<sub>2</sub>排出量」と「資源消費量」において、2014年5月期を基準年とし、2021年5月期に20%削減するという数値目標を掲げました。</p>

<h3>■オーダー1明細行あたりCO<sub>2</sub>排出量</h3>

<p>「CO<sub>2</sub>排出量」における環境中長期目標は、基準年のCO<sub>2</sub>排出量に対して、オーダー1明細行あたり20%削減を目指しました。2021年5月期は、基準年比約17%の減少、前年比では約2%の増加となり、基準年比20%削減という目標を達成することができませんでした。<br />
2019年5月期までは、4センターにおいて、CO<sub>2</sub>ゼロの電力に切り替えたことで、大幅にCO<sub>2</sub>排出量を削減することができましたが、その後新センターの稼働開始、熱中症対策による夏季エアコン使用の増加等、電力使用量の増加により、徐々にCO<sub>2</sub>排出量が増加しました。<br />
今後は、事業所・物流センターからのCO<sub>2</sub>排出量については、省エネに取り組むとともに、CO<sub>2</sub>ゼロの電力への切り替えを実施してまいります。<br />
また、配送に伴うCO<sub>2</sub>排出量については、物流センターからお客様までの配送ルートの最適化、再配送の削減などの実施、さらに電気自動車を導入するなどにより、CO<sub>2</sub>排出量の削減に取り組んでまいります。</p>

<p><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/goals15.png" /></p>

<h3>■オーダー1明細行あたりの資源消費量</h3>

<p>「資源消費量」における環境中長期目標は、基準年の資源消費量に対して、オーダー1明細行あたり20%削減を目指しました。<br />
2021年5月期は、基準年に比べて約4%の増加となりました。資源消費量は、お客様にお届けする梱包資材量と事業所・物流センターからの廃棄物量からなります。<br />
今後は、梱包資材については、梱包品質を保ちながら資材量を削減する対策を引き続き取り組んでまいります。また、廃棄物削減については、廃棄ではなく資源として回収する量を増やし、最終処分量の削減に取り組みたいと考えています。</p>

<p><img alt="" src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/environment/img/goals16.png" /></p>

<h3>■「環境に配慮した商品開発・調達」、「環境情報の提供や安心安全に配慮したお客様との環境コミュニケーション」</h3>

<p>これら2つの目標は、アスクルの事業活動を通じて各部門の環境活動の中で取り組みました。環境目標の設定・具体的な計画策定・進捗管理は、環境マネジメントシステムの仕組みの中で運用していきました。これらは引き続き環境活動として取り組んでまいります。</p>
</div>
