<div class="section" id="model02">
<h2 class="smidashi">サプライチェーンにおけるCO<sub>2</sub>排出量</h2>

<p>アスクルでは2014年5月期から、商品の原料調達からお客様に届くまでの一連のプロセス（サプライチェーン）におけるCO<sub>2</sub>排出量を算定しています。<br />
サプライチェーンCO<sub>2</sub>排出量算定にあたっては、環境省「平成26年サプライチェーンにおける温室効果ガス排出量等算定方法調査委託業務」の一環で実施された「サプライチェーンにおける温室効果ガス排出量算定支援」（※1）の支援を受け、企業のサプライチェーン排出量算定のための基準である「スコープ3基準」に基づき、サプライチェーンを15個のカテゴリに分類・体系化し、それぞれのCO<sub>2</sub>排出量を算定しています。今後、この算定結果をもとに、サプライチェーン全体の排出量を算定・把握し、排出量が大きい部分や削減可能性の高い部分を明らかにし、効率的な削減対策を実施してまいります。</p>

<p>※1：詳細は、環境省「グリーン・バリューチェーンプラットフォーム」をご参照ください。<br />
<a href="http://www.env.go.jp/earth/ondanka/supply_chain/gvc/index.html" target="_blank">http://www.env.go.jp/earth/ondanka/supply_chain/gvc/index.html</a></p>

<div class="int">
<p>スコープ3に基づくサプライチェーンCO<sub>2</sub>排出量算定結果（2021年5月期）</p>

<table class="type01">
	<tbody>
		<tr>
			<th class="nowrap">カテゴリ</th>
			<th class="nowrap">カテゴリ名</th>
			<th class="nowrap">t-CO<sub>2</sub></th>
		</tr>
		<tr>
			<td>カテゴリ1</td>
			<td class="nowrap">「購入した製品・サービス」</td>
			<td class="nowrap rgt">1,120,351</td>
		</tr>
		<tr>
			<td>カテゴリ2</td>
			<td class="nowrap">「資本財」</td>
			<td class="nowrap rgt">16,587</td>
		</tr>
		<tr>
			<td>カテゴリ3</td>
			<td class="nowrap">「Scope1,2に含まれない燃料及びエネルギー活動」</td>
			<td class="nowrap rgt">3,831</td>
		</tr>
		<tr>
			<td>カテゴリ4</td>
			<td class="nowrap">「輸送、配送（上流）」</td>
			<td class="nowrap rgt">27,842</td>
		</tr>
		<tr>
			<td>カテゴリ5</td>
			<td class="nowrap">「事業から出る廃棄物」</td>
			<td class="nowrap rgt">1,295</td>
		</tr>
		<tr>
			<td>カテゴリ6</td>
			<td class="nowrap">「出張」</td>
			<td class="nowrap rgt">77</td>
		</tr>
		<tr>
			<td>カテゴリ7</td>
			<td class="nowrap">「雇用者の通勤」</td>
			<td class="nowrap rgt">1,399</td>
		</tr>
		<tr>
			<td>カテゴリ8</td>
			<td class="nowrap">「リース資産（上流）」</td>
			<td class="nowrap rgt">0</td>
		</tr>
		<tr>
			<td>カテゴリ9</td>
			<td class="nowrap">「輸送、配送（下流）」</td>
			<td class="nowrap cnt">&mdash;</td>
		</tr>
		<tr>
			<td>カテゴリ10</td>
			<td class="nowrap">「販売した製品の加工」</td>
			<td class="nowrap cnt">&mdash;</td>
		</tr>
		<tr>
			<td>カテゴリ11</td>
			<td class="nowrap">「販売した製品の使用」</td>
			<td class="nowrap rgt">160,903</td>
		</tr>
		<tr>
			<td>カテゴリ12</td>
			<td class="nowrap">「販売した製品の廃棄」</td>
			<td class="nowrap rgt">126,180</td>
		</tr>
		<tr>
			<td>カテゴリ13</td>
			<td class="nowrap">「リース資産（下流）」</td>
			<td class="nowrap cnt">&mdash;</td>
		</tr>
		<tr>
			<td>カテゴリ14</td>
			<td class="nowrap">「フランチャイズ」</td>
			<td class="nowrap cnt">&mdash;</td>
		</tr>
		<tr>
			<td>カテゴリ15</td>
			<td class="nowrap">「投資」</td>
			<td class="nowrap cnt">&mdash;</td>
		</tr>
	</tbody>
</table>

<p>2020年5月期までの上記「スコープ3に基づくサプライチェーンCO<sub>2</sub>排出量算定結果」は、一般財団法人日本品質保証機構による第三者検証を受けています。2021年5月期のデータについても2022年5月期中に第三者検証を受ける予定です。</p>
</div>
<!-- .int --></div>
