<div class="section customer_policy_wrap" id="policy">
  <h2 class="smidashi">お客様対応の基本方針および行動指針</h2>
  <div class="customer_policy">
    <h2 class="customer_policy_ttl">お客様対応の基本方針</h2>
    <p class="customer_policy_date">制定日　2021年9月7日<br />
      アスクル株式会社　代表取締役社長 CEO　吉岡　晃</p>
    <p>私たちは、常にお客様の声に耳を傾け、仕事場とくらしと地球の明日に「うれしい」を届け続けるために進化してまいります。<br />
      具体的には、以下3点を重点項目として積極的に取り組みます。
    </p>
    <section>
      <h3 class="customer_policy_subttl">お客様とのお約束を守る</h3>
      <p class="customer_policy_txt">お客様と約束している「納期」「品質」「品揃え」をはじめとしたアスクルサービスを守るために一人ひとりがそれぞれの立場で最善の行動を追求し続けます。</p>
    </section>
    <section>
      <h3 class="customer_policy_subttl">お客様の声に基づく改善と社内共有化の仕組み構築</h3>
      <p class="customer_policy_txt">お客様にさらに満足いただける商品・サービスをご提案できるよう、継続的改善に努めてまいります。<br />
        そのために、テクノロジー活用によるお客様の声の見える化、分析、共有化の仕組みを構築します。
      </p>  
    </section>
    <section>
      <h3 class="customer_policy_subttl">商品・サービス進化のためのマネジメントサイクル構築</h3>
      <p class="customer_policy_txt">トップマネジメント参加による品質マネジメント委員会・お客様満足向上委員会等のマネジメントサイクルを運営し、お客様の視点に立った商品・サービスの進化に取り組みます。</p>  
    </section>
  </div>

  <div class="customer_policy">
    <h2 class="customer_policy_ttl">お客様対応の行動指針</h2>
    <p class="customer_policy_date">制定日　2021年9月7日<br />
      アスクル株式会社　代表取締役社長 CEO　吉岡　晃</p>
    <ol>
      <li class="customer_policy_item">(1)お客様に対して、迅速、誠実、公平を心がけ、お客様の立場に立って自分事として考え、真摯に対応します。</li>
      <li class="customer_policy_item">(2)お客様に適切な情報を、わかりやすく提供するよう努めてまいります。</li>
      <li class="customer_policy_item">(3)お客様の権利を保護するため、関連法規を遵守して行動します。</li>
    </ol>
  </div>
</div>