<div class="topNews clearfix">
	<h2 class="topTopicsH2"><span class="btmBg">トピックス</span></h2>
	<dl class="News-list">
		<dt>2021.09.01</dt>
		<dd class="text-overflow leftGt"><a href="/ja/themes/167#csr_sustainability05">「マテリアリティ（重要課題）」のページを更新しました。</a></dd>
		<dt>2021.08.23</dt>
		<dd class="text-overflow leftGt"><a href="/ja/themes/115">Special Issue「東日本復興支援～事業応援プロジェクト～」のページを新設しました。</a></dd>
		<dt>2021.08.23</dt>
		<dd class="text-overflow leftGt"><a href="/ja/themes/170">Special Issue「東日本復興支援（教育支援）」のページを更新しました。</a></dd>
		<dt>2021.08.23</dt>
		<dd class="text-overflow leftGt"><a href="/ja/themes/114">Special Issue「ASKUL Kodomo Art Project」のページを更新しました。</a></dd>
		<dt>2021.07.29</dt>
		<dd class="text-overflow leftGt"><a href="/ja/themes/174">環境「TCFD提言に基づく情報開示」のページを新設しました。</a></dd>
		<dt>2021.07.29</dt>
		<dd class="text-overflow leftGt"><a href="/ja/themes/175">社会「消費者志向経営の推進（消費者志向自主宣言）」のページを新設しました。</a></dd>
		<dt>2021.07.29</dt>
		<dd class="text-overflow leftGt"><a href="/ja/themes/148">社会「お取引先様との取り組み」「社会貢献」のページを更新しました。</a></dd>
		<dt>2021.07.29</dt>
		<dd class="text-overflow leftGt"><a href="/ja/themes/87">ガバナンス「情報セキュリティ」のページを更新しました。</a></dd>
		<dt>2021.07.01</dt>
		<dd class="text-overflow leftGt"><a href="https://www.askul.co.jp/kaisya/dx/" target="_blank">「ASKUL Transformation with Digital」（アスクルのDXの取り組み）へのリンクを追加しました。</a></dd>
	</dl>
	<div class="topTopicsPast"><a class="leftGt" href="/ja/themes/156">過去の一覧はこちら</a></div>
</div>

<section>
	<div class="topRelatedLink">
		<h2 class="topRelatedLinkTtl"><span class="btmBg">関連リンク</span></h2>
		<div class="topRelatedLinkImgs">
			<figure><a href="https://www.askul.co.jp/guide/knowledge/ecoturn.html" target="_blank"><img src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/img/top_bnr_01.png" alt="ECO-TURN配送について"></a></figure>
			<figure><a href="https://www.askul.co.jp/f/green/service/" target="_blank"><img src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/img/top_bnr_02.png" alt="アスクルのECO活動サポート"></a></figure>
			<figure><a href="http://www.info.askul.co.jp/reddplus/" target="_blank"><img src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/img/top_bnr_03.png" alt="ふやせば、へらせるんだって！住友林業 x アスクル"></a></figure>
			<figure><a href="http://1for2.askul.co.jp/about_1boxfor2tree/" target="_blank"><img src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/img/top_bnr_04.png" alt="1 box for 2 trees"></a></figure>
			<figure><a href="https://www.askul.co.jp/f/green/service/ecoyobi.html" target="_blank"><img src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/img/top_bnr_05.png" alt="エコ呼びかけポスターダウンロード"></a></figure>
			<figure><a href="http://www.newtohoku.org/" target="_blank"><img src="https://sustainability-cms-staging5-7-s3.s3-ap-northeast-1.amazonaws.com/csr/img/top_bnr_06.png" alt="新しい東北　官民連携推進協議会"></a></figure>
		</div>
	</div>
</section>
<section>
  <a href="https://www.askul.co.jp/eqt/enqInputView/?eqtId=CMM20160713E" target="_blank">
    <div class="topEnquete">
			<div class="topEnqueteSub">アンケートご協力のお願い</div>
			<div class="topEnqueteTtl">ご意見・ご感想をお聞かせ下さい</div>
    </div>
  </a>
</section>