@charset "utf-8";

.contents h3.basic-policy-h3 {
  background-color: #111184;
  color: #ffffff;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
}

.basic-policy-txt {
  padding: 10px 20px;
  font-size: 14px;
  border: solid 1px #CCC;
  border-top: none;
}

.sus_process {
  margin-top: 20px;
}

.sus_process_h4 {
  font-size: 1.4rem;
  color: #41868f;
  font-weight: bold;
  margin-bottom: 3px;
}
.sus_process table.type05 th {
  white-space: normal;
  padding: 4px 5px 3px 5px;
}
.sus_process_dt {
  margin-bottom: 5px;
}
.sus_process_dd {
  padding: 0 0 0 17px;
  background: url(../../common/img/contentsh4.gif) no-repeat 0 3px;
  line-height: 2rem;
}
.sus_process td img {
  margin: 5px 3px 0 0;
}
.sus_process td img:nth-child(3) {
  margin-right: 0;
}
.sus_process table:last-child {
  margin-top: 10px;
}

.sus_kpi {
  margin-top: 20px;
}
table.sus_kpi_tbl tbody tr:nth-child(2) td:nth-child(2) {
  width: 14%;
}
table.sus_kpi_tbl thead tr:nth-child(1) th:nth-child(2) {
  width: 30%;
}
table.sus_kpi_tbl th,
table.sus_kpi_tbl td {
  padding: 4px 5px 3px;
}
.sus_kpi_tbl th {
  vertical-align: middle;
}
.sus_kpi_tbl th span,
.sus_kpi_tbl td span {
  display: inline-block;
}
.sus_process_mode {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.sus_process_orientation { /* 英数字の向きを縦にする */
  -ms-text-combine-horizontal: all;
  text-combine-upright: all;
}
.sus_process_done {
  background-color: #FFC000;
}
.sus_process_yet {
  background-color: #FDE9D9;
}
table.sus_kpi_tbl td.sus_process_kpi_bridge {
  border: none;
}